Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Setting columnId myself instead of using a secret for testing purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

whatever
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Just work please
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Include github-handle variable for Sarah Sanger
  _projects/civic-tech-jobs.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

added _config.docker.yml file to not be spellchecked by cspell
  cspell.json
Due: none

added assets/ to cspell.json
  cspell.json
Due: none

update Slack icon name in resource card
  _includes/resource-card.html
Due: prettier --write

added github-handle to civic-tech-index
  _projects/civic-tech-index.md
Due: prettier --write

ignore _config.yml in cspell config
  cspell.json
Due: none

Revert "ignore _config.yml in cspell config"
  cspell.json
Due: none

add `hackforla`/`redirections` to cspell dictionary
  cspell.json
Due: none

edited line that's supposed to set eventTimeStamp to 8 days before the real time stamp
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

this time?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

this time again?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

update Slack icon name in resource card (#6434)
  _includes/resource-card.html
Due: prettier --write

Added () to .getDate()
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added better formatting for eventTypestamp debug
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

now will the timestamp show correctly?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Updated testing timing for timestamps
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Changed to 0
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Let's see what the eventTimestamp is by default
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added additional debug logging to eventTimestamp
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Modified formatting
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

and again!
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Include github-handle variable for Sarah Sanger (#6431)
  _projects/civic-tech-jobs.md
Due: prettier --write

added '_site/' to ignorePaths array (#6417)
  cspell.json
Due: none

added github-handle to civic-tech-index (#6435)
  _projects/civic-tech-index.md
Due: prettier --write

Updated requested changes variable name and indentation of file
  assets/js/elements/noResultsMessageFilter.js
Due: prettier --write, eslint

Let's figure out the exact type of eventTimeStamp
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Wrote new code to change the dates for testing purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

There, now it should work.
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Logging timeline so I can understand its structure
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

ignore _config.yml in cspell config (#6436)
  cspell.json
Due: none

Revert "ignore _config.yml in cspell config (#6436)"
  cspell.json
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
