Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Refactor "Schedule Friday" for modularity (#7367)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/hide-issue-comment.js
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

added github handle for Muyin Zheng
  _projects/home-unite-us.md
Due: prettier --write

Added github-handle for Michael Morgan.
  _projects/design-systems.md
Due: prettier --write

added github-handle to Kristelle Gumaru
  _projects/home-unite-us.md
Due: prettier --write

Update hide-issue-comment.js
  github-actions/utils/hide-issue-comment.js
Due: prettier --write, eslint

added github handle for Muyin Zheng (#7427)
  _projects/home-unite-us.md
Due: prettier --write

add empty github handle for Jed Stewart
  _projects/home-unite-us.md
Due: prettier --write

update _projects/home-unite-us.md (#7315)
  _projects/home-unite-us.md
Due: prettier --write

Fix typo: change Github to GitHub in CONTRIBUTTING.md
  CONTRIBUTING.md
Due: prettier --write

Added github handle for Priyanka Talwar (#7369)
  _projects/tech-work-experience.md
Due: prettier --write

Add empty github handle for Jed Stewart (#7437)
  _projects/home-unite-us.md
Due: prettier --write

Added GitHub handle for Moji Jimoh
  _projects/youthjusticenav.md
Due: prettier --write

final edits readying for merge
  .github/workflows/update-label-directory.yml
  github-actions/utils/_data/label-directory.json
Due: none

Create JSON file and related functionality for replacing hard-coded labels (#6442)
  .github/workflows/update-label-directory.yml
  github-actions/utils/_data/label-directory.json
  github-actions/utils/retrieve-label-directory.js
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

Update label directory
  github-actions/utils/_data/label-directory.json
Due: none

Update Expunge Assist with new description, add tools, wiki and overview link
  _projects/expunge-assist.md
  assets/pdfs/Expunge-Assist-One-Sheet.pdf
Due: prettier --write

Fix email link in Children's privacy section to allow users to send emails directly
  _data/internal/privacy-policy.yml
Due: none
