Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Fixed GitHub spelling
  CONTRIBUTING.md
  _data/internal/communities/data-science.yml
  _data/internal/communities/engineering.yml
  _data/internal/communities/ops.yml
  _data/internal/communities/project-management.yml
  _data/internal/communities/ui-ux.yml
  _data/internal/toolkitresources.yml
  _data/navigation/social.yml
  _guide-pages/github-issues.html
  _projects/ems-triage-tracker.md
  _projects/tech-work-experience.md
  _sass/components/_communities-of-practice.scss
  _sass/components/_guides.scss
  github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/utils/format-comment.js
  github-actions/utils/post-issue-comment.js
  redirections/github.md
Due: prettier --write, stylelint --syntax=scss, eslint

github-handle Bonnie - #6167
  _projects/civic-tech-index.md
Due: prettier --write

Update update-label-directory.yml
  .github/workflows/update-label-directory.yml
Due: none

Update update-label-directory.js
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

remove Cristina Or from _projects/website.md (#6410)
  _projects/website.md
Due: prettier --write

added github handle to Maxwell Countryman Skewes profile 6180 (#6438)
  _projects/civic-tech-index.md
Due: prettier --write

img tag refactored (#6441)
  _includes/events-page/right-col-content.html
Due: prettier --write

updated prework checklist
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

added github-handle to Aleiya Gafar
  _projects/brigade-organizers-playbook.md
Due: prettier --write

added github-handle to Kevin Phan in civic-tech-index.md file
  _projects/civic-tech-index.md
Due: prettier --write

github-handle Bonnie - #6167 (#6448)
  _projects/civic-tech-index.md
Due: prettier --write

L239-240: Changed innerHTML to textContent
  assets/js/wins.js
Due: prettier --write, eslint

L315-320, 345-353: Creating new span elements for appending
  assets/js/wins.js
Due: prettier --write, eslint

L431-444: Updated innerHTML to textContent
  assets/js/wins.js
Due: prettier --write, eslint

L499-540: Overlay elements updated to use textContent
  assets/js/wins.js
Due: prettier --write, eslint

Corrected typo, accessing cards instead of card
  assets/js/wins.js
Due: prettier --write, eslint

added git-handle-Briana Bennet
  _projects/civic-tech-index.md
Due: prettier --write

Fixed bug where dynamic text was not outside <span>
  assets/js/wins.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

resolve codeQL alert 22 and 24
  pages/guides.html
Due: prettier --write

added git-handle-Briana Bennet (#6461)
  _projects/civic-tech-index.md
Due: prettier --write

Added github-handle for Muhi-Dean Othman in 100-automations.md (#6443)
  _projects/100-automations.md
Due: prettier --write

added github-handle to Aleiya Gafar (#6457)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

added github-handle under Kevin Phan line27
  _projects/civic-tech-index.md
Due: prettier --write

Fixed the technology and language filters
  assets/js/current-projects.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
