Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update Communities of Practice: Engineering (Remove Alejandro Gomez) #6074
  _data/internal/communities/engineering.yml
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Resolve CodeQL alert 20 "Potentially unsafe external link" #6054
  pages/communities-of-practice.html
Due: prettier --write

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

refactored slack img with svg icon. fixed css for icons (#6098)
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

Added code of conduct link to footer (#6100)
  _includes/footer.html
  redirections/conduct.md
Due: prettier --write

Add github-handle variable (#6099)
  _projects/100-automations.md
Due: prettier --write

Add github-handle for Nga Do in civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Due: prettier --write

Replaced old diversity-equity-inclusion.yml file with 3 new credit files
  _data/internal/credits/diversity-equity-inclusion-composite.yml
  _data/internal/credits/diversity-equity-inclusion-main.yml
  _data/internal/credits/diversity-equity-inclusion-secondary.yml
  _data/internal/credits/diversity-equity-inclusion.yml
Due: none

Removed '"' around Progress in title to prevent error from docker
  _data/internal/credits/diversity-equity-inclusion-secondary.yml
Due: none

Update pages/credits.html to display 'compiled-by' and 'compiled-by-link' variables
  pages/credits.html
Due: prettier --write

Fixed formatting to properly display 'compiled-by' and 'compiled-by-link' variables
  pages/credits.html
Due: prettier --write

Added links to file
  _data/internal/credits/diversity-equity-inclusion-composite.yml
Due: none

Added github-handle variable to Salima Yacoubi
  _projects/civic-tech-jobs.md
Due: prettier --write

Solution for 'Add github-handle for Tin Wei Chung in civic-tech-jobs.md'
  _projects/civic-tech-jobs.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
