Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Consolidate reusable functions in github-actions to utils folder (#5944)
  github-actions/pr-instructions/post-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/format-comment.js
  github-actions/utils/get-timeline.js
  github-actions/utils/post-issue-comment.js
Due: prettier --write, eslint

Edits to Tools data for green-earth-os.md-6020 (#6072)
  _projects/green-earth-os.md
Due: prettier --write

Updated redirect_to in codeforamerica.md (#6063)
  redirections/codeforamerica.md
Due: prettier --write

replace Code for America link with hfla
  _config.yml
Due: none

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

updated wiki link for bop (#6061)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Fixed linter error on line 29
  _guide-pages/2FA.html
Due: prettier --write

Refactor HTML to resolve linter error
  _guide-pages/2FA.html
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Update post-labels-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

Removed reference to CFA in Privacy Policy (#6073)
  pages/privacy-policy.html
Due: prettier --write

updating home unite us tools section (#6068)
  _projects/home-unite-us.md
Due: prettier --write

removed alejandro gomez info from engineering yml file
  _data/internal/communities/engineering.yml
Due: none

Fix bug GHA Issue Trigger 5164 (#6021)
  github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update CONTRIBUTING.md Section 2.7.f ii SSH for Windows (#5974)
  CONTRIBUTING.md
Due: prettier --write

removed Code for America alt text on about us page (#6025)
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

replace Code for America link with hfla (#6075)
  _config.yml
Due: none

Fixed linter error on line 29 (#6076)
  _guide-pages/2FA.html
Due: prettier --write

Refactor HTML to resolve linter error (#6077)
  _guide-pages/2FA.html
Due: prettier --write

Update check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

fixed svg rendering issue for webkit based browsers
  pages/getting-started.html
Due: prettier --write

refactored slack imgs to svg icons and adjusted CSS
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

Update diversity-equity-inclusion-composite.yml comments to show main and secondary image credit locations
  _data/internal/credits/diversity-equity-inclusion-composite.yml
Due: none

refactored slack img with svg icon. fixed css for icons
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

Add github-handle variable #5504
  _projects/100-automations.md
Due: prettier --write

changed value of redirect_to, to https://www.hackforla.org/code-of-conduct
  redirections/conduct.md
Due: prettier --write

added Code of Conduct link to footer
  _includes/footer.html
Due: prettier --write
