Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

add repo id and turn project var into arr
  _projects/civic-tech-index.md
  assets/js/project.js
Due: prettier --write, eslint

merge arrays of languages and remove duplicates
  assets/js/project.js
Due: prettier --write, eslint

update website.md with Ren Demeis-Ortiz info
  _projects/website.md
Due: prettier --write

feat: automation for moving ice box items to new issue approval column (#4950)
  .github/workflows/new-issue-from-ice-box.yml
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Add test file
  newEslintTest.js
Due: prettier --write, eslint

Remove bad file
  newEslintTest.js
Due: prettier --write, eslint

refactor-current-projects-4860 (#5034)
  assets/js/current-projects.js
Due: prettier --write, eslint

removed ending slash for IMG tag-issue #5027
  _includes/about-page/about-card-accomplishments.html
Due: prettier --write

added name,role,links and picture
  _projects/website.md
Due: prettier --write

added Ronald Paek _projects/website.md ln75
  _projects/website.md
Due: prettier --write

Updated scss to only target h2 on privacy policy page (#4945)
  _sass/components/_privacy-policy.scss
Due: prettier --write, stylelint --syntax=scss

fixed the yaml error after push
  _projects/website.md
Due: prettier --write

Refactor img tag
  pages/getting-started.html
Due: prettier --write

add additional-repo-ids as separate
  _projects/civic-tech-index.md
Due: prettier --write

removed Brian Mui from Site Project Team (#5006)
  _projects/website.md
Due: prettier --write

added name as Adrian Ang, role and picture
  _projects/website.md
Due: prettier --write

feat: circles and donation seperate rows
  _includes/join-donate-card.html
Due: prettier --write

feat: circles now inline. bug of donation card being above circles
  _includes/join-donate-card.html
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

bug: needed to assign rows to get cards in order
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

feat: included in-kind html
  _includes/join-donate-card.html
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

style: centered in-kind header
  _includes/join-donate-card.html
Due: prettier --write

update website.md with Ren Demeis-Ortiz info (#5044)
  _projects/website.md
Due: prettier --write

Update project profile: Add Ronald Paek to Website Team
  _projects/website.md
Due: prettier --write

Revert "feat: automation for moving ice box items to new issue approval column (#4950)"
  .github/workflows/new-issue-from-ice-box.yml
Due: none

Revert "feat: automation for moving ice box items to new issue approval column (#4950)" (#5053)
  .github/workflows/new-issue-from-ice-box.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
