Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update post-to-skills-issue.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Update Github handle for Santiago Vidal (#8423)
  _projects/website.md
Due: prettier --write

Update skills-directory.js
  github-actions/utils/skills-directory.js
Due: prettier --write, eslint

Update post-to-skills-issue.js: fixed syntax error for (!skillsInfo) function
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Update post-to-skills-issue.js: syntax error fix
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Update skills-directory.js: syntax fix for `updateSkillsDirectory` function
  github-actions/utils/skills-directory.js
Due: prettier --write, eslint

Revise path to `gha-` + action, and use major version tag
  .github/workflows/add-update-label-weekly.yml
Due: none

redid changes for issue
  _data/internal/communities/ops.yml
  assets/js/communities-of-practice.js
Due: prettier --write, eslint

added Jason Shi to Civic Tech Jobs page
  _projects/civic-tech-jobs.md
Due: prettier --write

Another attempt at fixing the CodeQL race condition
  tests/frontend/transformers/jekyll-js-transformer.js
Due: prettier --write, eslint

Breaks CI GHA into separate workflow with implicit synchronize trigger
  .github/workflows/pr-ci-tests.yml
  .github/workflows/pull-request-trigger.yml
Due: none

Adds PR hook to run CI when opening a PR into gh-pages
  .github/workflows/pull-request-trigger.yml
Due: none

Fixes js-yaml dependency
  .github/workflows/pull-request-trigger.yml
  docker-compose.yml
  tests/package-lock.json
  tests/package.json
Due: none

Minor refactor of targetted frontend source files for test
  _includes/current-projects.html
  assets/js/current-projects-utils.js
  assets/js/current-projects.js
  assets/js/project-meetings.js
  assets/js/project.mjs
  assets/js/right-col-content.js
  assets/js/utility/vrms-events-utils.mjs
  assets/js/utility/vrms-events.js
  assets/js/utility/vrms-events.mjs
Due: prettier --write, eslint

Adds initial Jest testing infrasctucture
  .gitignore
  docker-compose.yml
  tests/frontend/transformers/jekyll-js-transformer.js
  tests/jest.config.js
  tests/package-lock.json
  tests/package.json
Due: prettier --write, eslint

Resolves some CodeQL alerts
  tests/frontend/integration/hamburger-nav.intg.test.js
  tests/frontend/transformers/jekyll-js-transformer.js
Due: prettier --write, eslint

Adds proof-of-concept Jest tests
  tests/frontend/integration/hamburger-nav.intg.test.js
  tests/frontend/integration/vrms-events.intg.test.mjs
  tests/frontend/unit/current-projects-utils.unit.test.js
  tests/frontend/unit/vrms-events-utils.unit.test.mjs
Due: prettier --write, eslint

Updates test names to be "active", updates js-yaml version
  tests/frontend/integration/hamburger-nav.intg.test.js
  tests/frontend/integration/vrms-events.intg.test.mjs
  tests/frontend/unit/current-projects-utils.unit.test.js
  tests/frontend/unit/vrms-events-utils.unit.test.mjs
  tests/package-lock.json
  tests/package.json
Due: prettier --write, eslint

Added Phalguni Kambhalur to the HFLA Site Current Project Team
  _projects/website.md
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

added member to HackforLA Website project, with proper formatting, per issue #8329
  _projects/website.md
Due: prettier --write

Consolidates broken-out utils files in assets/js
  assets/js/current-projects-utils.js
  assets/js/current-projects.js
  assets/js/utility/vrms-events-utils.mjs
  assets/js/utility/vrms-events.mjs
Due: prettier --write, eslint

Removes integration tests (out of scope_
  tests/frontend/integration/hamburger-nav.intg.test.js
  tests/frontend/integration/vrms-events.intg.test.mjs
  tests/frontend/unit/current-projects.test.js
  tests/frontend/unit/vrms-events.test.mjs
  tests/package-lock.json
Due: prettier --write, eslint

IMG Tag Markup Style Update
  CONTRIBUTING.md
Due: prettier --write

Create issue template for populating github handle
  .github/ISSUE_TEMPLATE/populate-github-handle.md
Due: prettier --write

changed status to on hold and removed current leadership
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Update skills-directory.json
  github-actions/utils/_data/skills-directory.json
Due: none

Update activity-trigger.yml
  .github/workflows/activity-trigger.yml
Due: none

Changes agenda number in both files
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/utils/_data/static-issue-nums.json
Due: prettier --write, eslint

Create workflow to check linked PR
  .github/workflows/check-closed-issue-for-linked-pr.yml
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/check-issue-labels-and-linked-prs.js
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/check-issue-labels-and-linked-prs.test.js
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/reopen-issue.js
Due: prettier --write, eslint

update workflow in response to review
  .github/workflows/check-closed-issue-for-linked-pr.yml
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/check-issue-labels-and-linked-prs.js
Due: prettier --write, eslint

Add delay to allow other GH Action changes
  .github/workflows/check-closed-issue-for-linked-pr.yml
Due: none

Remove test file
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/check-issue-labels-and-linked-prs.test.js
Due: prettier --write, eslint

Add Ryan Keller to Website project page
  _projects/website.md
Due: prettier --write

Delete github-actions/workflow-configs/_data/label-directory.json
  github-actions/workflow-configs/_data/label-directory.json
Due: none

Update add-update-instructions-template.md
  github-actions/workflow-configs/templates/add-update-instructions-template.md
Due: prettier --write
