Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Refactor "Issue Trigger" for modularity (#7373)
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/utils/get-team-members.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

correction to variable projectItems --> projectData
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

correction to variable projectItems --> projectData (#7503)
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

First Commit: Updated the leadership variable with the updated team in communities/ops.yml
  _data/internal/communities/ops.yml
Due: none

update vrms regex
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

Replace Github with GitHub _data/internal/communities/ops.yml (#7468)
  _data/internal/communities/ops.yml
Due: none

Changed `gh-requests/Code.js line 62 back to elizabethhonest
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

Made log message resulting from SHA retrieval failure more descriptive
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

First Commit: Updated the leadership variable with the updated team in communities/ops.yml (#7504)
  _data/internal/communities/ops.yml
Due: none

Verify that PR creator is a member of the website-write team (#6971)
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Update check-linked-issue.js
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

Update label directory
  github-actions/utils/_data/label-directory.json
Due: none

Update _project-page.scss
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

Add Lola Sarumi to Home Unite Us leadership
  _projects/home-unite-us.md
Due: prettier --write

Removing instances of "test" as a substring in the events page - #6369 (#7464)
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

Update Skills Issue template FAQ section
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Update Skills Issue template FAQ section (#7513)
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Capitalize Slack as proper noun
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Due: prettier --write

Refactored image tag in section 1.3 (#7496)
  CONTRIBUTING.md
Due: prettier --write

Revert "Cloned wins-form-responses Code.js from Google"
  google-apps-scripts/wins-form-responses/appsscript.json
Due: none

removed slash at the closure image tag on section 2.4.b as requested in the issue #7097
  CONTRIBUTING.md
Due: prettier --write

Add Lola Sarumi to Home Unite Us leadership (#7511)
  _projects/home-unite-us.md
Due: prettier --write

replaced 'Github' with 'GitHub' in wins.js
  assets/js/wins.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
