Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Added 'test/' to ignorePaths array in cspell.json
  cspell.json
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

updated spell checker via cspell.json by adding 'Inclusivity'
  cspell.json
Due: none

Re-add lines 1-4 from original code
  _sass/elements/_icons.scss
Due: prettier --write, stylelint --syntax=scss

change the location of a function
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/utils/format-comment.js
Due: prettier --write, eslint

fixing small errors that popped up
  CONTRIBUTING.md
  _projects/expunge-assist.md
Due: prettier --write

Refactored CSS so icon-slack.svg can use various colors (#6003)
  _sass/elements/_icons.scss
Due: prettier --write, stylelint --syntax=scss

updates cspell.json casing
  cspell.json
Due: none

Update issue-template-parser.js
  github-actions/utils/issue-template-parser.js
Due: prettier --write, eslint

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

updated contributing.md 3.1.b VI documentation (#5955)
  CONTRIBUTING.md
Due: prettier --write

Update vrms-data.yml to fail when the VRMS API fails to return a valid response 5691 (#5976)
  .github/workflows/vrms-data.yml
Due: none
