Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Deleted github-actions/utils/_data/skillsIssueNums-8-22.csv
  github-actions/utils/_data/skillsIssueNums-8-22.csv
Due: none

Restore guides-team.md (remove unrelated change)
  _projects/guides-team.md
Due: prettier --write

Update project-profile-card-review-and-update.yml
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Added instructions for Website Team leads using textarea field
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

completed issue 7382
  _projects/website.md
Due: prettier --write

Fixed form error
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

testing if markdown can do hidden comments
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Fixed error
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Testing collapsible details section
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Create add-test-metadata.yml
  .github/add-test-metadata.yml
Due: none

Delete .github/add-test-metadata.yml
  .github/add-test-metadata.yml
Due: none

remove express label from civic tech jobs page
  _projects/civic-tech-jobs.md
Due: prettier --write

remove Node.JS from tech list
  _projects/civic-tech-jobs.md
Due: prettier --write

Update post-to-skills-issue.js to reflect ryanfkeller's requested changes pertaining to "activity comment"
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Added label "Complexity: See issue making label"
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

added git-handle for Bonnie in vrms
  _projects/vrms.md
Due: prettier --write

Added a count of the filters selected to the filter bar, added clar all function and removed pills of filters to reduce clutter on mobile view
  _includes/current-projects.html
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
Due: prettier --write, stylelint --syntax=scss, eslint

deleted message
  _sass/elements/_search-bar.scss
Due: prettier --write, stylelint --syntax=scss

cancel and apply buttons arent covered by the search bar
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Pinned filter and search bar to the top of the page when scrolling
  _includes/current-projects.html
  _sass/elements/_dropdown_filters.scss
  _sass/elements/_search-bar.scss
Due: prettier --write, stylelint --syntax=scss

Updated the filter open view to show the filters chosen at the top
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

fixed gap on top of filter for consistency
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

duplicated the search bar and gave it different classes to ba able to display it at different screen sizes
  _includes/current-projects.html
  _sass/elements/_search-bar.scss
  assets/js/current-projects.js
Due: prettier --write, stylelint --syntax=scss, eslint

Fix duplicate .search-bar-mobile selector
  _sass/elements/_search-bar.scss
Due: prettier --write, stylelint --syntax=scss

spaces on conditions for readability
  assets/js/current-projects.js
Due: prettier --write, eslint

Update Wins overlay to use different SVG
  _includes/wins-page/wins-overlay.html
  _sass/components/_wins-page.scss
  assets/js/wins.js
Due: prettier --write, stylelint --syntax=scss, eslint

added github-handle for Bonnie in vrms
  _projects/vrms.md
Due: prettier --write

Create add-update-label-weekly.yml
  .github/workflows/add-update-label-weekly.yml
Due: none

Create add-update-instructions-template.md
  .github/workflow-configs/add-update-instructions-template.md
Due: prettier --write

Create add-update-instructions-template.md
  .github/workflow-configs/template/add-update-instructions-template.md
Due: prettier --write

Create label-directory.yml
  .github/workflow-configs/label-directory.yml
Due: none

Create add-update-label-weekly-config.yml
  .github/workflow-configs/add-update-label-weekly-config.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
