Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Adds JS scripts and templates for the new Flag Issues Unlabeled After Deletion workflow
  github-actions/flag-issues-unlabeled-after-deletion/scripts/create-notification-issue.js
  github-actions/flag-issues-unlabeled-after-deletion/scripts/format-issue-list.js
  github-actions/flag-issues-unlabeled-after-deletion/scripts/get-unlabeled-issues.js
  github-actions/flag-issues-unlabeled-after-deletion/scripts/post-to-agenda.js
  github-actions/flag-issues-unlabeled-after-deletion/templates/agenda-error-issue-body.md
  github-actions/flag-issues-unlabeled-after-deletion/templates/agenda-issue-comment.md
  github-actions/flag-issues-unlabeled-after-deletion/templates/notification-issue-body.md
  github-actions/flag-issues-unlabeled-after-deletion/templates/notification-issue-comment.md
  github-actions/utils/_data/static-issue-nums.json
  github-actions/utils/create-templated-issue.js
  github-actions/utils/get-la-timestamp.js
  github-actions/utils/populate-template.js
  github-actions/utils/post-templated-comment.js
Due: prettier --write, eslint

Fixes post-to-agenda.js CodeQL warning
  github-actions/flag-issues-unlabeled-after-deletion/post-to-agenda.js
Due: prettier --write, eslint

Creates new Flag Issues Unlabeled After Deletion workflow, with JS hooks
  .github/workflows/flag-issues-unlabeled-after-deletion.yml
  .github/workflows/update-label-directory.yml
Due: none

Moves flag-unlabeled-after-deletion scripts out of sub-directory
  .github/workflows/flag-issues-unlabeled-after-deletion.yml
  github-actions/flag-issues-unlabeled-after-deletion/create-notification-issue.js
  github-actions/flag-issues-unlabeled-after-deletion/format-issue-list.js
  github-actions/flag-issues-unlabeled-after-deletion/get-unlabeled-issues.js
  github-actions/flag-issues-unlabeled-after-deletion/post-to-agenda.js
Due: prettier --write, eslint

Updates missing agenda issue title
  github-actions/flag-issues-unlabeled-after-deletion/post-to-agenda.js
Due: prettier --write, eslint

Updates flag-issues-unlabeled workflow to latest actions ver
  .github/workflows/flag-issues-unlabeled-after-deletion.yml
Due: none

Updates flag issues js scripts for formatting and notification trigger
  github-actions/flag-issues-unlabeled-after-deletion/create-notification-issue.js
  github-actions/flag-issues-unlabeled-after-deletion/post-to-agenda.js
Due: prettier --write, eslint

remove JSON.parse on Post To Skills Issue
  .github/workflows/activity-trigger.yml
Due: none

Updating wins data
  _data/external/_wins-data.json
Due: none

GFI added Brandon Hu8112
  _projects/civic-tech-jobs.md
Due: prettier --write

Add Brittany Sims to Ops
  _data/internal/communities/ops.yml
Due: none

GFI Added Brandon Hu #8343
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove Samantha Hyler from Expunge Assist
  _projects/expunge-assist.md
Due: prettier --write

Adds labels to label deletion-related issues
  github-actions/flag-issues-unlabeled-after-deletion/create-notification-issue.js
  github-actions/flag-issues-unlabeled-after-deletion/post-to-agenda.js
Due: prettier --write, eslint

Remove Aditya Soni from Guides Team profile
  _projects/guides-team.md
Due: prettier --write

Add Program Area Pages Cards Example
  _includes/program-area-pages-cards-example.html
Due: prettier --write

Add Citizen Engagement Example Page
  pages/citizen-engagement-example.html
Due: prettier --write

added two co-leads to _projects/expunge-assist.md
  _projects/expunge-assist.md
Due: prettier --write

Update activity-trigger.yml line 25
  .github/workflows/activity-trigger.yml
Due: none

Added Shraddha Saraf to expunge assist team.
  _projects/expunge-assist.md
Due: prettier --write

Remove Sylvia Nam 8117
  _projects/expunge-assist.md
Due: prettier --write

Updating instructions at bottom of template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Updated instructions on bottom
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Revert "Adding Instructions to Update Project Profile Issue Template (#8363)"
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Remove Sylvia Nam
  _projects/expunge-assist.md
Due: prettier --write

Remove Sudha Ops PM
  _data/internal/communities/ops.yml
Due: none

Add files via upload
  github-actions/utils/_data/skillsIssueNums-8-22.csv
Due: none

Update post-to-skills-issue.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Add files via upload
  github-actions/utils/_data/skillsIssueNums-8-22.json
Due: none

Rename skillsIssueNums-8-22.json to skills-directory.json
  github-actions/utils/_data/skills-directory.json
Due: none

Created skills-directory.js
  github-actions/utils/skills-directory.js
Due: prettier --write, eslint

Update activity-trigger.yml: changed line 25 back to original state
  .github/workflows/activity-trigger.yml
Due: none

Update post-to-skills-issue.js changed lines of code edited for testing back to original state
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

deleted node.js in technologies
  _projects/civic-tech-jobs.md
Due: prettier --write

Update Project Profile Leader template (#8314)
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---add.md
Due: prettier --write

Replaced the current github icon used within wins card template to the github icon with file type of svg.
  _includes/wins-page/wins-card-template.html
Due: prettier --write

Update post-to-skills-issue.js line 55
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
