Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Add new variable github-handle to member Karen Coronel in ballot-nav.md
  _projects/ballot-nav.md
Due: prettier --write

update on issue 5878
  _projects/civic-tech-jobs.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

added github-handle variable for Jon Lam
  _projects/ballot-nav.md
Due: prettier --write

Add new variable 'github-handle' to member Lu Feng
  _projects/civic-tech-jobs.md
Due: prettier --write

change single quotes to double quotes in order to resolve linter error
  _guide-pages/2FA.html
Due: prettier --write

resolve codeQL alert3 6044
  _includes/current-guides.html
Due: prettier --write

Removed Seiko Igi, Stacey Rebekah Scott, Erin Dean (#6351)
  _projects/food-oasis.md
Due: prettier --write

Add new variable 'github-handle' for Jenn Wu (#6352)
  _projects/civic-tech-jobs.md
Due: prettier --write

Added github-handle variable for Jon Lam (#6358)
  _projects/ballot-nav.md
Due: prettier --write

Add new variable 'github-handle' to member Lu Feng (#6359)
  _projects/civic-tech-jobs.md
Due: prettier --write

Changed chip label for programs and languages to be singular words (#6328)
  assets/js/current-projects.js
Due: prettier --write, eslint

added github-handle variable for Matt Pereira
  _projects/civic-tech-jobs.md
Due: prettier --write

Add _data/internal/credits/ to ignorePaths array in cspell.json
  cspell.json
Due: none

add andy arensman, belen garcia martinez, & june zhao to food oasis lship
  _projects/food-oasis.md
Due: prettier --write

revert double quotes change on line 45
  _guide-pages/2FA.html
Due: prettier --write

complete resolve-code-ql-alert-6053
  pages/communities-of-practice.html
Due: prettier --write

change single quotes to double quotes in order to resolve linter error (#6360)
  _guide-pages/2FA.html
Due: prettier --write

add andy arensman, belen garcia martinez, & june zhao to food oasis lship (#6368)
  _projects/food-oasis.md
Due: prettier --write

create yml data file for former-sponsors-partners
  _data/internal/former-sponsors-partners.yml
Due: none

Add _data/internal/credits/ to ignorePaths array in cspell.json (#6366)
  cspell.json
Due: none

added github-handle variable for Matt Pereira (#6365)
  _projects/civic-tech-jobs.md
Due: prettier --write

Removed Danny Do
  _projects/website.md
Due: prettier --write

Add: '_includes/design-system-page/examples/' to 'ignorePaths' array in cspell.json #5839
  cspell.json
Due: none

Update Communities of Practice: Ops (Add Nayan Bhatt, Zoey Zhang)
  _data/internal/communities/ops.yml
Due: none
