Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update filter-vrms-data.js
  github-actions/trigger-schedule/vrms-data/filter-vrms-data.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Create member-activity-trigger.yml
  .github/workflows/member-activity-trigger.yml
Due: none

Rename member-activity-trigger.yml to activity-trigger.yml
  .github/workflows/activity-trigger.yml
Due: none

Create activity-trigger.js
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

Create post-to-skills-issue.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Create get-skills-issue.js
  github-actions/utils/get-skills-issue.js
Due: prettier --write, eslint

change 'retrieve' --> 'get'
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

revise comments
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

Capitalized 'GitHub' on postComment header comment
  github-actions/utils/post-issue-comment.js
Due: prettier --write, eslint

Declare variables
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

declared variables; team --> TEAM; add semicolon; remove variable declaration
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Add conditional for GHA to run only if 'hackforla/website'
  .github/workflows/activity-trigger.yml
Due: none

remove Srishti Gupta from Expunge Assist
  _projects/expunge-assist.md
Due: prettier --write

initial
  .github/workflows/activity-history-post.yml
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/utils/_data/member_activity_history_bot.csv
  github-actions/utils/_data/member_copy.csv
Due: prettier --write, eslint

Update first-post-to-skills-issue.js
  github-actions/activity-trigger/first-post-to-skills-issue.js
Due: prettier --write, eslint

add logic to post to skills issue
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/retrieve-skills-id.js
Due: prettier --write, eslint

shorten csv for initial
  github-actions/utils/_data/member_copy.csv
Due: none

consolidate files for testing
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/member_activity_history_bot.csv
  github-actions/activity-trigger/member_copy.csv
Due: prettier --write, eslint

remove test csv
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/member_copy.csv
Due: prettier --write, eslint

schedule cron job
  .github/workflows/activity-history-post.yml
Due: none

tweak csv
  github-actions/activity-trigger/member_activity_history_bot.csv
Due: none

add funct to minimize bot comments
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/get-issue-comments.js
Due: prettier --write, eslint

Update label-directory.json
  github-actions/utils/_data/label-directory.json
Due: none

Update add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

split csv for testing, add new cron
  .github/workflows/activity-history-post.yml
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/member_activity_history_bot_1.csv
  github-actions/activity-trigger/member_activity_history_bot_2.csv
Due: prettier --write, eslint

Update get-issue-comments.js
  github-actions/activity-trigger/get-issue-comments.js
Due: prettier --write, eslint

Update post-issue-comment.js
  github-actions/utils/post-issue-comment.js
Due: prettier --write, eslint

Update member_activity_history_bot_1.csv
  github-actions/activity-trigger/member_activity_history_bot_1.csv
Due: none
