Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

fix name inconsistency in vrms.md file
  _projects/vrms.md
Due: prettier --write

redordered statusList
  assets/js/current-projects.js
Due: prettier --write, eslint

added docker technologies to lucky-parking project
  _projects/lucky-parking.md
Due: prettier --write

Remove slash from img tag in CONTRIBUTING.md file
  CONTRIBUTING.md
Due: prettier --write

add template file
  .github/ISSUE_TEMPLATE/project-tool-to-technology.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Add issue template for populating project github-handle variables
  .github/ISSUE_TEMPLATE/issue-making-populate-github-handle-for-project.md
Due: prettier --write

Fix YAML escaping in about: field
  .github/ISSUE_TEMPLATE/issue-making-populate-github-handle-for-project.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Remove GitHub PAT from console output
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

add template for moving a project tool to technology (#8775)
  .github/ISSUE_TEMPLATE/project-tool-to-technology.md
Due: prettier --write

Create epic issue template for GitHub handles 8543 (#8778)
  .github/ISSUE_TEMPLATE/issue-making-populate-github-handle-for-project.md
Due: prettier --write

update project profile 8761
  _projects/website.md
Due: prettier --write

add default permissions to pr trigger workflow
  .github/workflows/pull-request-trigger.yml
  .github/workflows/wr-pull-request-trigger.yml
Due: none

remove Ryan Keller from hackforla.org website leadership variable
  _projects/website.md
Due: prettier --write

Add Maleah Castillo Smith to project profile (#8788)
  _projects/website.md
Due: prettier --write

update project profile 8767
  _projects/website.md
Due: prettier --write

fixed issue with searching with glass icon not working
  assets/js/current-projects.js
Due: prettier --write, eslint

Add items for 'Our Locations' to about.html navs
  pages/about.html
Due: prettier --write

Add our-locations-images component and Our Locations card component
  _includes/about-page/about-card-our-locations.html
  _includes/about-page/our-locations-images.html
Due: prettier --write

Remove flexing and headers
  _includes/about-page/about-card-our-locations.html
Due: prettier --write

Removed Eleftherios Christou from Hackforla.org leadership section.
  _projects/website.md
Due: prettier --write

Fixes missing "form" variable declaration.
  pages/wins/wins-share-form.html
Due: prettier --write

remove Ryan Keller from hackforla.org website leadership variable (#8790)
  _projects/website.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
