Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Declare alerts and alertId in yml file
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Add comma to headers in POST request
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Replace TEAMS with H4LA_TOKEN
  .github/workflows/issue-trigger.yml
Due: none

Update node version
  .github/workflows/codeql.yml
Due: none

Revert H4LA_TOKEN to TEAMS
  .github/workflows/issue-trigger.yml
Due: none

Possible fix for returnless function
  assets/js/project-meetings.js
Due: prettier --write, eslint

Revert H4LA_TOKEN to GITHUB_TOKEN
  .github/workflows/codeql.yml
Due: none

updated project profile for guides team (#6518)
  _projects/guides-team.md
Due: prettier --write

Fix for returnless function
  assets/js/project-meetings.js
Due: prettier --write, eslint

Remove console logs
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

fix: prevent race condition between DOMContentLoaded and getEventData
  assets/js/right-col-content.js
Due: prettier --write, eslint

feat: added github-handle to ballot-nav.md file
  _projects/ballot-nav.md
Due: prettier --write

updated contributing.md section 1.7
  CONTRIBUTING.md
Due: prettier --write

feat: added github-handle to ballot-nav.md file (#6546)
  _projects/ballot-nav.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

updated project page filters to show tools
  assets/js/current-projects.js
Due: prettier --write, eslint

Removed debug console.logs added by myself and date testing adjustment
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added a new debug log to investigate why comments aren't being hidden anymore
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Updated new debug log to include if comment is by bot
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added eventType to new debug log
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Now looking specifically at eventType
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Determining if bot comments that were unhidden are regarded as not by the bot
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Determining if unhidden bot comments are regarded as recent
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Welp
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Switching from using `eventTimestamp` to `eventObj.created_at`
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Removed debug log, no longer needed.
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

updated photo (#6522)
  assets/images/credits/team-hands-middle.jpg
Due: none

added github-handle to member Leah Ellis in civic-tech-jobs.md (#6533)
  _projects/civic-tech-jobs.md
Due: prettier --write

updated contributing.md section 1.7 (#6547)
  CONTRIBUTING.md
Due: prettier --write

Update codeql.yml file
  .github/workflows/codeql.yml
Due: none

Update fetch-alerts.js file
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Update check-existing-issues.js file
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

Update create-new-issues.js file
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Replace missing curly braces
  .github/workflows/codeql.yml
Due: none

Replace response with fetchAlertsResponse
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
