Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Normalized files to rules defined in .gitattribute config
  README.md
  _data/internal/credits/commofpract.yml
  _data/internal/credits/cwmoss.yml
  _projects/design-systems.md
  assets/images/technologies-icons/Amazon-aws-01.svg
  assets/images/technologies-icons/Django-01.svg
  assets/images/technologies-icons/Javascript-03.svg
  assets/images/technologies-icons/Jekyll-02.svg
  assets/images/technologies-icons/Node-JS-01.svg
  assets/images/technologies-icons/React-icon.svg
Due: prettier --write

Update eslintrc.json file
  .eslint.json
  .eslintrc.json
Due: none

Update linter-js.yml file
  .github/workflows/linter-js.yml
Due: none

Rename linter-js.yml to lint-js.yml
  .github/workflows/lint-js.yml
Due: none

updated js to accept tools as a comma separated string or an array
  assets/js/current-projects-check.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

codeql-implementation (#4886)
  .github/workflows/codeql.yml
Due: none

Update Github Actions (#4927)
  github-actions/trigger-schedule/add-update-label-weekly/update-instructions-template.md
Due: prettier --write

Updates issue trigger 4933 (#4936)
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update Labels: Issue Template: wiki--research-plan-review (#4928)
  .github/ISSUE_TEMPLATE/wiki--research-plan-review----replace-with-name-of-page-.md
Due: prettier --write

Remove blank roles from Wins filter options (#4701)
  assets/js/wins.js
Due: prettier --write, eslint

Img tag refactor getting started page 4418 (#4731)
  pages/getting-started.html
Due: prettier --write

Updates wr pr instructions 4934 (#4937)
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/post-comment.js
Due: prettier --write, eslint

Integrate Donation GIF component into Join Us donation include, refactor associated SCSS on page and component (#4926)
  _includes/join-donate-card.html
  _sass/components/_donate-components.scss
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

Update meeting data
  _data/external/vrms_data.json
Due: none

pr-template example edit (#4925)
  CONTRIBUTING.md
Due: prettier --write

Update sch fri 4946 (#4947)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Update lint scss yaml file to test issue
  .github/workflows/lint-scss.yml
Due: none

add at-rule-no-unknown rule for stylelintrc file
  .stylelintrc.json
Due: none

updated stylelintrc per reviewer request
  .stylelintrc.json
Due: none

Update styleslintrc for scss rule
  .stylelintrc.json
Due: none

updated stylelintrc to extend scss config
  .stylelintrc.json
Due: none

removed scss config from stylelintrc
  .stylelintrc.json
Due: none

refactor-current-projects-4860
  assets/js/current-projects.js
Due: prettier --write, eslint

Update lint-scss and stylelintrc files
  .github/workflows/lint-scss.yml
  .stylelintrc.json
Due: none

Update to slim linter
  .github/workflows/lint-scss.yml
Due: none

Change super-linter version
  .github/workflows/lint-scss.yml
Due: none

Update lint scss file
  .github/workflows/lint-scss.yml
Due: none

updated js to accept tools as a comma separated string or an array (#5025)
  assets/js/current-projects-check.js
Due: prettier --write, eslint

Remove changes to .stylelintrc.json
  .stylelintrc.json
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
