Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

format closing tag
  pages/project-meetings.html
Due: prettier --write

add and comment out read permissions for testing
  .github/workflows/codeql-create-issues.yml
Due: none

uncomment permissions block for testing
  .github/workflows/codeql-create-issues.yml
Due: none

Added links each program area title to their respective subpages
  pages/program-areas.html
Due: prettier --write

update syntax by adjusting indentation
  .github/workflows/codeql-create-issues.yml
Due: none

Specify default permissions for check closed issue workflow
  .github/workflows/check-closed-issue-for-linked-pr.yml
Due: none

Fix capitalization of Github in main content subheader
  _guide-pages/2FA.html
Due: prettier --write

add security-events write and actions read permissions
  .github/workflows/codeql-create-issues.yml
Due: none

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none

correct Oxford comma on Projects page
  pages/projects-page.html
Due: prettier --write

removed slack-join-meeting-channel.svg
  assets/images/communities-of-practice/slack-join-meeting-channel.svg
Due: none

Update Tech Work Experience description
  _projects/tech-work-experience.md
Due: prettier --write

Specified default permissions for move-closed-issues.yaml
  .github/workflows/move-closed-issues.yaml
Due: none

Add Docker to Home Unite Us technologies #8654
  _projects/home-unite-us.md
Due: prettier --write

Removed action item from template
  .github/ISSUE_TEMPLATE/populate-github-handle.md
Due: prettier --write

move Figma from technologies to tools
  _projects/civic-tech-jobs.md
Due: prettier --write

Add github-handle for Isabelle Wagenvoord in public-tree-map.md #7794
  _projects/public-tree-map.md
Due: prettier --write

Add minimum permissions to PR label workflows
  .github/workflows/set-pr-labels.yaml
  .github/workflows/wr-set-pr-labels.yaml
Due: none

Test pull request write permission for PR labels
  .github/workflows/wr-set-pr-labels.yaml
Due: none

Add pull requests write permission to PR labels workflow
  .github/workflows/set-pr-labels.yaml
Due: none

added docker to technologies for civic-tech-index project
  _projects/civic-tech-index.md
Due: prettier --write

fix:update description for design systems
  _projects/design-systems.md
Due: prettier --write

fix:added tech Docker
  _projects/spare.md
Due: prettier --write

added docker in tech
  _projects/metro-ontime.md
Due: prettier --write

chore: Fixed capitalization of GitHub in a comment
  _sass/components/_guides.scss
Due: prettier --write, stylelint --syntax=scss

Add missing 'technologies' variable and nested 'Docker' item
  _projects/heart.md
Due: prettier --write

Adds "github-handle" to Jacob Zwang's section.
  _projects/new-schools-today.md
Due: prettier --write

refactor: Added a single variable github-handle to eventually replace both the github-handle and picture variables
  _projects/not-today.md
Due: prettier --write

added github-handle variable for Mark Jackson
  _projects/public-tree-map.md
Due: prettier --write

chore:added github-handle
  _projects/new-schools-today.md
Due: prettier --write

Add `github-handle:` for `Michael Morgan`
  _projects/lucky-parking.md
Due: prettier --write

added a github-handle variable for Ben Swerdlow
  _projects/new-schools-today.md
Due: prettier --write

Fix formatting for Isabelle Wagenvoord's GitHub handle
  _projects/public-tree-map.md
Due: prettier --write

added github handle place holder for tugba
  _projects/open-community-survey.md
Due: prettier --write

update project description— comma added for clarity
  _projects/vrms.md
Due: prettier --write

Adds "github-handle" to Ambareen Sultana's section.
  _projects/open-community-survey.md
Due: prettier --write

chore: Fix tool name inconsistency
  _projects/open-community-survey.md
Due: prettier --write

chore:adding permission
  .github/workflows/pr-verification.yml
Due: none

Add Docker item to technologies section of hellogov.md
  _projects/hellogov.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
