Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update trim-inactive-members.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Attempted to retrieve node_id of relevant comments
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

work in progress for issue 6023-troubleshoot
  assets/js/events-check.js
  assets/js/project.js
  assets/js/right-col-content.js
  assets/js/utility/vrms-events.js
  pages/events-check.html
Due: prettier --write, eslint

Moving over to node-fetch from https
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

or not
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Cleaned up a little bit
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

added atwater village logo to citizens engagement page (#6505)
  _data/internal/partners.yml
  assets/images/partners/atwater-village.png
Due: none

A bit more cleanup
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Github Action that handles self assigning an issue from `New Issue Approval` column (#6502)
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

fix: resolve CodeQL alert
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

updated project profile for guides team
  _projects/guides-team.md
Due: prettier --write

Removed comment from line 494
  assets/js/current-projects.js
Due: prettier --write, eslint

Update get-team-members.js
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

remove codeql.yml from commit
  .github/workflows/codeql.yml
Due: none

updated leadership variable
  _projects/expunge-assist.md
Due: prettier --write

Let's see if this does it
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added a missing semicolon
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Did I add the PAT correctly?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Now passing PAT as an environment variable
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added yet even more logic to pass the PAT
  .github/workflows/schedule-fri-0700.yml
Due: none

Added code to make https request to graphql API
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Passed the wrong variable name to the https request
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added user-agent to headers
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Did the attribute need to be literally named 'query'?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Is the query variable written correctly now?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint
