Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update our-locations-content.html (#5442)
  _includes/events-page/our-locations-content.html
Due: prettier --write

Commit 1 (#5423)
  _projects/tdm-calculator.md
Due: prettier --write

updated partner & description for brigade organizer playbook
  _projects/brigade-organizers-playbook.md
Due: prettier --write

merging upstream files
  .github/workflows/schedule-monthly-PREV.yml
  _sass/elements/_search-bar.scss
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, stylelint --syntax=scss, eslint

rWythe info moved up projects/website leadership (#5449)
  _projects/website.md
Due: prettier --write

Removed ending slash in img HTML tag in Abouts page (#5401)
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

Updated project profile and removed 2 people (#5415)
  _projects/access-the-data.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

updated-project-profile-5385
  _projects/civic-tech-jobs.md
Due: prettier --write

added the missing span tag #5368
  _includes/about-page/about-card-platform.html
Due: prettier --write

Update project profile civic tech jobs add benny van 5390 (#5419)
  _projects/civic-tech-jobs.md
Due: prettier --write

removed one entry #5393
  _projects/tdm-calculator.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update website.md
  _projects/website.md
Due: prettier --write

Update join-donate-card.html
  _includes/join-donate-card.html
Due: prettier --write

Update press.html
  _includes/press.html
Due: prettier --write

Update about.html
  _includes/about.html
Due: prettier --write

removed Genggeng's project profile
  _projects/civic-tech-jobs.md
Due: prettier --write

Add profile for Sarah Sanger on Civic Tech Jobs project profile, fixes #5389
  _projects/civic-tech-jobs.md
Due: prettier --write

add Leah Ellis info to Civic Tech Jobs leadership
  _projects/civic-tech-jobs.md
Due: prettier --write

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Update comment-issue.js
  github-actions/trigger-schedule/list-inactive-members/comment-issue.js
Due: prettier --write, eslint

Delete github-actions/trigger-schedule/list-inactive-members/get-list.js
  github-actions/trigger-schedule/list-inactive-members/get-list.js
Due: prettier --write, eslint

Delete .github/workflows/schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

removed Genggeng's project profile (#5464)
  _projects/civic-tech-jobs.md
Due: prettier --write

update Karen Coronel Leadership detail for civic jobs (#5451)
  _projects/civic-tech-jobs.md
Due: prettier --write

Update: _projects/website.md issue number 5320
  _projects/website.md
Due: prettier --write

issue 5386 done-Melinda Moved
  _projects/civic-tech-jobs.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
