Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

added instructions for installation and use of the cspell npm packag… (#5905)
  CONTRIBUTING.md
Due: prettier --write

removed empty lines in code
  _projects/311-data.md
Due: prettier --write

Change Clickable Area from Arrow to Filter Section Heading
  assets/js/current-projects.js
  assets/js/toolkit.js
Due: prettier --write, eslint

removes sam sengupta from lucky parking profile (#5902)
  _projects/lucky-parking.md
Due: prettier --write

Add Peter Gwon to communitiies of practice, UI/UX - #5874 (#5903)
  _data/internal/communities/ui-ux.yml
Due: none

re-pushing branch to resolve merge conflict for #5804
  _projects/lucky-parking.md
Due: prettier --write

Updates Tony Delgado's info in access-the-data.md to include an as of now empty github-handle variable.
  _projects/access-the-data.md
Due: prettier --write

5855 update project profile: 311 data (complete)
  _projects/311-data.md
Due: prettier --write

fixing change from prior commit
  _projects/expunge-assist.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

removed Michael and added Ryan & Anna to 311 data team on UI
  _projects/311-data.md
Due: prettier --write

changed section 2.7f i SSH for mac
  CONTRIBUTING.md
Due: prettier --write

updated lucky-parking.md
  _projects/lucky-parking.md
Due: prettier --write

remove comment from contributing.md
  CONTRIBUTING.md
Due: prettier --write

updated tools on the lucky parking project profile page
  _projects/lucky-parking.md
Due: prettier --write

removed Carlos Olivas and Aletia Trepte
  _projects/lucky-parking.md
Due: prettier --write

remove hkatz & added zaranylucas from engineering cop
  _data/internal/communities/engineering.yml
Due: none

accomplishments-year-check
  _data/internal/accomplishments.yml
  _includes/about-page/about-card-accomplishments.html
  _sass/components/_about.scss
  assets/js/about.js
Due: prettier --write, stylelint --syntax=scss, eslint

Edit and additions to Project Profile Card template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

5855 update project profile: 311 data (complete) (#5911)
  _projects/311-data.md
Due: prettier --write

Found the superfluous empty class attribute in _guide-pages/2FA.html at line 50. Deleted the empty class attribute (#5907)
  _guide-pages/2FA.html
Due: prettier --write

updated the slack img
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Due: prettier --write, stylelint --syntax=scss

fixed the view all link from collapsing the filter section
  assets/js/current-projects.js
  assets/js/toolkit.js
Due: prettier --write, eslint

updated tools on the lucky parking project profile page (#5916)
  _projects/lucky-parking.md
Due: prettier --write

removed yua guan from lucky parking page (#5887)
  _projects/lucky-parking.md
Due: prettier --write

Remove David Lam from Lucky Parking project team (#5893)
  _projects/lucky-parking.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
