Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

search function
  _includes/current-projects.html
  _sass/elements/_search-bar.scss
  assets/js/current-projects.js
Due: prettier --write, stylelint --syntax=scss, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

updated api-events.js so that if event does not have hflaWebsiteUrl, redirect to the event githubUrl (#5106)
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Updated tools data for green earth (#5108)
  _projects/green-earth-os.md
Due: prettier --write

removed / in img tag
  pages/join-us.html
Due: prettier --write

added removed extra character from img tag
  pages/join-us.html
Due: prettier --write

refactor-tools-data-emstriage (#5111)
  _projects/ems-triage-tracker.md
Due: prettier --write

refactored the tools data in the .md file from a string to a list (#5109)
  _projects/youthjusticenav.md
Due: prettier --write

Update added Johnny Wu to the website team #4917 (#5095)
  _projects/website.md
Due: prettier --write

Pulls languages from multiple repos (#5037)
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Due: prettier --write, eslint

Reformatted the data in the tools section and removed unwanted tool
  _projects/home-unite-us.md
Due: prettier --write

#4810. Reverted back to previously deleted branch. Corrected metro-ontime.md tools section per requirements
  _projects/metro-ontime.md
Due: prettier --write

removed .vscode folder
  .vscode/settings.json
Due: none

refactored tools data for public tree
  _projects/public-tree-map.md
Due: prettier --write

Tools in food oasis refactored
  _projects/access-the-data.md
  _projects/brigade-organizers-playbook.md
  _projects/civic-tech-index.md
  _projects/civic-tech-structure.md
  _projects/design-systems.md
  _projects/ems-triage-tracker.md
  _projects/engage.md
  _projects/food-oasis.md
  _projects/green-earth-os.md
  _projects/hellogov.md
  _projects/home-unite-us.md
  _projects/lucky-parking.md
  _projects/metro-ontime.md
  _projects/open-community-survey.md
  _projects/public-tree-map.md
  _projects/tech-work-experience.md
  _projects/website.md
  _projects/youthjusticenav.md
Due: prettier --write

update project information for Access the Data (#5056)
  _projects/access-the-data.md
Due: prettier --write

update tools from string to list (#5061)
  _projects/lucky-parking.md
Due: prettier --write

refactored img tag - removed slash from join us card/volunteer (#5105)
  pages/join-us.html
Due: prettier --write

rkwang added to end of leadership variable (#5058)
  _projects/website.md
Due: prettier --write

Refactor `tools` data from string to list (#5063)
  _projects/website.md
Due: prettier --write

Change tools data from string to list (#5097)
  _projects/design-systems.md
Due: prettier --write

Refactor img tag (#5049)
  pages/getting-started.html
Due: prettier --write

refactored tools data (#5093)
  _projects/access-the-data.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
