Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

refactor image tag (footer/mobile) to remove ending slash
  pages/program-areas.html
Due: prettier --write

img-tag-refactor-program-areas-page-5139
  pages/program-areas.html
Due: prettier --write

removed slash from an img tag with classname join-us-footer-img desktop-img
  pages/program-areas.html
Due: prettier --write

switch double quotes back to single quotes
  _projects/website.md
Due: prettier --write

Updated meeting day on cop-engr #5003. (#5112)
  _data/internal/communities/engineering.yml
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

refactor engage.md tools data from string to list (#5122)
  _projects/engage.md
Due: prettier --write

refactor tools data for tech-work-experience.md (#5128)
  _projects/tech-work-experience.md
Due: prettier --write

Updated inline svg with aria-label (#5130)
  _includes/footer.html
Due: prettier --write

Food oasis .md file refcatored (#5133)
  _projects/food-oasis.md
Due: prettier --write

img-tag-refactor-program-areas-page-5139 (#5142)
  pages/program-areas.html
Due: prettier --write

removed slash from an img tag with classname join-us-footer-img desktop-img (#5145)
  pages/program-areas.html
Due: prettier --write

Reformatted the data in the tools section and removed unwanted tool (#5144)
  _projects/home-unite-us.md
Due: prettier --write

Update add adrian ang to the website team 5036 (#5120)
  _projects/website.md
Due: prettier --write

Update technologies and tools fields on the Access the Data program page (#5121)
  _projects/access-the-data.md
Due: prettier --write

refactor image tag (footer/mobile) to remove ending slash (#5141)
  pages/program-areas.html
Due: prettier --write

update Data Science CoP meeting time according to issue #5131
  _data/internal/communities/data-science.yml
Due: none

updated img tag by removing slash and consolidating to one line
  _includes/donation/donate-gif-text.html
  _projects/access-the-data.md
Due: prettier --write

Delete access-the-data.md
  _projects/access-the-data.md
Due: prettier --write

updated project profile for website team
  _projects/website.md
Due: prettier --write

added a new line to generate a CodeQL alert
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

updated img tag refactor to oneline
  _includes/donation/donate-gif-text.html
Due: prettier --write

reverting changes from previous commit
  _projects/access-the-data.md
Due: prettier --write

Update access-the-data.md
  _projects/access-the-data.md
Due: prettier --write

Update donate-gif-text.html
  _includes/donation/donate-gif-text.html
Due: prettier --write

Update donate-gif-text.html (#5157)
  _includes/donation/donate-gif-text.html
Due: prettier --write

Update and rename schedule-monthly.yml to schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Update and rename schedule-thu-1100.yml to schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
  .github/workflows/schedule-thu-1100.yml
Due: none

Create contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Delete github-actions/trigger-schedule/trim-contributors directory
  github-actions/trigger-schedule/trim-contributors/contributors-data.js
Due: prettier --write, eslint

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
