Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Does removing the underscore in nodeid help?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Was the query missing a comma?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Does adding extra quotations around the query help?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Does getting rid of the outer brackets help?
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Changed the casing of "String" in the query
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Fixed typo in one instance of "$nodeid" in the query
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Changed declared variable type in query from "String!" to "ID!"
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

added github-handle to member Leah Ellis in civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Due: prettier --write

Issue #6236: Add github-handle to Layne Mostyn in ballot-nav
  _projects/ballot-nav.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

refactor: use anonymous function as event listener callback for listing meetings
  assets/js/right-col-content.js
Due: prettier --write, eslint

include const declaration to resolve codeql missing variable
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Updated scope of variable 'project' line 95
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Refactor codeql.yml and move scripts to separate js files
  .github/workflows/codeql.yml
Due: none

Create fetch-alerts.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Create check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

Create create-new-issues.js
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Replace branch and token for testing
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Move secrets to codeql.yml and pass as argument to functions
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Require core in fetch-alerts.js and check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Remove require core and pass as argument to js files
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Swap core with setOutput
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Remove require core
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Remove core from setOutput invocation
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Add comma
  .github/workflows/codeql.yml
Due: none

Require in core and remove from arguments
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Remove core require
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Remove return statements
  .github/workflows/codeql.yml
Due: none

Add console log for testing
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Add more console logs for testing
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Add env to yml steps and use process.env in token
  .github/workflows/codeql.yml
Due: none

Require in core
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

added const to assign variable
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Add Set up Node.js step to enable core
  .github/workflows/codeql.yml
Due: none

Add step to install actions/core module
  .github/workflows/codeql.yml
Due: none
