Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

add github-handle for Gigi Patel to food-oasis.md (#6899)
  _projects/food-oasis.md
Due: prettier --write

added github handle for Nicole Doan (#6896)
  _projects/ems-triage-tracker.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Updated dependabot config to ignore patch updates
  .github/dependabot.yml
Due: none

Fix indentation in dependabot config to properly ignore patches
  .github/dependabot.yml
Due: none

added github handle for eli selkin
  _projects/engage.md
Due: prettier --write

add empty github handle field to John Darragh's entry
  _projects/food-oasis.md
Due: prettier --write

Implemented hiding of outdated bot comments - #1976 (#6550)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

created new field to add additional GitHub repos
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

added github handle for Olivia Chiong in civic-tech-structure.md
  _projects/civic-tech-structure.md
Due: prettier --write

Configure Dependabot to ignore patch updates (#6870)
  .github/dependabot.yml
Due: none

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

update alt text for page card icon image (#6887)
  pages/sitemap.html
Due: prettier --write

add github handle (#6891)
  _projects/food-oasis.md
Due: prettier --write

Add github-handle for Bonnie Wolfe
  _projects/engage.md
Due: prettier --write

added github handle for Byron Heart
  _projects/engage.md
Due: prettier --write

added github-handle to Bryan Wu on food-oasis.md
  _projects/food-oasis.md
Due: prettier --write

Changed iframe object to object video player
  _includes/events-page/header-container-content.html
Due: prettier --write

add github-handle to Selena Jiang to ems-triage-tracker.md (#6898)
  _projects/ems-triage-tracker.md
Due: prettier --write

Edited ems-triage-tracker.md to include github-handle for Conor McKiernan (#6897)
  _projects/ems-triage-tracker.md
Due: prettier --write

Added github handle for Olivia Chiong in civic-tech-structure.md (#6906)
  _projects/civic-tech-structure.md
Due: prettier --write

Add github-handle for Bonnie Wolfe (#6912)
  _projects/engage.md
Due: prettier --write

Add Instructions
  .github/workflows/pr-instructions.yml
  _data/external/github-data.json
  _projects/ems-triage-tracker.md
  _projects/food-oasis.md
  pages/sitemap.html
Due: prettier --write

Update `update-label-directory.js`
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

added github-handle for shawn duenas
  _projects/ems-triage-tracker.md
Due: prettier --write

added github handle for bryonheart
  _projects/engage.md
Due: prettier --write

Fix formatting
  .github/workflows/pr-instructions.yml
  _projects/civic-tech-structure.md
  _projects/ems-triage-tracker.md
  _projects/engage.md
Due: prettier --write

Fix formatting
  .github/workflows/pr-instructions.yml
Due: none
