Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

6047: Added noopener noreferrer attribute properties to L48 to improve security.
  _layouts/project.html
Due: prettier --write

Add Heejung Hong to CoP Engineering on HfLA website (#6197)
  _data/internal/communities/engineering.yml
Due: none

Remove Josiah Odosu from project leadership section (#6198)
  _projects/website.md
Due: prettier --write

Update 2FA.html (#6202)
  _guide-pages/2FA.html
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

add github-handle to member Tan Zhou
  _projects/civic-opportunity-project.md
Due: prettier --write

Enhance hyperlink security in project layout
  _layouts/project.html
Due: prettier --write

Add ignoreWords array to cspell.jon
  cspell.json
Due: none

added a rel attribute due to a potential security risk (#6201)
  _layouts/project.html
Due: prettier --write

updated section 2.7a information (#6206)
  CONTRIBUTING.md
Due: prettier --write

Revert "updated section 2.7a information (#6206)"
  CONTRIBUTING.md
Due: prettier --write

6046: Added noopener noreferrer to L155 to prevent phishing or other security risks. (#6207)
  _layouts/project.html
Due: prettier --write

6047: Added noopener noreferrer attribute properties to L48 to improve security. (#6210)
  _layouts/project.html
Due: prettier --write

Add ignoreWords array to cspell.jon (#6216)
  cspell.json
Due: none

add github-handle to member Tan Zhou (#6215)
  _projects/civic-opportunity-project.md
Due: prettier --write

Enhance hyperlink security in project layout (#6214)
  _layouts/project.html
Due: prettier --write

fix misspelling from direclty to directly
  _guide-pages/survey-reporting-dashboard-guide.html
Due: prettier --write

Remove unused scripts.
  assets/js/current-projects-check.js
Due: prettier --write, eslint

Refactor multi-repo language merge (#5160)
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Due: prettier --write, eslint

added to JSON.strinify() to line 68 to add spacing to _wins-data.json
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Add rel='noopener noreferrer' attribute to all links with target='_blank' on communities-of-practice.html to address 'potentially unsafe external link' security alert
  pages/communities-of-practice.html
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
