Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

Added git-handle to Stacey Rebekah Scott
  _projects/ballot-nav.md
Due: prettier --write

Added new variable github-handle to member Andrew Steman in ballot-navmd
  _projects/ballot-nav.md
Due: prettier --write

Update inactive-members.json for 4-1-24
  github-actions/utils/_data/inactive-members.json
Due: none

added const to assign variable (#6542)
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

fix: resolve CodeQL alert (#6517)
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Fix for unassigning devs from self assigned preworks
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update unassign-from-NIA.md
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write

Update preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update console logs and comments
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

removed comments and cleaned up code for update tool filter
  assets/js/current-projects.js
Due: prettier --write, eslint

Revert "Github Action that handles self assigning an issue from `New Issue Ap…"
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

Revert "Github Action that handles self assigning an issue from `New Issue Ap…" (#6557)
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

Removed fs and updated issueTitle
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Removed fs
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

Add fs back in
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Remove fs
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Add HACKFORLA_ADMIN_TOKEN in fetch-alerts secret
  .github/workflows/codeql.yml
Due: none

Correct misspelling in alt text in Communities of Practice page
  pages/communities-of-practice.html
Due: prettier --write

added github-actions/ to the ignorePaths array in cspell.json file
  cspell.json
Due: none

Revert secret back to HACKFORLA_BOT_PA_TOKEN
  .github/workflows/codeql.yml
Due: none

Reverted `secrets.HFLA_PROJECT_BOARD_TOKEN` name back to `secrets.HACK_FOR_LA_BOT` for usage in canonical website repo
  .github/workflows/schedule-fri-0700.yml
Due: none

Resolved codeql alert
  pages/communities-of-practice.html
Due: prettier --write

Swap bot token for GITHUB_TOKEN
  .github/workflows/codeql.yml
Due: none

Replace GITHUB_TOKEN with HACKFORLA_BOT_PA_TOKEN on Create New Issues step
  .github/workflows/codeql.yml
Due: none

Revert token on Create New Issues
  .github/workflows/codeql.yml
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Update wins-data.json via Google Apps Script (#6567)
  _data/external/wins-data.json
Due: none

Added new variable github-handle to member Andrew Steman in ballot-navmd (#6553)
  _projects/ballot-nav.md
Due: prettier --write
