Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update get-issue-comments.js
  github-actions/activity-trigger/get-issue-comments.js
Due: prettier --write, eslint

Update first-post-to-skills-issue.js
  github-actions/activity-trigger/first-post-to-skills-issue.js
Due: prettier --write, eslint

split up histories
  github-actions/activity-trigger/member_activity_history_bot_2.csv
  github-actions/activity-trigger/member_activity_history_bot_3.csv
  github-actions/activity-trigger/member_activity_history_bot_4.csv
  github-actions/activity-trigger/member_activity_history_bot_5.csv
  github-actions/activity-trigger/member_activity_history_bot_6.csv
  github-actions/activity-trigger/member_activity_history_bot_7.csv
  github-actions/activity-trigger/member_activity_history_bot_8.csv
  github-actions/activity-trigger/member_activity_history_bot_9.csv
Due: none

split activity history
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/member_activity_history_bot_2.csv
  github-actions/activity-trigger/member_activity_history_bot_3.csv
  github-actions/activity-trigger/member_activity_history_bot_4.csv
  github-actions/activity-trigger/member_activity_history_bot_5.csv
  github-actions/activity-trigger/member_activity_history_bot_6.csv
  github-actions/activity-trigger/member_activity_history_bot_7.csv
  github-actions/activity-trigger/member_activity_history_bot_8.csv
  github-actions/activity-trigger/member_activity_history_bot_9.csv
Due: prettier --write, eslint

Rename member_activity_history_bot_2.csv to member_activity_history_bot_22.csv
  github-actions/activity-trigger/member_activity_history_bot_22.csv
Due: none

remove temporary files
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/get-issue-comments.js
  github-actions/activity-trigger/member_activity_history_bot_1.csv
  github-actions/activity-trigger/member_activity_history_bot_2.csv
  github-actions/activity-trigger/member_activity_history_bot_22.csv
  github-actions/activity-trigger/member_activity_history_bot_3.csv
  github-actions/activity-trigger/member_activity_history_bot_4.csv
  github-actions/activity-trigger/member_activity_history_bot_5.csv
  github-actions/activity-trigger/member_activity_history_bot_55.csv
  github-actions/activity-trigger/member_activity_history_bot_6.csv
  github-actions/activity-trigger/member_activity_history_bot_7.csv
  github-actions/activity-trigger/member_activity_history_bot_75.csv
  github-actions/activity-trigger/member_activity_history_bot_8.csv
  github-actions/activity-trigger/member_activity_history_bot_9.csv
  github-actions/activity-trigger/retrieve-skills-id.js
Due: prettier --write, eslint

edits to match existing Skills Issue comments
  .github/workflows/activity-history-post.yml
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

reformat history and add error handling
  github-actions/activity-trigger/activity-trigger.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

major updates to get graphQL working
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/utils/get-skills-issue.js
  github-actions/utils/query-skills-issue.js
Due: prettier --write, eslint

revert to previous
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Update vrms-data.yml
  .github/workflows/vrms-data.yml
Due: none

Filter VRMS data to keep nested project structure
  github-actions/trigger-schedule/vrms-data/filter-vrms-data.js
Due: prettier --write, eslint

Update filter-vrms-data.js
  github-actions/trigger-schedule/vrms-data/filter-vrms-data.js
Due: prettier --write, eslint

refactor: add github-handle for Hyun Joo Sandy Oh
  _projects/youthjusticenav.md
Due: prettier --write

change 'pull request' to 'PR'
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

Refactor check-team-membership.js to use context.repo.org and update calls
  github-actions/utils/check-team-membership.j
Due: none

major change- 2 actors PR closed
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

tweak for pr.closed if actor same for both, return one
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

Added github-handle variable
  _projects/website.md
Due: prettier --write

changes to 7988
  -LAPTOP-RKGHFJAS.jekyll-metadata
  _data/internal/communities/project-management.yml
  assets/js/communities-of-practice-fixed.js
  assets/js/join-slack-channel-fixed.js
  pages/communities-of-practice.html
  pages/join-slack-channel.html
Due: prettier --write, eslint

Update activity-trigger.js
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

chore: update website project profile
  _projects/website.md
Due: prettier --write

Removed J Pham from leadership list.
  _projects/website.md
Due: prettier --write

Refactor check-team-membership.js to use context.repo.org and fix parameters
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Delete github-actions/utils/check-team-membership.j
  github-actions/utils/check-team-membership.j
Due: none

Bump `actions/checkout@v4` --> `@v5` (Dependabot)
  .github/workflows/activity-trigger.yml
Due: none

I deleted files
  -LAPTOP-RKGHFJAS.jekyll-metadata
  assets/js/communities-of-practice-fixed.js
  assets/js/join-slack-channel-fixed.js
Due: prettier --write, eslint

Update verify-pr.js to fix PR #8277 logic
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Update issue-trigger workflow for PR #8277
  .github/workflows/issue-trigger.yml
Due: none

Fix check-team-membership.js for PR #8277
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

add error handling at fieldValues
  github-actions/utils/query-skills-issue.js
Due: prettier --write, eslint

8287 - removed terence from md
  _projects/civic-tech-jobs.md
Due: prettier --write

add in error handling, minor changes
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint
