Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

return commented out lines for issue 1997
  assets/js/current-projects.js
Due: prettier --write, eslint

Resolved linter error in 2fa page
  _guide-pages/2FA.html
Due: prettier --write

remove Cristina Or from _projects/website.md
  _projects/website.md
Due: prettier --write

added github-handle variable for Matt Pereira (#6365)
  _data/external/github-data.json
  _projects/civic-tech-jobs.md
  _projects/website.md
Due: prettier --write

added _includes/svg/ to ignorePaths array in cspell.json
  cspell.json
Due: none

Updated message when no results from filter selection
  assets/js/elements/noResultsMessageFilter.js
Due: prettier --write, eslint

Added workflow_dispatch trigger to schedule-fri-0700.yml
  .github/workflows/schedule-fri-0700.yml
Due: none

refactor code so that it works to pull information from files in the _program-areas directory
  pages/program-areas.html
Due: prettier --write

moved and renamed program-areas directory
  _program-areas/citizen-engagement-card.yml
  _program-areas/civic-tech-infrastructure-card.yml
  _program-areas/diversity-equity-inclusion-card.yml
  _program-areas/environment-card.yml
  _program-areas/justice-card.yml
  _program-areas/social-safety-net-card.yml
  _program-areas/vote-representation-card.yml
  _program-areas/workforce-development-card.yml
Due: none

added program-areas to collections variable
  _config.yml
Due: none

indenting and removing blank lines for clarity
  pages/program-areas.html
Due: prettier --write

Move program-areas directory and refactor program-areas.html (#6388)
  _config.yml
  _program-areas/citizen-engagement-card.yml
  _program-areas/civic-tech-infrastructure-card.yml
  _program-areas/diversity-equity-inclusion-card.yml
  _program-areas/environment-card.yml
  _program-areas/justice-card.yml
  _program-areas/social-safety-net-card.yml
  _program-areas/vote-representation-card.yml
  _program-areas/workforce-development-card.yml
  pages/program-areas.html
Due: prettier --write

updated CONTRIBUTING.md 2.1 (#6386)
  CONTRIBUTING.md
Due: prettier --write

Remove Richard Kwang from HFLA website project (#6394)
  _projects/website.md
Due: prettier --write

moved code-for-america.svg to new folder and added former-sponsors-partnersdirectory (#6407)
  assets/images/former-sponsors-partners/code-for-america.svg
Due: none

Revert "This is issue 6258 that removes Sarah Sanger from the page projects/website"
  _projects/website.md
Due: prettier --write

Added function outline for helper function that determines if a bot wrote a comment
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added boolean statement to isCommentByBot helper function
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added line to test output of github action in working branch
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Moved testing output line
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

This is issue 6258 that removes Sarah Sanger from the page projects/website (#6414)
  _projects/website.md
Due: prettier --write

Set a new commentByDays for testing purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Reverted last change
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Made edits for testing purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

added '_site/' to ignorePaths array
  cspell.json
Due: none

Made small edit to that edit
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Reverted the edits
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Made edits to eventTimestamp to pretend that timestamps are 8 days in the past for testing purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

added debug line for eventTimestamp edit
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added another debug line in main()
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Made edit to last debug line
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added yet another debug line to main()
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint
