Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

updated twitter logo
  _includes/svg/icon-twitter.svg
Due: none

Remove invalid id attribute
  _includes/wins-page/wins-filter-template.html
Due: prettier --write

Update add-github-handle.md
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write

add code spell checker 4101
  CONTRIBUTING.md
Due: prettier --write

Fixed #5618 (#5744)
  cspell.json
Due: none

Fix SDG background bug (#5740)
  _layouts/project.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Revert "updated commit"
  .github/workflows/schedule-daily-1100.yml
  .github/workflows/vrms-data.yml
  _data/external/_wins-data.json
  _data/external/github-data.json
  _data/external/wins-data.json
  _includes/about-page/about-card-platform.html
  github-actions/trigger-schedule/github-data/package-lock.json
  github-actions/trigger-schedule/github-data/package.json
Due: prettier --write

changed img tag in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

changed img tag in CONTRIBUTING.md (#5765)
  CONTRIBUTING.md
Due: prettier --write

Update wins-data.json via Google Apps Script (#5742)
  _data/external/_wins-data.json
  _data/external/wins-data.json
Due: none

add code spell checker 4101 (#5751)
  CONTRIBUTING.md
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

resolve linter error in about-card-platform.html (#5731)
  _includes/about-page/about-card-platform.html
Due: prettier --write

added github-handle to Eric Cho
  _projects/311-data.md
Due: prettier --write

Add new entry to leadership variable
  _projects/expunge-assist.md
Due: prettier --write

added github-handle to Eric Cho (#5768)
  _projects/311-data.md
Due: prettier --write

update project profile: expunge assist
  _projects/expunge-assist.md
Due: prettier --write

Update find-linked-issue.js
  github-actions/utils/find-linked-issue.js
Due: prettier --write, eslint

test comment
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/post-comment.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Add new entry to leadership variable (#5771)
  _projects/expunge-assist.md
Due: prettier --write

Navigated to _guide-pages/2FA.html line 50 and removed superfluous class attribute
  _guide-pages/2FA.html
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
