Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Removing testing entries
  github-actions/utils/_data/label-directory.json
Due: none

Update label-directory.json
  github-actions/utils/_data/label-directory.json
Due: none

added Roja Pinnamraju to profile
  _projects/civic-tech-jobs.md
Due: prettier --write

add priyanka jujjavarapu to website
  _projects/website.md
Due: prettier --write

added Eleftherios Christou to the Leaderhsip profile in the website project
  _projects/website.md
Due: prettier --write

added Essence Goff profile to leadership
  _projects/website.md
Due: prettier --write

Added France Chan to guilds team
  _projects/guides-team.md
Due: prettier --write

Update Project Profile: LA TDM Calculator Add Abby Rivard #7645
  _projects/tdm-calculator.md
Due: prettier --write

add github-handle for josh bubar in vrms.md
  _projects/vrms.md
Due: prettier --write

remove Jennifer Nguyen from ui-ux CoP
  _data/internal/communities/ui-ux.yml
Due: none

undid double quote replacements
  _projects/website.md
Due: prettier --write

Update Project Profile: Civic Tech Jobs Add Terence Lo #7732
  _projects/civic-tech-jobs.md
Due: prettier --write

added "Sofiat Ajide" – Product Manager - Dashboards
  _projects/website.md
Due: prettier --write

before
  _projects/website.md
Due: prettier --write

after
  _projects/website.md
Due: prettier --write

update github text
  assets/js/wins.js
Due: prettier --write, eslint

Update issue number of Mon. Dev/PM meeting agenda
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Update Project Profile: Home Unite Us Remove Flora Osmond (#7480)
  _projects/home-unite-us.md
Due: prettier --write

removed Eduardo De La Rosa from leadership in home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

only modify instance of github on line 509
  assets/js/wins.js
Due: prettier --write, eslint

Update TDM Calc project profile - remove Jane He - 7652
  _projects/tdm-calculator.md
Due: prettier --write

add Siyun Feng to current project team
  _projects/website.md
Due: prettier --write

Added Amen Divine Ikamba to Hack for LA site
  _projects/website.md
Due: prettier --write

Update Project Profile: VRMS Add Katiuska Alecea de Leon (#7844)
  _projects/vrms.md
Due: prettier --write

Added Brad Morgan in VMRS leadership
  _projects/vrms.md
Due: prettier --write

added github handle Ethan Hopkins #7766
  _projects/new-schools-today.md
Due: prettier --write

Add changes again after pullup to date gh-pages
  _projects/vrms.md
Due: prettier --write

Commit changes to _projects/vrms.md
  _projects/vrms.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update GitHub text in wins.js (#7897)
  assets/js/wins.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

add Siyun Feng to current website project team (#7899)
  _projects/website.md
Due: prettier --write

added evan yang to vrms projects file
  _projects/vrms.md
Due: prettier --write

Update Project Profile: VRMS Add Mudassir Hussain #7875
  _projects/vrms.md
Due: prettier --write

Remove Bryce Lednar from Home Unite Us
  _projects/home-unite-us.md
Due: prettier --write

updated home-unite-us leaderships
  _projects/home-unite-us.md
  package-lock.json
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
