Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Refactored the donate.html page and deleted donate-card.html page (#6270)
  _includes/donate-card.html
  pages/donate.html
Due: prettier --write

added -sass/ to cspell ignorePaths
  cspell.json
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Replace {{ project.alt }} with an empty string on assets/js/current-projects.js
  assets/js/current-projects.js
Due: prettier --write, eslint

refactored img tag
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

added rel attribute to anchor tag
  pages/communities-of-practice.html
Due: prettier --write

added rel attribute to anchor tag (#6282)
  pages/communities-of-practice.html
Due: prettier --write

resolved codeql alert 6053
  pages/communities-of-practice.html
Due: prettier --write

Added in closing span tag in the correct spot
  _includes/about-page/about-card-platform.html
Due: prettier --write

removed slashes from image tags
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

removed slash only on line 3
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

Refactor multi-repo language merge (#5160) (#6255)
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Due: prettier --write, eslint

Changed "technologies" and "tools" chip labels to singular chip labels (technology and tool) - #4647 (#6271)
  assets/js/current-projects.js
Due: prettier --write, eslint

refactored img tag (#6283)
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

added -sass/ to cspell ignorePaths (#6279)
  cspell.json
Due: none

Replace {{ project.alt }} with single quotes
  assets/js/current-projects.js
Due: prettier --write, eslint

removed slash from image tag
  _includes/events-page/right-col-content.html
Due: prettier --write

Add attribute to resolve CodeQL alert 17 (#6051)
  pages/communities-of-practice.html
Due: prettier --write

Replace {{ project.alt }} with single quotes (#6300)
  assets/js/current-projects.js
Due: prettier --write, eslint

Add new variable github-handle to member Karen Coronel in civic-tech-jobs.md (#6275)
  _projects/civic-tech-jobs.md
Due: prettier --write

Removed ending slash in the img HTML tag
  pages/join-us.html
Due: prettier --write

Removed slash from Img tag (#6293)
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

added github handle variable to markdown file
  _projects/civic-tech-jobs.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
