Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Resolve CodeQL alert 15 "potentially unsafe external link"
  pages/communities-of-practice.html
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Update wins-data.json via Google Apps Script (#6212)
  _data/external/_wins-data.json
  _data/external/wins-data.json
Due: none

Updated wins app script to add spacing and line breaks to wins json feed (#6205)
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Reverting changes to remove additional instances of rel attribute
  pages/communities-of-practice.html
Due: prettier --write

Remove unused file current-projects-check.js. (#6243)
  assets/js/current-projects-check.js
Due: prettier --write, eslint

updates co-lead Beck for Abundis
  _data/internal/communities/engineering.yml
Due: none

Replace slack-self-invite.svg with icon-slack.svg on CoP page (#6141)
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Due: prettier --write, stylelint --syntax=scss

Update SSH key setup instructions for Windows users
  CONTRIBUTING.md
Due: prettier --write

moved file into new folder
  assets/images/former-sponsors-partners/code-for-america.svg
Due: none

Resolved codeql alert 6051
  pages/communities-of-practice.html
Due: prettier --write

changed chip labels from plural to singular labels
  assets/js/current-projects.js
Due: prettier --write, eslint

Refactored the donate.html page and deleted donate-card.html page
  _includes/donate-card.html
  pages/donate.html
Due: prettier --write

Resolve CodeQL alert 16 "Potentially unsafe external link" (#6260)
  pages/communities-of-practice.html
Due: prettier --write

fix misspelling from direclty to directly (#6241)
  _guide-pages/survey-reporting-dashboard-guide.html
Due: prettier --write

Update leadership (#6184)
  _data/internal/communities/engineering.yml
Due: none

Update SSH key setup instructions for Windows users (#6187)
  CONTRIBUTING.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

added if else logic directly on the variable name
  assets/js/current-projects.js
Due: prettier --write, eslint

added rel attribute to anchor tag
  pages/communities-of-practice.html
Due: prettier --write

changed double quotes to single
  pages/communities-of-practice.html
Due: prettier --write

Add new variable github-handle to member Karen Coronel in civic-tech-jobs.md #5714
  _projects/civic-tech-jobs.md
Due: prettier --write

make civic tech structure org title consistent
  _includes/donation/donate-gif-text.html
  _includes/events-page/header-container-content.html
  pages/about.html
  pages/join-us.html
Due: prettier --write

fix: added Ruby and Svelte to project technologies
  assets/js/current-projects.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
