Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Correct misspelling in alt text in Communities of Practice page (#6560)
  pages/communities-of-practice.html
Due: prettier --write

Added git-handle to Stacey Rebekah Scott (#6564)
  _projects/ballot-nav.md
Due: prettier --write

Include const declaration to resolve codeql missing variable (#6538)
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Updated scope of variable 'project' line 95 (#6540)
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Updated website.md current project team
  _projects/website.md
Due: prettier --write

Add How to manage CodeQL alerts to issue template
  github-actions/trigger-issue/create-codeql-issues/issue-body.md
Due: prettier --write

Added github-actions/ to the ignorePaths array in cspell.json file (#6561)
  cspell.json
Due: none

Add workflow_dispatch for manual retries
  .github/workflows/codeql.yml
Due: none

Update put request to use create function
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Refactor body variable
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
Due: prettier --write, eslint

Change token
  .github/workflows/codeql.yml
Due: none

update the slack link
  _projects/expunge-assist.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

change to "archive" slack link for project HelloGOV
  _projects/hellogov.md
Due: prettier --write

Replaced `HACK_FOR_LA_BOT` with `HACKFORLA_BOT_PA_TOKEN`
  .github/workflows/schedule-fri-0700.yml
Due: none

update the slack link under links section
  _projects/expunge-assist.md
Due: prettier --write

Resolved codeql alert (#6566)
  pages/communities-of-practice.html
Due: prettier --write

Added github handle.
  _projects/civic-tech-index.md
Due: prettier --write

Update Slack url under links section
  _projects/public-tree-map.md
Due: prettier --write

Remove dash
  _projects/public-tree-map.md
Due: prettier --write

Add github-handle for Farzana Prianka in civic-tech-index.md
  _projects/civic-tech-index.md
Due: prettier --write

Added github handle for Emerson Castaneda
  _projects/civic-tech-index.md
Due: prettier --write
