Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Removed Mireya's information from leadership variable
  _projects/expunge-assist.md
Due: prettier --write

Update leader role
  _projects/311-data.md
Due: prettier --write

delete unused parameter cannotRemoveYet
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Added data for tracy nguyen to 311 data yaml file under variable leadership.
  _projects/311-data.md
Due: prettier --write

fixed typos and syntax requested in PR
  CONTRIBUTING.md
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

data remove Holly Worthen
  _projects/311-data.md
Due: prettier --write

Google App Scripts for wins-form-responses and gh-request
  google-apps-scripts/gh-requests/Code.js
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Updated _wins-data.json
  _data/external/_wins-data.json
Due: none

Removed Srishti Gupta
  _projects/expunge-assist.md
Due: prettier --write

Add GitHub handle for Will Gillis
  _projects/website.md
Due: prettier --write

Revert testing changes to _wins-data.json and gh-request Code.js
  _data/external/_wins-data.json
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

Fix: leave Will Gillis github-handle variable empty
  _projects/website.md
Due: prettier --write

Update vrms-data.yml
  .github/workflows/vrms-data.yml
Due: none

Removed trailing whitespaces from line 22
  _projects/expunge-assist.md
Due: prettier --write

Removed Allison Jeon from the leadership variable
  _projects/311-data.md
Due: prettier --write

ln 528 & 564 syntax edit
  CONTRIBUTING.md
Due: prettier --write

backtick moved
  CONTRIBUTING.md
Due: prettier --write

Update trim-inactive-members.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Removed Daniel Franco from leadership property in Hack4LA website markdown file.
  _projects/website.md
Due: prettier --write

add audreen fune 8014
  _projects/311-data.md
Due: prettier --write

remove nooria from civic-tech-jobs
  _projects/civic-tech-jobs.md
Due: prettier --write

Added github-handle for Bryanna Lim
  _projects/tech-work-experience.md
Due: prettier --write

Update filter-vrms-data.js
  github-actions/trigger-schedule/vrms-data/filter-vrms-data.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none
