Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update Project Profile: Civic Tech Jobs- Remove Ida Valenzuela
  _projects/civic-tech-jobs.md
Due: prettier --write

Schedule Friday 0700
  .github/workflows/schedule-fri-0700.yml
Due: none

Schedule Friday 0700
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Limit bot comment hiding to 7–30 day window to reduce GraphQL calls
  .github/workflows/schedule-fri-0700.yml
Due: none

Add Giselle Dizon to Expunge Assist
  _projects/expunge-assist.md
Due: prettier --write

Refactor cutoff time logic for consistency and readability
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

restore `role missing` label
  github-actions/utils/_data/label-directory.json
Due: none

Adds Jon Ilaw to home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

updated project profile- added rachel
  _projects/expunge-assist.md
Due: prettier --write

resolving pr review
  _projects/expunge-assist.md
Due: prettier --write

Created profile for Nihan Durmaz on the Projects Home Unite Us page
  _projects/home-unite-us.md
Due: prettier --write

Move Nihan after Amy to group UX/UI Designers
  _projects/home-unite-us.md
Due: prettier --write

removed Anna Kim from 311 Data leadership
  _projects/311-data.md
Due: prettier --write

Updates CONTRIBUTING.md Docker WSL troubleshooting.
  CONTRIBUTING.md
Due: prettier --write

modified and new html pages
  pages/communities-of-practice.html
  pages/join-slack-channel.html
Due: prettier --write

replace external GHA module with internal `check-team-membership.js` utility
  .github/workflows/issue-trigger.yml
Due: none

added github-handle:
  _projects/public-tree-map.md
Due: prettier --write

initial commit
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
  github-actions/utils/get-open-assigned-issues.js
Due: prettier --write, eslint

Addition of `nonTeamWIthOpen`
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

separate Skills Issue list from inactiveWithOpenSkills
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Split out inactiveSkillsIssue, ref to getOpenAssignedIssues
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Update get-open-assigned-issues.js
  github-actions/utils/get-open-assigned-issues.js
Due: prettier --write, eslint

insert a missing semi-colon
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

add check for unique values inActiveMemberOpenIssue
  github-actions/utils/get-open-assigned-issues.js
Due: prettier --write, eslint

Restore `2 weeks inactive` label
  github-actions/utils/_data/label-directory.json
Due: none

fix(toolkit): prevent appending "?" to URL when no filters are active
  assets/js/toolkit.js
Due: prettier --write, eslint

Create issue-trigger2.yml
  .github/workflows/issue-trigger2.yml
Due: none

Update issue-trigger2.yml
  .github/workflows/issue-trigger2.yml
Due: none

Update trim-inactive-members.js, `removeInactiveMembers()`
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Update trim-inactive-members.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Deleted issue-trigger2.yml
  .github/workflows/issue-trigger2.yml
Due: none

added links and new testing instructions in section 2.7
  CONTRIBUTING.md
Due: prettier --write

added spaces at the end of links for formating
  CONTRIBUTING.md
Due: prettier --write

added breaks instead of spaces
  CONTRIBUTING.md
Due: prettier --write

added one more break
  CONTRIBUTING.md
Due: prettier --write

Remove Kristen Cardon from leadership section
  _projects/website.md
Due: prettier --write

Add Audreen Fune to leadership section in 311-data project
  _projects/311-data.md
Due: prettier --write

Add filter-vrms-data script and integrate into VRMS update workflow
  .github/workflows/vrms-data.yml
  github-actions/trigger-schedule/vrms-data/filter-vrms-data.js
Due: prettier --write, eslint

latest changes to issue 7988
  assets/js/communities-of-practice.js
  assets/js/join-slack-channel.js
  pages/communities-of-practice.html
  pages/join-slack-channel.html
Due: prettier --write, eslint
