Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

adding github-handle to audrey kim in 100autos proj (#5576)
  _projects/100-automations.md
Due: prettier --write

Add github-handle variable in _projects/100-automations.md (#5565)
  _projects/100-automations.md
Due: prettier --write

Moved nginx from tools to technologies (#5551)
  _projects/home-unite-us.md
Due: prettier --write

changed labels in pre-work-template design to include Complexity: Prework and remove Complexity:Missing
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Due: prettier --write

Update multiple GHAs about PRs (#5575)
  .github/workflows/pr-instructions.yml
  .github/workflows/set-pr-labels.yaml
  .github/workflows/wr-pr-instructions.yml
  .github/workflows/wr-set-pr-labels.yaml
Due: none

Update issue-trigger.yml (#5544)
  .github/workflows/issue-trigger.yml
Due: none

updated img tag
  _includes/press.html
Due: prettier --write

Update move-closed-issues.yaml (#5574)
  .github/workflows/move-closed-issues.yaml
Due: none

Update vrms-data.yml
  .github/workflows/vrms-data.yml
Due: none

Tiltle Changed
  _projects/brigade-organizers-playbook.md
Due: prettier --write

5167: Updated Project Profile (#5417)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

image tag refactor - _includes/about-page/about-card-sustainability.html (#5611)
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

Inserted </span> at the end of the Inclusity roll (#5612)
  _includes/about-page/about-card-platform.html
Due: prettier --write

Add span closing tag (#5616)
  _includes/about-page/about-card-platform.html
Due: prettier --write

updated img tag (#5636)
  _includes/press.html
Due: prettier --write

Added Product manager Info for 'Sarah Levine'.
  _projects/guides-team.md
Due: prettier --write

Add check for actions triggered by cron
  .github/workflows/schedule-fri-0700.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

refactor gender equality image tag
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

Removed mention of CfA from the Join Us page and updated img
  _includes/donation/donate-gif-text.html
  _sass/components/_about.scss
  _sass/components/_donate-components.scss
  assets/images/about/donate-form.png
Due: prettier --write, stylelint --syntax=scss

Update meeting data
  _data/external/vrms_data.json
Due: none

Changed redirection path for CoP page.
  redirections/cop.md
Due: prettier --write

Add span closing tag
  _includes/about-page/about-card-platform.html
Due: prettier --write

Update the profile guides teeam
  _projects/guides-team.md
Due: prettier --write

resolve linter error in about-card-platform.html
  _includes/about-page/about-card-platform.html
Due: prettier --write

Refactor HTML: _includes/about-page/about-card-platform.html - Workforce Development #5365
  _includes/about-page/about-card-platform.html
Due: prettier --write

change partner names for ballot nav (#5572)
  _projects/ballot-nav.md
Due: prettier --write
