Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

img Tag Refactor in Contributing.md page (#7068)
  CONTRIBUTING.md
Due: prettier --write

Fixes #7046 Added github handle to _projects/heart.md for Jason LaManque.
  _projects/heart.md
Due: prettier --write

PBB migration "Pull Request Trigger" (#7054)
  .github/workflows/pull-request-trigger.yml
Due: none

PBB migration "Schedule Friday" (#7055)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/find-linked-issue.js
Due: prettier --write, eslint

added github handle element for Tien Yuan in heart.md (#7069)
  _projects/heart.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

github-handle variable added for Gian Reyes Dionisio #6937 (#6984)
  _projects/heart.md
Due: prettier --write

Update CONTRIBUTING.md Section 2.7.d with correct stream branch (#7082)
  CONTRIBUTING.md
Due: prettier --write

6786 remove bop from untaggedrepoids in get project datajs (#7062)
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

edited Samantha Hyler to be Co-lead AND added Emma Thrash (#7040)
  _projects/expunge-assist.md
Due: prettier --write

Update Inactive Members JSON
  github-actions/utils/_data/inactive-members.json
Due: none

Fix Capitalization of "Slack" in CONTRIBUTING.MD - line 582 (#7038)
  CONTRIBUTING.md
Due: prettier --write

Revert "updated-team-meeting-data-6920 (#7043)" (#7086)
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

Update Roslyn's role to Developer Co-Lead (#7070)
  _projects/website.md
Due: prettier --write

updated role for Will Gillis on website project profile (#7063)
  _projects/website.md
Due: prettier --write

updated team meeting data on events page to show meeting frequency
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

Add 'Leadership Option' to Issue Template for CoP Information Update (#7077)
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

Updated spell checker to ignore memebers names (#7073)
  cspell.json
Due: none

update
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

update
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

fix some issues
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/multiple-issue-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

test
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint
