Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Moved exclude-patterns.ql
  github-actions/code-ql/exclude-patterns.ql
Due: none

Updated path for exclude-patterns.ql
  .github/workflows/codeql-scan-job.yml
Due: none

Updated comment for exclude-patterns.ql
  .github/workflows/codeql-scan-job.yml
Due: none

Implementing predicates for excluding YAML and Liquid code
  github-actions/code-ql/exclude-patterns.ql
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none

Update check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

Update post-labels-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

Create status-field-ids.js
  github-actions/utils/_data/status-field-ids.js
Due: prettier --write, eslint

Create mutate-issue-status.js
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

Create query-issue-info.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Update status-field-ids.js
  github-actions/utils/_data/status-field-ids.js
Due: prettier --write, eslint

Replace Github with GitHub in engineering.yml
  _data/internal/communities/engineering.yml
Due: none

updated contributing instructions for step 2.7d
  CONTRIBUTING.md
Due: prettier --write

fixed markdown notion indent for step 2.7d
  CONTRIBUTING.md
Due: prettier --write

Update mutate-issue-status.js
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

Updated CONTRIBUTING.md Section 2.7.d (#7128)
  CONTRIBUTING.md
Due: prettier --write

Update find-linked-issue.js (#7104)
  github-actions/utils/find-linked-issue.js
Due: prettier --write, eslint

Replace Github with GitHub in project-managment.yml
  _data/internal/communities/project-management.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
