Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

added </span> after Giving (#5397)
  _includes/about-page/about-card-platform.html
Due: prettier --write

remove Chris Menke from leadership roster on HFLA website project page (#5399)
  _projects/website.md
Due: prettier --write

Commit 1
  _projects/tdm-calculator.md
Due: prettier --write

fixes issue #5411
  _projects/brigade-organizers-playbook.md
Due: prettier --write

remove-mention-of-CfA-about.html-5408
  _includes/about.html
Due: prettier --write

corrected spell error in regioN
  _includes/about.html
Due: prettier --write

refactor pr instruction logic and add instruction for viewing changes to CONTRIBUTING.md
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/post-comment.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Hide nonfunctional engage links 5330 (#5414)
  _projects/engage.md
Due: prettier --write

Removed mention of CfA from the Civic Tech Infrastructure program area description
  _data/internal/program-areas/civic-tech-infrastructure-card.yml
Due: none

Removed mention of CfA from Civic Tech Infrastructure program area description
  _data/internal/program-areas/civic-tech-infrastructure-card.yml
Due: none

created a variable to hold the decoded instruction
  github-actions/pr-instructions/post-comment.js
Due: prettier --write, eslint

moved decodeURL out of postComment into wr-pr-instructions.yml
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/post-comment.js
Due: prettier --write, eslint

updated the value of attribute [class] to be in double quotes
  _includes/about-page/about-card-metrics.html
Due: prettier --write

Issue: #5410 Replaced the mention of CfA with given line
  _projects/ballot-nav.md
Due: prettier --write

Refactor HTML to resolve linter error in about-card-executive-letter (#5405)
  _includes/about-page/about-card-executive-letter.html
Due: prettier --write

Refactor secondRepoId for clarity (#5412)
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Due: prettier --write, eslint

moved decodeURI back into postcomment
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/post-comment.js
Due: prettier --write, eslint

Update our-locations-content.html
  _includes/events-page/our-locations-content.html
Due: prettier --write

new template for instructions for previewing CONTRIBUTING.md
  github-actions/pr-instructions/pr-instructions-contrib-template.md
Due: prettier --write

Deleted the file assets/images/join-us/donation-graphic.svg (#5398)
  assets/images/join-us/donation-graphic.svg
Due: none

updated js with tools filter and html to display proper cards
  assets/js/current-projects-check.js
Due: prettier --write, eslint

Fix bug GHA "Schedule Thursday 1100" (inactive members) 4768 (#5158)
  .github/workflows/schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly.yml
  .github/workflows/schedule-thu-1100.yml
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/trim-contributors/contributors-data.js
Due: prettier --write, eslint

isue Remove mention of CfA from Events page #5427
  _includes/events-page/header-container-content.html
Due: prettier --write

resolved issue 5409
  _data/internal/sponsors.yml
Due: none

rWythe info moved up projects/website leadership
  _projects/website.md
Due: prettier --write

update Karen Coronel Leadership detail for civic jobs
  _projects/civic-tech-jobs.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Added missing span tag
  .github/workflows/schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly.yml
  .github/workflows/schedule-thu-1100.yml
  _data/external/github-data.json
  _data/external/vrms_data.json
  _includes/about-page/about-card-accomplishments.html
  _includes/about-page/about-card-donations.html
  _includes/about-page/about-card-executive-letter.html
  _includes/about-page/about-card-metrics.html
  _includes/about-page/about-card-partners.html
  _includes/about-page/about-card-platform.html
  _includes/about-page/about-card-sponsors.html
  _layouts/project.html
  _projects/access-the-data.md
  _projects/civic-tech-index.md
  _projects/civic-tech-jobs.md
  _projects/engage.md
  _projects/website.md
  assets/images/join-us/donation-graphic.svg
  assets/js/current-projects.js
  assets/js/project.js
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/trim-contributors/contributors-data.js
Due: prettier --write, eslint

fixed merge conflict
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

removed ending slash and blank spaces before the closing bracket
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
