Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

update memberOfAdminOrMergeTeam function
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

update
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

truncate contributors name in filter tag with ellipis (#7052)
  _sass/components/_toolkit.scss
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

addressing scrolling inconsistencies
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
Due: prettier --write, stylelint --syntax=scss, eslint

test
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

test
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

update main function & remove makeComment function
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

fix github-data.json conflict
  _data/external/github-data.json
Due: none

fix conflicts
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
  cspell.json
Due: none

Update find-linked-issue.js
  github-actions/utils/find-linked-issue.js
Due: prettier --write, eslint

Add 'Leadership Option' to Issue Template for CoP Information Update (#7077)
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

Updated spell checker to ignore memebers names (#7073)
  cspell.json
Due: none

Update "Schedule Friday" workflow to account for breaks
  .github/workflows/schedule-fri-0700.yml
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Fix e-mails
  _data/internal/privacy-policy.yml
Due: none

Update "Schedule Friday" workflow to account for breaks (#7106)
  .github/workflows/schedule-fri-0700.yml
Due: none

Add try/catch blocks
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update communities-of-practice-information-updates.yml
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

Update cspell.json
  cspell.json
Due: none

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
