Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

maintenance on labels
  github-actions/utils/_data/label-directory.json
Due: none

added Angela Lee to VRMS leadership-this time corrected my mistake
  _projects/vrms.md
Due: prettier --write

Change the function name openSearchTipModal to attachEventListenerOpenModal and closeSearchTipModal to attachEventListernerCloseModal
  assets/js/current-projects.js
Due: prettier --write, eslint

Removed Alex Lee from the VRMS markdown
  _projects/vrms.md
Due: prettier --write

updated Project Profile: VRMS; removed Judy Lee
  _projects/vrms.md
Due: prettier --write

removed stephen barkely yeung
  _projects/home-unite-us.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/design-system-audit--text-elements.md
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Update check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Changed to reference labelKey variables
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Correction to complexity0 from Complexity Prework
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

changed status fields
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

change status designations to HARD_CODED
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Updates CONTRIBUTING.md section 1.5.a by adding new info
  CONTRIBUTING.md
Due: prettier --write

Update Project Profile: Expunge Assist Remove Analicia Mejia Mesinas #7487
  _projects/expunge-assist.md
Due: prettier --write

Removed Jed Stewart from Home United Us md file
  _projects/home-unite-us.md
Due: prettier --write

Add files via upload
  vrms.md
Due: prettier --write

refactor LABELS_OBJ in post-labels-comment.js to use labelKeys
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

trillium change
  _projects/vrms.md
Due: prettier --write

change LABELS_OBJ from a list to an object
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

Update label-directory.json
  github-actions/utils/_data/label-directory.json
Due: none

“home-unite-us-remove-muyin-zheng-issue7483”
  _projects/home-unite-us.md
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

Remove PS message in issue trigger
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
Due: prettier --write

Removed Samuel Kowitch from Home Unite Us Project Profile
  _projects/home-unite-us.md
Due: prettier --write

Delete vrms.md
  vrms.md
Due: prettier --write

Delete _projects/vrms.md
  _projects/vrms.md
Due: prettier --write

Removed Anna Kim's leadership variable
  _projects/311-data.md
Due: prettier --write

restored file by adding it through older commits
  _projects/vrms.md
Due: prettier --write

removed sanju
  _projects/311-data.md
Due: prettier --write

Removed Edwin Jue from 311 Data Project Profile
  _projects/311-data.md
Due: prettier --write

removed Rachel Bracker #7481
  _projects/home-unite-us.md
Due: prettier --write

removed Amanda Glover profile
  _projects/vrms.md
Due: prettier --write

Update Website Leadership w Mugdh Chauhan
  _projects/website.md
Due: prettier --write

removed Ayma Rahman from Guide Team Page
  _projects/guides-team.md
Due: prettier --write

Updates CONTRIBUTING.md section 1.5.a with updated text.
  CONTRIBUTING.md
Due: prettier --write

Update Project Profile: Website Add Gilbert Quionnez #7755
  _projects/website.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---add.md
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---remove.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
