Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

more error catching, change to eventActor
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Update filter-vrms-data.js
  github-actions/trigger-schedule/vrms-data/filter-vrms-data.js
Due: prettier --write, eslint

updated project profile by removing manju chawla from md file
  _projects/civic-tech-jobs.md
Due: prettier --write

update profile page - remove Roja Pinnamraju
  _projects/civic-tech-jobs.md
Due: prettier --write

remove sarah edwards 8086
  _projects/guides-team.md
Due: prettier --write

chore: update civic tech jobs project profile
  _projects/civic-tech-jobs.md
Due: prettier --write

remove extraneous $ and typo
  assets/js/wins.js
Due: prettier --write, eslint

Create activity-history-post.yml
  .github/workflows/activity-history-post.yml
Due: none

Delete .github/workflows/activity-history-post.yml
  .github/workflows/activity-history-post.yml
Due: none

Update check-team-membership.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Revert changes in vrms_data.json to keep equal to org's
  _data/external/vrms_data.json
Due: none

Restore vrms_data.json from upstream gh-pages
  _data/external/vrms_data.json
Due: none

bug fix --> pull_request_target, per_page incr., exp semicolon
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

test pull_request_target
  github-actions/activity-trigger/activity-trigger.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

I added user Snigdha Tiwari to the civic tech jobs md file after Product Manager roles
  _projects/civic-tech-jobs.md
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

logic to exclude bots, add backup token
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

refactor multiline if and github-token
  .github/workflows/activity-trigger.yml
Due: none

gh-pages and feature branch conflict
  _projects/civic-tech-jobs.md
Due: prettier --write

revised excluded actors, enhanced comments
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/utils/post-issue-comment.js
Due: prettier --write, eslint

minor formatting
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

helpful comments
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

clean up comments and logic for reopening issues
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

change to simple true
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

remove unused variable
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

added Snigdha Tiwari
  _projects/civic-tech-jobs.md
Due: prettier --write

cleanup message posting
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

reverting message about marker
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

fixes for archived issues
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-skills-issue.js
Due: prettier --write, eslint

fix error w/ parameters
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

requested changes
  assets/js/communities-of-practice.js
  pages/join-slack-channel.html
Due: prettier --write, eslint

formatting changes
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

remove JSON stringify on return
  github-actions/activity-trigger/activity-trigger.js
Due: prettier --write, eslint

deleted join-slack-channel.js
  assets/js/join-slack-channel.js
Due: prettier --write, eslint

Adding Farnaz S to expunge-assist.md file
  _projects/expunge-assist.md
Due: prettier --write

updated docker-compose keyword
  CONTRIBUTING.md
Due: prettier --write

Delete _projects/civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Due: prettier --write

Restored deleted file
  _projects/civic-tech-jobs.md
Due: prettier --write
