Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Changed GITHUB_TOKEN to HACKFORLA_ADMIN_TOKEN
  .github/workflows/codeql.yml
Due: none

Add issues: write to permissions
  .github/workflows/codeql.yml
Due: none

Change permissions to write-all
  .github/workflows/codeql.yml
Due: none

Move permissions up above jobs
  .github/workflows/codeql.yml
Due: none

Move permissions back to original location
  .github/workflows/codeql.yml
Due: none

Updated branch to test
  .github/workflows/codeql.yml
Due: none

Change token and branch
  .github/workflows/codeql.yml
Due: none

Update the Slack link in all locations for the Heart project to be consistent with other projects.
  _projects/heart.md
Due: prettier --write

Change branch back to gh-pages
  .github/workflows/codeql.yml
Due: none

Change branch to test
  .github/workflows/codeql.yml
Due: none

Add if statement to new yml steps
  .github/workflows/codeql.yml
Due: none

Change branch for testing
  .github/workflows/codeql.yml
Due: none

Added github handle for Sean Sada
  _projects/civic-tech-index.md
Due: prettier --write

added github handle for Evan Stalker in _projects brigade-organizers-playbook.md (#6635)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Added github handle for Sean Sada (#6647)
  _projects/civic-tech-index.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

updated sortData function to resolve unused variable alert
  assets/js/utility/api-events.js
Due: prettier --write, eslint

removed blank line that was added unnecessarily
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Add create-new-issues id and reorder id and if conditions to be consistent
  .github/workflows/codeql.yml
Due: none

Added unused variable to see if CodeQL picks it up
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Changed branch to gh-pages
  .github/workflows/codeql.yml
Due: none

Removed unused variable
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

add GitHub handle
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Added github handle to Benny Van section
  _projects/civic-tech-jobs.md
Due: prettier --write

changed branch name
  .github/workflows/codeql.yml
Due: none

updated console log
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

added console log to test GHA
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

added console log to test
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

Delete unused Slack svg file
  _includes/svg/icon-slack-color.svg
Due: none

Add back spaces that were removed by auto-formatter
  _projects/public-tree-map.md
Due: prettier --write
