Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update Project Profile #6636 (#6688)
  _projects/civic-tech-jobs.md
Due: prettier --write

Add space
  .github/workflows/codeql-create-issues-job.yml
Due: none

Add github-handle variable for Yasaman Roostaeian in design-systems.md
  _projects/design-systems.md
Due: prettier --write

remove-unused-timelineArray-variable
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Updated civic-tech-index with Iffath's github-handle. (#6694)
  _projects/civic-tech-index.md
Due: prettier --write

Added github handle to Karen Coronel (#6693)
  _projects/ballot-nav.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Updated profile section from Anjola Jaiyeola to Kelly Chuang
  _projects/website.md
Due: prettier --write

remove-unused-timelineArray-variable (#6708)
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Remove chron job from issue creation workflow and update comment
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Add github-handle variable for Yasaman Roostaeian in design-systems.md (#6707)
  _projects/design-systems.md
Due: prettier --write

Removed unused variable. (#6660)
  assets/js/api-actionnetwork.js
Due: prettier --write, eslint

Align project page text to left
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

Handle unresolved promises on GHA workflow and script files
  .github/workflows/pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
Due: prettier --write, eslint

Add github-handle variable to Zuri Smith
  _projects/ballot-nav.md
Due: prettier --write

fix inconsistencies in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

added github handle for Sandra Berjan
  _projects/design-systems.md
Due: prettier --write

modified styling for filter, searchbar, and projects list to improve usability of browsing projects on home page and projects page
  _sass/elements/_dropdown_filters.scss
  _sass/elements/_search-bar.scss
Due: prettier --write, stylelint --syntax=scss

Updates the profiles on the civic tech jobs page
  _projects/civic-tech-jobs.md
Due: prettier --write

Fix broken image in CONTRIBUTING.md file (#6582) (#6690)
  CONTRIBUTING.md
Due: prettier --write

Updated profile section from Anjola Jaiyeola to Kelly Chuang (#6711)
  _projects/website.md
Due: prettier --write

Add github-handle for Melinda Sukosd (#6678)
  _projects/civic-tech-jobs.md
Due: prettier --write

created new file to share data fetching code for projects.js and right-col-content.js
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

Updates the project profiles in the Civic Tech Jobs webpage
  _projects/civic-tech-jobs.md
Due: prettier --write

updated media query to stop wrapping in tablet and desktop sizes in wins page dropdown
  _sass/elements/_old_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Added redirections to ignorepath in cspell
  cspell.json
Due: none

Added github-handle option for Eva Kwock 6706
  _projects/design-systems.md
Due: prettier --write

Edit `contributors-data.js` and associated files 6193 (#6520)
  .github/workflows/schedule-monthly.yml
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
  github-actions/utils/_data/inactive-members.json
  github-actions/utils/add-team-member.js
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
