Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Change Format
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

.
  .github/workflows/pr-verification.yml
Due: none

test
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

.
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Update pull-request-trigger.yml
  .github/workflows/pull-request-trigger.yml
Due: none

Added a meeting description (#6976)
  assets/js/project.js
Due: prettier --write, eslint

Added github-handle for Bonnie Wolfe in heart.md (#7016)
  _projects/heart.md
Due: prettier --write

Capitalized "Slack" on line 11 (#7017)
  CONTRIBUTING.md
Due: prettier --write

fix typo
  .github/workflows/pr-verification.yml
Due: none

add checkout
  .github/workflows/pr-verification.yml
Due: none

Capitalize 'slack' on line 347 in CONTRIBUTING.MD (#7037)
  CONTRIBUTING.md
Due: prettier --write

l
  .github/workflows/pr-verification.yml
Due: none

d
  .github/workflows/pr-verification.yml
Due: none

.
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

fix
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

edited Samantha Hyler to be Co-lead AND added Emma Thrash
  _projects/expunge-assist.md
Due: prettier --write

.
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

.
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Update move-closed-issues.yaml
  .github/workflows/move-closed-issues.yaml
Due: none

Update sort-closed-issues.js
  github-actions/move-closed-issues/sort-closed-issues.js
Due: prettier --write, eslint

remove whitespace between labels and body
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

remove whitespace in title
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

remove whitespace in front of the yes/no options
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

updated-team-meeting-data-6920
  _data/external/vrms_data.json
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

l
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

fix
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Add utility function, change API syntax
  .github/workflows/pr-verification.yml
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

fix comment body
  .github/workflows/pr-verification.yml
Due: none

Remove unit testing code from utility function
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

test
  .github/workflows/pr-verification.yml
Due: none

Cloned gh-requests Code.js from Google
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

truncate contributors name in filter tag with ellipis
  _sass/components/_toolkit.scss
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Cloned wins-form-responses Code.js from Google
  google-apps-scripts/wins-form-responses/appsscript.json
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
