Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Add character limit to technologies label
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

updated json file
  cspell.json
Due: none

Fix SDG background bug
  _layouts/project.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

resolve linter error in about-card-platform.html
  _includes/about-page/about-card-platform.html
Due: prettier --write

Add missing </span> closing tags in Workforce Development, Impact, and Agility sections
  _includes/about-page/about-card-platform.html
Due: prettier --write

Update vrms-data.yml (#5637)
  .github/workflows/vrms-data.yml
Due: none

Add character limit to technologies label (#5718)
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

Added Rhoda Michael's profile to guides team
  _projects/guides-team.md
Due: prettier --write

Updated Pre-work Instructions for Google Calendar Invites (#5668)
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

Replaced 4 and 5 line with "workflow_dispatch"
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Revert 'schedule-fri-0700.yml'
  .github/workflows/schedule-fri-0700.yml
Due: none

updated json file (#5719)
  cspell.json
Due: none

Add check for actions triggered by cron (#5641)
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Undo some parts to reflect necessary fixes only
  _includes/about-page/about-card-platform.html
Due: prettier --write

Update schedule-daily-1100.yml (#5513)
  .github/workflows/schedule-daily-1100.yml
Due: none

change single quotes back to double quotes
  _includes/about-page/about-card-platform.html
Due: prettier --write

Update wins-data.json via Google Apps Script (#5566)
  _data/external/_wins-data.json
  _data/external/wins-data.json
Due: none

Updating wins data
  _data/external/_wins-data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Add Missing Closing Tags in About Page (#5732)
  _includes/about-page/about-card-platform.html
Due: prettier --write

Fixed #5618
  cspell.json
Due: none

replaced existing img tag with new one
  CONTRIBUTING.md
  package-lock.json
Due: prettier --write

updated img tag in
  CONTRIBUTING.md
Due: prettier --write

Github handler added Rhoda Michael's profile
  _projects/guides-team.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
