Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Add pish to new-codeql-issues.yml for testing
  .github/workflows/new-codeql-issues.yml
Due: none

Add push to new-codeql-issues.yml for testing
  .github/workflows/new-codeql-issues.yml
Due: none

Update name in codeql.yml
  .github/workflows/codeql.yml
Due: none

Remove if condition and add comment
  .github/workflows/new-codeql-issues.yml
Due: none

Created codeql-scripts folder
  .github/workflows/codeql-scripts/codeql-analyze-script.yml
  .github/workflows/codeql-scripts/codeql-create-issues-script.yml
  .github/workflows/codeql-scripts/codeql-scan-script.yml
Due: none

Rename scripts and add comments
  .github/workflows/codeql-template.yml
  .github/workflows/codeql.yml
  .github/workflows/new-codeql-issues.yml
Due: none

Delete analyze script
  .github/workflows/codeql-scripts/codeql-analyze-script.yml
Due: none

Rename create issues script
  .github/workflows/codeql-create-issues-script.yml
Due: none

Move scan script
  .github/workflows/codeql-scan-script.yml
Due: none

Rename and move create new issues workflow
  .github/workflows/codeql-create-new-issues-workflow.yml
Due: none

Update file path
  .github/workflows/codeql.yml
Due: none

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Test with absolute path
  .github/workflows/codeql-create-issues-script.yml
Due: none

Replace absolute path with relative path
  .github/workflows/codeql-create-issues-script.yml
Due: none

Checkout repo
  .github/workflows/codeql-create-issues-script.yml
Due: none

Add needs to create new issues workflow
  .github/workflows/codeql-create-new-issues-workflow.yml
  .github/workflows/codeql.yml
Due: none

Testing with GITHUB_TOKEN
  .github/workflows/codeql-create-issues-script.yml
Due: none

Change branch back to gh-pages
  .github/workflows/codeql.yml
Due: none

Rename create issues workflow
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Add comment
  .github/workflows/codeql-create-issues-script.yml
Due: none

Add comment
  .github/workflows/codeql-scan-script.yml
Due: none

Change names
  .github/workflows/codeql-create-issues-script.yml
Due: none

Add unused global variable to trigger mock CodeQL alert in PR for testing
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Add TODO comment
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Remove push
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Add push for testing
  .github/workflows/codeql.yml
Due: none

Remove push for testing
  .github/workflows/codeql-create-issues-script.yml
Due: none

Change branch to gh-pages
  .github/workflows/codeql.yml
Due: none

Add push for testing
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Remove test variable
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
Due: prettier --write, eslint

Change script to job for consistency
  .github/workflows/codeql-create-issues-job.yml
  .github/workflows/codeql-create-issues-workflow.yml
  .github/workflows/codeql-scan-job.yml
  .github/workflows/codeql.yml
Due: none

Update comments and names
  .github/workflows/codeql-create-issues-job.yml
  .github/workflows/codeql-create-issues-workflow.yml
  .github/workflows/codeql-scan-job.yml
Due: none

Update comments
  .github/workflows/codeql-create-issues-workflow.yml
  .github/workflows/codeql.yml
Due: none

Added github handle to Karen Coronel
  _projects/ballot-nav.md
Due: prettier --write

Updated civic-tech-index with Iffath's github-handle.
  _projects/civic-tech-index.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Resolve codeql alert 51 6622 (#6651)
  assets/js/utility/api-events.js
Due: prettier --write, eslint

added github handle for Ray Fambro (#6682)
  _projects/civic-opportunity-project.md
Due: prettier --write
