Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Updating wins data
  _data/external/_wins-data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Implemented check for changes in Wins-form (Responses) spreadsheet within Wins Data automation (#7409)
  google-apps-scripts/gh-requests/Code.js
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

replaced Github with GitHub (#7589)
  _projects/tech-work-experience.md
Due: prettier --write

Updated 'update-label-directory.yml' and 'update-label-directory.js'
  .github/workflows/update-label-directory.yml
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

Added Kevin Yu's profile to Civic Tech Job section of Projects Page (#7598)
  _projects/civic-tech-jobs.md
Due: prettier --write

Refactor `add-label.js` to use `label-directory.json` (#7538)
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/retrieve-label-directory.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
