Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

commented out broken site links (#5422)
  _projects/hellogov.md
  _projects/jobs-for-hope.md
  _projects/work-for-la.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Add Sarah Sanger to Civic Tech Jobs Project Profile #5389 (#5465)
  _projects/civic-tech-jobs.md
Due: prettier --write

updated partner & description for brigade organizer playbook (#5454)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Update: _projects/website.md issue number 5320 (#5468)
  _projects/website.md
Due: prettier --write

Created initial spell check config file (#5512)
  cspell.json
Due: none

Added Tools Filter to Projects Check Page (#5444)
  _projects/home-unite-us.md
  _projects/lucky-parking.md
  _projects/metro-ontime.md
  assets/js/current-projects-check.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Updated Project Profile in Civic Tech Jobs - Jenn Wu #5385 (#5456)
  _projects/civic-tech-jobs.md
Due: prettier --write

Updated Project Profile #5459: Removed Johnny Wu
  _projects/website.md
Due: prettier --write

updated good first issue wording
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

replace cfa name and address in privacy policy page
  _data/internal/privacy-policy.yml
Due: none

"Code for America" has been removed from sponsors#
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

add Leah Ellis info to Civic Tech Jobs leadership (#5466)
  _projects/civic-tech-jobs.md
Due: prettier --write

Commit 1 (#5488)
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove entire entry of Noor Grewal from leadership variable (#5521)
  _projects/civic-tech-jobs.md
Due: prettier --write

updated tools data
  _projects/civic-tech-index.md
Due: prettier --write

created issue template for spell check audit
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Due: prettier --write

readability
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Due: prettier --write

Remove CfA sponsor #5409 (#5522)
  _includes/sponsors.html
Due: prettier --write

checking other branch
  assets/js/current-projects.js
Due: prettier --write, eslint

search function added back
  assets/js/current-projects.js
Due: prettier --write, eslint

change comment for function
  assets/js/current-projects.js
Due: prettier --write, eslint

removed the line mentioning CFA from civic tech index page
  _projects/civic-tech-index.md
Due: prettier --write

added the missing span tag #5368 (#5457)
  _includes/about-page/about-card-platform.html
Due: prettier --write

Updated Project Profile #5459: Removed Johnny Wu (#5523)
  _projects/website.md
Due: prettier --write

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none
