Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Remove Matt and Sarah
  _projects/civic-tech-jobs.md
Due: prettier --write

Add back spaces
  _projects/civic-tech-jobs.md
Due: prettier --write

Update Project Profile: Civic Tech Jobs (Remove Matt Pereira & Sarah Sanger; Add Jimmy Juarez) #6641 (#6802)
  _projects/civic-tech-jobs.md
Due: prettier --write

Changed token name for usage in main repo
  .github/workflows/schedule-fri-0700.yml
Due: none

Resolve merge conflicts and fix issue 6639: Update project profile for Civic Tech Jobs
  _projects/civic-tech-jobs.md
Due: prettier --write

Fixing footer overlapping the content div #6637
  _sass/components/_footer.scss
  _sass/layouts/_main.scss
Due: prettier --write, stylelint --syntax=scss

Add comment for and refactor handleScreenResize() for readability and maintainability
  assets/js/events.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Fix `Our Events` Card Glitch After Toggling and Resizing Window (#6777)
  assets/js/events.js
Due: prettier --write, eslint

Update github handle for Dennis Chatkhan (#6781)
  _projects/civic-tech-index.md
Due: prettier --write

Added github-handle for Khanh Cao in design-systems.md (#6791)
  _projects/design-systems.md
Due: prettier --write

Added github-handle for D.Nyasetia (#6792)
  _projects/design-systems.md
Due: prettier --write

added github handle for Rachel Newcomb
  _projects/design-systems.md
Due: prettier --write

re-add trailing whitespaces removed by Vscode and update profiles on civic tech josb
  _projects/civic-tech-jobs.md
Due: prettier --write

Bug fix 6803 (#6804)
  .github/workflows/schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update Job Profiles on Civic Tech Jobs : Remove Tin Wei Chung; Add Armon Brown & Carmen MakRemove # 6639 (#6801)
  _projects/civic-tech-jobs.md
Due: prettier --write

Created new message files and updated script
  github-actions/trigger-issue/add-preliminary-comment/draft-label-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

added github handle for Rachel Newcomb (#6808)
  _projects/design-systems.md
Due: prettier --write

sortByDate function is being shared between project.js and right-col-content.js to sort vrmsData but lives on vrmsEvents.js
  assets/js/right-col-content.js
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

Created new message files and updated script (#6811)
  github-actions/trigger-issue/add-preliminary-comment/draft-label-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

added gh handle for wataru inoue
  _projects/design-systems.md
Due: prettier --write

updated path
  .github/workflows/codeql.yml
Due: none

both project.js and right-col-content.js share time formatting function stored in vrms-events.js
  assets/js/project.js
  assets/js/right-col-content.js
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

added console log to test code scanning
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

testing code scanning
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

removed console log
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
Due: prettier --write, eslint

restrored branch to gh-pages in coeql.yml
  .github/workflows/codeql.yml
Due: none

Updates the profiles in the civic tech jobs project page
  _projects/civic-tech-jobs.md
Due: prettier --write

Updates the profiles in the civic tech jobs project page (#6818)
  _projects/civic-tech-jobs.md
Due: prettier --write

updating github handle for Bonnie W
  _projects/civic-tech-structure.md
Due: prettier --write
