Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

updated partner & description for brigade organizer playbook (#5454)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Add Sarah Sanger to Civic Tech Jobs Project Profile #5389 (#5465)
  _projects/civic-tech-jobs.md
Due: prettier --write

aligned hastags
  _projects/hellogov.md
  _projects/jobs-for-hope.md
  _projects/work-for-la.md
Due: prettier --write

commented out broken site links (#5422)
  _projects/hellogov.md
  _projects/jobs-for-hope.md
  _projects/work-for-la.md
Due: prettier --write

5448 Change to donation
  _includes/join-donate-card.html
Due: prettier --write

updated-profile-project-5385
  _projects/civic-tech-jobs.md
Due: prettier --write

updated-project-profile-5385
  _projects/civic-tech-jobs.md
Due: prettier --write

Updated Project Profile in Civic Tech Jobs - Jenn Wu #5385 (#5456)
  _projects/civic-tech-jobs.md
Due: prettier --write

Commit 1
  _projects/civic-tech-jobs.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

#5372
  _includes/about-page/about-card-platform.html
Due: prettier --write

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

modified projects/civic-tech-jobs.md-removed Beth Williford
  _projects/civic-tech-jobs.md
Due: prettier --write

modified projects/civic-tech-jobs.md-removed Beth Williford Profile card
  _projects/civic-tech-jobs.md
Due: prettier --write

Created initial spell check config file
  cspell.json
Due: none

made the changes requested on pull request review
  _includes/about-page/about-card-metrics.html
Due: prettier --write

Update schedule-daily-1100.yml
  .github/workflows/schedule-daily-1100.yml
Due: none

Update: _projects/website.md issue number 5320 (#5468)
  _projects/website.md
Due: prettier --write

removed space in civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove entire entry of Noor Grewal from leadership variable
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove mention of CfA sponsor on homepage
  _includes/sponsors.html
Due: prettier --write

moved AWS to technologies section
  _projects/home-unite-us.md
Due: prettier --write

moved AWS to technologies section
  _projects/lucky-parking.md
Due: prettier --write

added technologies section before transferring AWS to new section
  _projects/metro-ontime.md
Due: prettier --write

Created initial spell check config file (#5512)
  cspell.json
Due: none

Added Tools Filter to Projects Check Page (#5444)
  _projects/home-unite-us.md
  _projects/lucky-parking.md
  _projects/metro-ontime.md
  assets/js/current-projects-check.js
Due: prettier --write, eslint
