Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

Create wr-schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
Due: none

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Create schedule-monthly-reopen.yml
  .github/workflows/schedule-monthly-reopen.yml
Due: none

Update schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

refactored pages/join-us.html with contents of _includes/join-donate-card.html
  pages/join-us.html
Due: prettier --write

Update Section2.7.b - making sure devs checkout gh-pages first
  CONTRIBUTING.md
Due: prettier --write

deleted file _includes/join-donate-card.html
  _includes/join-donate-card.html
Due: prettier --write

Jodie Chen removed (#5928)
  _projects/lucky-parking.md
Due: prettier --write

updates lucky parking profile page (#5933)
  _projects/lucky-parking.md
Due: prettier --write

Refactored join-us with contents of join-donate-card (#5935)
  _includes/join-donate-card.html
  pages/join-us.html
Due: prettier --write

prevent page scrolling behind filter overlay (#5891)
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
  assets/js/toolkit.js
Due: prettier --write, stylelint --syntax=scss, eslint

updated lucky-parking.md (#5914)
  _projects/lucky-parking.md
Due: prettier --write

Update wr-schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
Due: none

Update schedule-monthly-reopen.yml
  .github/workflows/schedule-monthly-reopen.yml
Due: none

Update Section2.7.b - making sure devs checkout gh-pages first (#5936)
  CONTRIBUTING.md
Due: prettier --write

Removed Diedrich Chavarria
  _projects/lucky-parking.md
Due: prettier --write

removed 1Password from tools (#5931)
  _projects/website.md
Due: prettier --write

Removes Sijia Pitts from lucky parking (#5904)
  _projects/lucky-parking.md
Due: prettier --write

remove spaces from expunge-assist.md
  _projects/expunge-assist.md
Due: prettier --write

Declare loop variable in primaryOnDarkHandler
  assets/js/design-system.js
Due: prettier --write, eslint
