Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

updated _projects/expunge-assist.md with new project profile
  _projects/expunge-assist.md
Due: prettier --write

Added back missing sarah levine's profile
  _projects/guides-team.md
Due: prettier --write

Added a new Project Profile to the Expunge Assist team (#5789)
  _projects/expunge-assist.md
Due: prettier --write

Update Project Profile: Expunge Assist
  _projects/expunge-assist.md
Due: prettier --write

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Added Rhoda Michael's profile to guides team (#5733)
  _projects/guides-team.md
Due: prettier --write

removed Jamie Siu section from Lship in expunge assist project
  _projects/expunge-assist.md
Due: prettier --write

Update icon-twitter.svg
  _includes/svg/icon-twitter.svg
Due: none

added sydney walcoff to the expunge-assist.md file, changes successfully show up on my local environment
  _projects/expunge-assist.md
Due: prettier --write

Update Project Profile: Expunge Assist (#5793)
  _projects/expunge-assist.md
Due: prettier --write

update project profile: expunge assist (#5785)
  _projects/expunge-assist.md
Due: prettier --write

added Anita Morales to Expunge Assist Project on the UI
  _projects/expunge-assist.md
Due: prettier --write

Update technologies
  _projects/lucky-parking.md
Due: prettier --write

updated expunge assist project profile to include Justin Yeh and their information
  _projects/expunge-assist.md
Due: prettier --write

Added Leader
  _projects/expunge-assist.md
Due: prettier --write

removed jamie siu after pulling from upstream
  _projects/expunge-assist.md
Due: prettier --write

Re Issue 5753: Removed Jamie Siu from Expunge Assist project page leadership section (#5794)
  _projects/expunge-assist.md
Due: prettier --write
