Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

added github handle for Priyanka Talwar - not Bryanna
  _projects/tech-work-experience.md
Due: prettier --write

Add github-handle for Erik Guntner in home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

add github handle
  _projects/design-systems.md
Due: prettier --write

add HackforLABot login, refs to api, del https ref
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

tweaks to comments
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

minor formatting, change label to prioritization
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/utils/hide-issue-comment.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

correct path to module and prettify
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

correct spelling and var for status field ids
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update get-team-members.js
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

refactor the img tag (#7341)
  CONTRIBUTING.md
Due: prettier --write

Removed api-actionnetwork.js script #7092 (#7360)
  _layouts/default.html
Due: prettier --write

Update preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update Inactive Members JSON
  github-actions/utils/_data/inactive-members.json
Due: none

Changes to help solve CodeQL altert logging errors
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Add github-handle to Zeynep Aslan in _projects/design-systems.md
  _projects/design-systems.md
Due: prettier --write

Except Dependabot
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

New Token Test
  .github/workflows/pr-verification.yml
Due: none

Token Update
  .github/workflows/pr-verification.yml
Due: none

Restoring
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Testing changes
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Reverting Testing Changes
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Implemented deep comparison of google sheet with existing wins form data in respository
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Rewords gh-requests code to returns full wins instead of just sha
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

added info link to VRMS guide for updating meeting details
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

Update query-issue-info.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

added info link to VRMS guide for updating meeting details (#7325)
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
