Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

update project profile 8767 (#8792)
  _projects/website.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Remove amen Divine Ikamba from website.md leadership #8769
  _projects/website.md
Due: prettier --write

Revert unintended public-tree-map.md change
  _projects/public-tree-map.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

update YML permissions
  .github/workflows/vrms-data.yml
Due: none

add Luigi Olianas to leadership project profiles
  _projects/food-oasis.md
Due: prettier --write

added permissions to CodeQL workflow
  .github/workflows/codeql.yml
Due: none

Removed Eleftherios Christou from Hackforla.org leadership section. (#8796)
  _projects/website.md
Due: prettier --write

Fixes missing "form" variable declaration. (#8797)
  pages/wins/wins-share-form.html
Due: prettier --write

FIxed mobile view when searching on project page (#8781)
  assets/js/current-projects.js
Due: prettier --write, eslint

add Luigi Olianas to leadership project profiles (#8801)
  _projects/food-oasis.md
Due: prettier --write

Removed Priyanka Jujjavara from Hackforla project leadership section
  _projects/website.md
Due: prettier --write

Refactor html
  _includes/about-page/about-card-our-locations.html
Due: prettier --write

update YML permissions (#8800)
  .github/workflows/vrms-data.yml
Due: none

fixed wrong dataset name -data-practice-area to data-practice-areas
  _includes/current-guides.html
Due: prettier --write

updated applyFilter so that the resource cards will now show when filtered by other items that are not project areas or tools.
  assets/js/toolkit.js
Due: prettier --write, eslint

updated the filter frequency including external resources
  assets/js/toolkit.js
Due: prettier --write, eslint

Change 'location' to 'locations' in locations section header
  _includes/about-page/about-card-our-locations.html
Due: prettier --write

updated toggleNoResultMsgIfNoMatch function in toolkit.js
  assets/js/toolkit.js
Due: prettier --write, eslint

added permissions to CodeQL workflow (#8802)
  .github/workflows/codeql.yml
Due: none

remove artifact upload flags on empty comment
  .github/workflows/pull-request-trigger.yml
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

replace console.log with core.info
  .github/workflows/pull-request-trigger.yml
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

add missing await for artifact download
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

fix core not defined error
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

add pull requests write permission
  .github/workflows/wr-pull-request-trigger.yml
Due: none

remove unused globals
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

remove issues write permission from pr trigger
  .github/workflows/pull-request-trigger.yml
Due: none

add PR number in post comment logs
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

Removed Priyanka Jujjavara from Hackforla project leadership section (#8809)
  _projects/website.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
