Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

removed comments
  _projects/311-data.md
Due: prettier --write

Update add-github-handle.md
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write

Thomas Demoner deleted from leadership
  _projects/expunge-assist.md
  eval "$(ssh-agent -s)"
  eval "$(ssh-agent -s)".pub
Due: prettier --write

Update Project Profile: Lucky Parking (Update Technologies) #5790 (#5858)
  _projects/lucky-parking.md
Due: prettier --write

removed the extra marks from line 57 of expunge-assist.md
  _projects/expunge-assist.md
Due: prettier --write

Move Add-Issue-To-Project-Board job to start of workflow
  .github/workflows/issue-trigger.yml
Due: none

removed James Shin from Expunge Assist Team on UI
  _projects/expunge-assist.md
Due: prettier --write

Add GHA Job to Issue Trigger Workflow that Adds Newly Created Issues to Project Board (#5834)
  .github/workflows/issue-trigger.yml
Due: none

Update project profile 311 data 5856 (#5877)
  _projects/311-data.md
Due: prettier --write

removed yua guan from lucky parking page
  _projects/lucky-parking.md
Due: prettier --write

removed yen phan from lucky parking pages
  _projects/lucky-parking.md
Due: prettier --write

upated 311 data technologies + project team
  _projects/311-data.md
Due: prettier --write

updates profile page by removing aletia trepte, case 5806
  _projects/lucky-parking.md
Due: prettier --write

removed James Shin from Expunge Assist Team on UI (#5886)
  _projects/expunge-assist.md
Due: prettier --write

prevent page scrolling behind filter overlay
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
  assets/js/toolkit.js
Due: prettier --write, stylelint --syntax=scss, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
