Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Clean up code and replace secret tokens
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Fix typo
  .github/workflows/issue-trigger.yml
Due: none

refactor the img tag
  CONTRIBUTING.md
Due: prettier --write

removed liquid statment include calendar.html
  pages/index.html
Due: prettier --write

added-github-handle for Farah Khan in home-unite-us.md (#7320)
  _projects/home-unite-us.md
Due: prettier --write

Add github-handle for Sara Brady in tech-work-experience.md (#7312)
  _projects/tech-work-experience.md
Due: prettier --write

Updating wins data
  _data/external/_wins-data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

added github-handle (#7307)
  _projects/tdm-calculator.md
Due: prettier --write

added github handle
  _projects/design-systems.md
Due: prettier --write

Add GitHub handle (#7306)
  _projects/tech-work-experience.md
Due: prettier --write

Made requested changes to the pull_request_template file (#7328)
  .github/pull_request_template.md
Due: prettier --write

Update update-label-directory.js
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

Update update-label-directory.yml
  .github/workflows/update-label-directory.yml
Due: none

updated project profile for Will Gillis
  _projects/website.md
Due: prettier --write

Add github-handle for Jane He in tdm-calculator.md #7170
  _projects/tdm-calculator.md
Due: prettier --write

bla
  _guide-pages/figma-for-opensource-projects.html
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Changes before switching branches
  _projects/home-unite-us.md
Due: prettier --write

Add github-handle for Tyler Thome in home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

Add "github-handle:" for Samuel Kowitch #7189
  _projects/home-unite-us.md
Due: prettier --write

Add handle to github-handle
  _projects/home-unite-us.md
Due: prettier --write

Update add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Edits in CONTRIBUTING.md Section 3.1.b #7134 (#7279)
  CONTRIBUTING.md
Due: prettier --write

add github-handle for John Darragh
  _projects/tdm-calculator.md
Due: prettier --write

Fix "github:" to "github-handle:"
  _projects/home-unite-us.md
Due: prettier --write

Add github-handle for Jane He in tdm-calculator.md #7170 (#7347)
  _projects/tdm-calculator.md
Due: prettier --write

Remove value from github-handle for Tyler Thome as per reviewers' feedback
  _projects/home-unite-us.md
Due: prettier --write

removed unused variable in getDayString (#7296)
  assets/js/right-col-content.js
Due: prettier --write, eslint
