Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Create get-team-members.js
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

Updated text to add to comment
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

Minor fix on markdown file and unassign contributor on js file
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Due: prettier --write, eslint

Create Check for CodeQL alerts step in codeql.yml
  .github/workflows/codeql.yml
Due: none

Make create-codeql-issue folder with issue-body.md file
  github-actions/create-codeql-issues/issue-body.md
Due: prettier --write

Change branch name for testing
  .github/workflows/codeql.yml
Due: none

Change branch back to gh-pages and token secrets back to GITHUB_TOKEN
  .github/workflows/codeql.yml
Due: none

Fix issueBodyTemplatePath
  .github/workflows/codeql.yml
Due: none

Move create-codeql-issues folder into trigger-issue folder
  github-actions/trigger-issue/create-codeql-issues/issue-body.md
Due: prettier --write

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Update trim-inactive-members.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

added atwater village logo to citizens engagement page
  _data/internal/partners.yml
  assets/images/partners/atwater-village.png
Due: none

Update add-team-member.js
  github-actions/utils/add-team-member.js
Due: prettier --write, eslint

Update get-team-members.js
  github-actions/utils/get-team-members.js
Due: prettier --write, eslint

updated photo
  assets/images/credits/team-hands-middle.jpg
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Comment out error message for createIssueResponse
  .github/workflows/codeql.yml
Due: none

added github handle Evan Stalker
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Fix unsafe link
  _includes/current-guides.html
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
