Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Removing image tag / refractor
  _includes/about-page/about-card-metrics.html
Due: prettier --write

noResultsFilter works
  assets/js/elements/noResultsFilter.js
Due: prettier --write, eslint

noresultsfilter works
  assets/js/elements/noResultsFilter.js
Due: prettier --write, eslint

current project function add
  assets/js/current-projects.js
Due: prettier --write, eslint

rename no result filter
  _includes/current-guides.html
  _includes/current-projects.html
  assets/js/toolkit.js
  pages/toolkit.html
Due: prettier --write, eslint

fix format with current-guides
  _includes/current-guides.html
Due: prettier --write

revert back current-projects
  _includes/current-projects.html
Due: prettier --write

fix format on toolkit.html
  assets/js/toolkit.js
Due: prettier --write, eslint

current-guides add no results message element
  _includes/current-guides.html
  _includes/current-projects.html
  assets/js/current-projects.js
Due: prettier --write, eslint

fix format
  _includes/current-projects.html
Due: prettier --write

fix capitalization
  _includes/current-guides.html
  _includes/current-projects.html
  _sass/components/_toolkit.scss
  assets/js/elements/noResultsMessageFilter.js
Due: prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Img Tag Refactor - removed ending slash for sdg8.svg
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

removing w from line 16
  _includes/about-page/about-card-metrics.html
Due: prettier --write

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

rename parameter to e in about.js file
  assets/js/about.js
Due: prettier --write, eslint

img Tag Refactor - removed ending slash for meetup.svg (#5263)
  _includes/events-page/left-col-content.html
Due: prettier --write

Updated image tag (#5276)
  _includes/events-page/our-locations-content.html
Due: prettier --write

Removed backslash from about page's news card's img tag (#5283)
  _includes/about-page/about-card-news.html
Due: prettier --write

img tag refactor in project leadership card (#5284)
  _layouts/project.html
Due: prettier --write

img tag refactored (#5262)
  _includes/events-page/left-col-content.html
Due: prettier --write

Refactor img tag (#5294)
  _includes/about-page/about-card-sustainability.html
Due: prettier --write

removed ending slash in img HTML tag issue #5140 (#5295)
  pages/program-areas.html
Due: prettier --write

removed / with Roslyn (#5251)
  _includes/wins-page/wins-card-template.html
Due: prettier --write

Fix: #5306
  assets/js/wins.js
  package-lock.json
Due: prettier --write, eslint
