Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

change Github to GitHub for proper capitalization
  redirections/github.md
Due: prettier --write

PR Added github-handle for Sarah Edwards in projects file (#7130)
  _projects/guides-team.md
Due: prettier --write

created a new food-oasis.md file
  _projects/food-oasis.md
Due: prettier --write

Changed links name from Github to GitHub
  _data/internal/communities/ui-ux.yml
Due: none

Refactor the specified image tag (#7129)
  CONTRIBUTING.md
Due: prettier --write

Remove Drake Nguyen from Website project
  _projects/website.md
Due: prettier --write

Remove Branches
  .github/workflows/pr-verification.yml
Due: none

formatting
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Remove console log
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Readying for PR
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Fix Capitalization
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Remove line
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Update check-team-membership.js
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Add missing declaration
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Formatting
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

Remove testing code
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint
