Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Fix #8514: Add missing comma in Site Map page
  pages/sitemap.html
Due: prettier --write

Fix #8513: Add Oxford comma in Join Us page
  pages/join-us.html
Due: prettier --write

fix race condition due to missing await, optimize wr-sch-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

change let to const in multiple locations
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Add Oxford comma in join-us page
  pages/join-us.html
Due: prettier --write

fix refs in wr-schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
Due: none

additional cleanup fs.writeFileSync()
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

add default permissions
  .github/workflows/schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
Due: none

Add permissions to wr-schedule-monthly workflow
  .github/workflows/wr-schedule-monthly.yml
Due: none

Remove Terence Lo from Civic Tech Jobs leadership
  _projects/civic-tech-jobs.md
Due: prettier --write

add logic to construct linkedin and github urls from profile name and handle fields
  assets/js/wins.js
Due: prettier --write, eslint

fix: Update the Date Format for the Site Map
  pages/sitemap.html
Due: prettier --write

Added -vite to technologies section
  _projects/civic-tech-jobs.md
Due: prettier --write

Add Xavier Neal-Carson to project profile
  _projects/website.md
Due: prettier --write

fix: update Civic Tech Structure org title
  pages/about.html
Due: prettier --write

Updated leadership section on project profile page
  _projects/website.md
Due: prettier --write

fix: remove Leo Peng from UI/UX leadership (#8540)
  _data/internal/communities/ui-ux.yml
Due: none

fix: update Civic Tech Structure donation text (#8499)
  _includes/donation/donate-gif-text.html
Due: prettier --write

Adds package-lock update
  package-lock.json
Due: none

Updates head.html to use relative paths for local assets
  _includes/head.html
Due: prettier --write

Adds demo working tests of the projects page
  tests/e2e/projects.spec.js
Due: prettier --write, eslint

Adds an playwright based e2e container and configs
  docker-compose.yml
  package.json
  tests/e2e/playwright.config.js
Due: prettier --write, eslint

Updates .gitignore, attempts to add CI workflow
  .github/workflows/pr-ci-tests.yml
  .gitignore
Due: none

Remove Ren Demeis-Ortiz from project profile on hfla-site page
  _projects/website.md
Due: prettier --write

add filter to ensure only issues returned
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Updated project profile-TDM calculator
  assets/images/projects/TDM-calculator-hero.png
  assets/images/projects/tdm-calculator.jpg
  assets/pdfs/TDM-Calculator-Product-One-Sheet.pdf
Due: none

fix(#7420): update GitHub capitalization in communities of practice styles
  _sass/components/_communities-of-practice.scss
Due: prettier --write, stylelint --syntax=scss

Added issue template for updating a project's description.
  .github/ISSUE_TEMPLATE/project-profile-description-updates.md
Due: prettier --write

Fixed check box
  .github/ISSUE_TEMPLATE/project-profile-description-updates.md
Due: prettier --write

feat(#8487): add clickable program area links
  pages/program-areas.html
Due: prettier --write

Fix GitHub capitalization in sitemap footer diagram
  assets/images/sitemap/sitemap.jpg
Due: none

changed "Google Data" to "Looker"
  _projects/tech-work-experience.md
Due: prettier --write

Add github-handle placeholder for Sarah Port
  _projects/hellogov.md
Due: prettier --write

Remove & symbol to fix bug with whiteboard / paper and pencil filter
  _projects/food-oasis.md
Due: prettier --write

Correct Oxford Comma in Join Us Page (#8513)
  pages/join-us.html
Due: prettier --write

added Oxford comma to sitemap text
  pages/sitemap.html
Due: prettier --write

Remove oxford comma
  pages/project-meetings.html
Due: prettier --write

Fix Oxford comma in join us page description
  pages/join-us.html
Due: prettier --write

corrected CTS text
  _includes/donation/donate-gif-text.html
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
