Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Add back second missing space
  _projects/public-tree-map.md
Due: prettier --write

Ensure both spaces are added back
  _projects/public-tree-map.md
Due: prettier --write

Update project meetings text on the Project Meeting and Events pages
  _includes/events-page/right-col-content.html
  pages/project-meetings.html
Due: prettier --write

Refactored code using the deprecated Window: Event Property (#6626)
  assets/js/current-projects.js
Due: prettier --write, eslint

Removed unused variable.
  assets/js/api-actionnetwork.js
Due: prettier --write, eslint

Update codeql.yml to automatically create new CodeQL issues (#6503)
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/check-existing-issues.js
  github-actions/trigger-issue/create-codeql-issues/create-new-issues.js
  github-actions/trigger-issue/create-codeql-issues/fetch-alerts.js
  github-actions/trigger-issue/create-codeql-issues/issue-body.md
Due: prettier --write, eslint

add github-handle for Melinda Sukosd
  _projects/civic-tech-jobs.md
Due: prettier --write

created new files
  _includes/events-page/right-col-content-check.html
  assets/js/events-check.js
  assets/js/project.js
  assets/js/right-col-content-check.js
  pages/events-check.html
Due: prettier --write, eslint

add the github-handle property to Isaiah Ozadhe
  _projects/civic-tech-index.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

added github handle for Ray Fambro
  _projects/civic-opportunity-project.md
Due: prettier --write

add the github-handle property to Isaiah Ozadhe (#6681)
  _projects/civic-tech-index.md
Due: prettier --write

Update Public Tree Map Slack Link #6514 (#6617)
  _projects/public-tree-map.md
Due: prettier --write

Update Slack links for Heart project consistent with other projects (#6646)
  _projects/heart.md
Due: prettier --write

Add GitHub handle (#6652)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Added github handle to Benny Van section (#6657)
  _projects/civic-tech-jobs.md
Due: prettier --write

Delete unused Slack svg file (#6658)
  _includes/svg/icon-slack-color.svg
Due: none

Customize PR message based on files modified
  github-actions/pr-instructions/create-instruction.js
Due: prettier --write, eslint

remove unused weekday variable declaration from api-events.js
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Update GitHub REST API method in create-instruction.js
  github-actions/pr-instructions/create-instruction.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update Project Profile #6636
  _projects/civic-tech-jobs.md
Due: prettier --write

Update project meetings text on the Project Meeting and Events pages (#6659)
  _includes/events-page/right-col-content.html
  pages/project-meetings.html
Due: prettier --write

fix broken image in CONTRIBUTING.md file (#6582)
  CONTRIBUTING.md
Due: prettier --write

Create new-codeql-issues.yml file
  .github/workflows/new-codeql-issues.yml
Due: none

Create codeql-template.yml file
  .github/workflows/codeql-template.yml
Due: none

Update codeql.yml file
  .github/workflows/codeql.yml
Due: none

Update name in codeql.yml
  .github/workflows/codeql.yml
Due: none

Add comment in codeql-template.yml
  .github/workflows/codeql-template.yml
Due: none

Update new-codeql-issues.yml
  .github/workflows/new-codeql-issues.yml
Due: none

Change branch
  .github/workflows/codeql.yml
Due: none
