Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

removed trailing white space
  assets/js/toolkit.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Update Inactive Members JSON
  github-actions/utils/_data/inactive-members.json
Due: none

fix Styled Components technology name and moved from tools section to technoloties section
  _projects/home-unite-us.md
Due: prettier --write

Add css classes to style headings and divider in Our Locations card
  _includes/about-page/about-card-our-locations.html
  _sass/components/_about.scss
Due: prettier --write, stylelint --syntax=scss

Fix image component styling in Our Locations card
  _includes/about-page/our-locations-images.html
  _sass/components/_about.scss
Due: prettier --write, stylelint --syntax=scss

Fix link in TDM calculator site link
  _projects/tdm-calculator.md
Due: prettier --write

fix Styled Components technology name and moved from tools section to technologies section (#8818)
  _projects/home-unite-us.md
Due: prettier --write

Fix link in TDM calculator site link (#8820)
  _projects/tdm-calculator.md
Due: prettier --write

added classname to manipulate flex-basis and updated sass file
  _includes/current-guides.html
  _sass/components/_toolkit.scss
Due: prettier --write, stylelint --syntax=scss
