Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

removed alejandro gomez info from engineering yml file (#6103)
  _data/internal/communities/engineering.yml
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Solution for 'Add github-handle for Tin Wei Chung in civic-tech-jobs.md' (#6132)
  _projects/civic-tech-jobs.md
Due: prettier --write

Added github-handle variable to Salima Yacoubi (#6131)
  _projects/civic-tech-jobs.md
Due: prettier --write

Added Diversity Equity main and secondary photo
  _data/internal/credits/diversity-equity-inclusion-composite.yml
  _data/internal/credits/diversity-equity-inclusion-main.yml
  _data/internal/credits/diversity-equity-inclusion-secondary.yml
  assets/images/program-areas/ProgressSQsm.jpg
  assets/images/program-areas/team-hands-middle.jpg
Due: none

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Delete github-actions/trigger-schedule/list-inactive-members/comment-issue.js
  github-actions/trigger-schedule/list-inactive-members/comment-issue.js
Due: prettier --write, eslint

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Removed AJ Price and Jason Yung from leadership variable
  _projects/access-the-data.md
Due: prettier --write

Changed status variable from 'Active' to 'On Hold'
  _projects/access-the-data.md
Due: prettier --write

Update Project Profile: Expunge Assist (Reorder members)
  _projects/expunge-assist.md
Due: prettier --write

Removed Aparna et al from Access The Data Project Profile
  _projects/access-the-data.md
Due: prettier --write

Fixed merge conflict in diversity-equity-inclusion-main.yml
  _data/internal/credits/diversity-equity-inclusion-main.yml
Due: none

Removed CfA logo and references in partners.yml and sponsors.yml
  _data/internal/partners.yml
  _data/internal/sponsors.yml
  assets/images/sponsors/code-for-america.svg
Due: none

Update title-link and provider-link in diversity-equity-inclusion-composite.yml
  _data/internal/credits/diversity-equity-inclusion-composite.yml
Due: none

Revert line 104 link to original state
  _projects/civic-tech-jobs.md
Due: prettier --write

replace slack-self-invite.svg with icon-slack.svg on CoP page
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Due: prettier --write, stylelint --syntax=scss

Adds size to gha
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

Adds missing size to requirements'
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint
