Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Delete CNAME
  CNAME
Due: none

Delete README.md
  README.md
Due: prettier --write

Readme.md added
  README.md
Due: prettier --write

Fixed removal of trailing white space at end of some lines
  CONTRIBUTING.md
Due: prettier --write

Added spaces surrounding the dashes
  assets/js/communities-of-practice.js
Due: prettier --write, eslint

updated instructions as specified in the issue (#7229)
  CONTRIBUTING.md
Due: prettier --write

Added github handle (#7235)
  _projects/tdm-calculator.md
Due: prettier --write

Edit note text in CONTRIBUTING.md at Sec 3.1.b.iv (#7244)
  CONTRIBUTING.md
Due: prettier --write

Fixed screen sizing on mobile
  _includes/events-page/header-container-content.html
Due: prettier --write

Removed Readme from PR
  README.md
Due: prettier --write

Edit CONTRIBUTING.md at 3.1.b.iv
  CONTRIBUTING.md
Due: prettier --write

Update home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

add github-handle
  _projects/home-unite-us.md
Due: prettier --write

github-handler
  _projects/home-unite-us.md
Due: prettier --write

Fixed misspelling in own name, causing authentication error
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

fixed handle
  _projects/home-unite-us.md
Due: prettier --write

Created github-handle variable for Stephen Barkley-Yeung
  _projects/home-unite-us.md
Due: prettier --write

Refactor "Schedule Friday" workflow
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added github-handle for Brian #7249
  _projects/tech-work-experience.md
Due: prettier --write

Remove import `statusFieldIds`
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

fix improper JSDoc
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Add retries and delay to get-project-data.js
  .github/workflows/schedule-daily-1100.yml
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Request error added for testing get-project-data.js
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Testing request error
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Changed loop to fix number of retries
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Fixed undefined variable
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Fix delay time
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Remove error for testing
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
