Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/post-an-open-role.md
Due: prettier --write

updated URL (#6999)
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write

add leadership type option with dropdown fields
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

Add github-handle for Roland Abregorivas in heart.md #6940
  _projects/heart.md
Due: prettier --write

Updated Virginia Wu's section by adding "github-handle" (#6991)
  _projects/food-oasis.md
Due: prettier --write

Update project profile: expunge assist(remove Curtis add Maria)
  _projects/expunge-assist.md
Due: prettier --write

added github-handle for Bonnie Wolfe in heart.md
  _projects/heart.md
Due: prettier --write

line 11 slack is capitalized
  CONTRIBUTING.md
Due: prettier --write

Update project profile: expunge assist(remove Curtis add Maria) (#7012)
  _projects/expunge-assist.md
Due: prettier --write

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none

Update Media Query to Prevent Dropdown Wrapping in Wins Page (#6766)
  _sass/elements/_old_dropdown_filters.scss
  _sass/variables/_layout.scss
Due: prettier --write, stylelint --syntax=scss

New dropdown menu top nav bar (#6854)
  _data/navigation/main.yml
  _includes/home-page/home-program-areas.html
  _includes/main-nav.html
  _sass/components/_header-nav.scss
  assets/js/nav-accessibility.js
Due: prettier --write, stylelint --syntax=scss, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

capitalize 'slack' on line 347 in CONTRIBUTING.MD
  CONTRIBUTING.md
Due: prettier --write

updated styling on search bar to prevent it from pinning on mobile
  _projects/food-oasis.md
  _sass/elements/_search-bar.scss
Due: prettier --write, stylelint --syntax=scss

Fix Capitalization of "Slack" in CONTRIBUTING.MD - line 582
  CONTRIBUTING.md
Due: prettier --write

Update preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
