Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

Update a credit file for composite images (#6026)
  _data/internal/credits/diversity-equity-inclusion-composite.yml
  _data/internal/credits/diversity-equity-inclusion-main.yml
  _data/internal/credits/diversity-equity-inclusion-secondary.yml
  _data/internal/credits/diversity-equity-inclusion.yml
  assets/images/credits/ProgressSQsm.jpg
  assets/images/credits/team-hands-middle.jpg
  pages/credits.html
Due: prettier --write

updating leads info (#6186)
  _data/internal/communities/ops.yml
Due: none

Implemented SRI check on the external babel links (#6152)
  _layouts/default-markdown.html
  _layouts/default.html
Due: prettier --write

Modified hamburger-nav.html, hamburger-nav.js (#6151)
  _includes/hamburger-nav.html
  _includes/main-nav.html
  assets/js/hamburger-nav.js
Due: prettier --write, eslint

removed blank line to keep code consistent
  _data/internal/communities/ui-ux.yml
Due: none

Resolved CodeQL alert 9 "Potentially unsafe external link"
  _layouts/project.html
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

updated _data/internal/communities/engineering.yml file
  _data/internal/communities/engineering.yml
Due: none

corrected code so that it is consistent
  _data/internal/communities/ui-ux.yml
Due: none

Update api-events.js
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Add Heejung Hong to CoP Engineering on HfLA website
  _data/internal/communities/engineering.yml
Due: none

Remove Josiah Odosu from project leadership section
  _projects/website.md
Due: prettier --write

Updated if statement on api-events.js to handle Test - Update Name Prod
  assets/js/utility/api-events.js
Due: prettier --write, eslint

removed indentation for the links:
  _data/internal/communities/ui-ux.yml
Due: none

updated _data/internal/communities/engineering.yml file (#6194)
  _data/internal/communities/engineering.yml
Due: none

Add Leo Peng to file for issue #6104 (#6148)
  _data/internal/communities/ui-ux.yml
Due: none

Removed Aparna et al from Access The Data Project Profile (#6135)
  _projects/access-the-data.md
Due: prettier --write

added a rel attribute due to a potential security risk
  _layouts/project.html
Due: prettier --write

Update 2FA.html
  _guide-pages/2FA.html
Due: prettier --write

updated contributing.md 2.7f
  CONTRIBUTING.md
Due: prettier --write

updates leadership variable in engineering.yml under communities of practice
  _data/internal/communities/engineering.yml
Due: none

Resolved CodeQL alert 9 "Potentially unsafe external link" (#6190)
  _layouts/project.html
Due: prettier --write

Update code events page (#6158)
  assets/js/utility/api-events.js
Due: prettier --write, eslint

changed JSON.stringify's spacer parameter to 5 to cause indentation between items and line breaks inbetwen arrays
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

updated section 2.7a information
  CONTRIBUTING.md
Due: prettier --write

6046: Added noopener noreferrer to L155 to prevent phishing or other security risks.
  _layouts/project.html
Due: prettier --write
