Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Replaced references to `elizabethhonest ` in `gh-requests/Code.js` with `iancooperman`
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

Fix Capitalization of "Slack" in CONTRIBUTING.MD - line 582 (#7038)
  CONTRIBUTING.md
Due: prettier --write

Update schedule-fri-0700.yml
  .github/workflows/schedule-fri-0700.yml
Due: none

Update add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Update find-linked-issue.js
  github-actions/utils/find-linked-issue.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Modified spell-check-audit.md file, changed label Feature: Administrative to feature: spelling (#7036)
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Due: prettier --write

PBB migration "Issue Trigger" (#7053)
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

PBB migration "Pull Request Trigger" (#7054)
  .github/workflows/pull-request-trigger.yml
Due: none

PBB migration "Schedule Friday" (#7055)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/find-linked-issue.js
Due: prettier --write, eslint

PBB migration "Move Closed Issues" (#7056)
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/sort-closed-issues.js
Due: prettier --write, eslint

Add github-handle for Roland Abregorivas in heart.md #6940 (#7009)
  _projects/heart.md
Due: prettier --write

github-handle variable added for Gian Reyes Dionisio #6937 (#6984)
  _projects/heart.md
Due: prettier --write

updated filtersDiv, removed gap in between projects list and filters, and changed height of filter-toolbar
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
Due: prettier --write, stylelint --syntax=scss, eslint

remove references to BoP's id from the `untaggedRepoIds` list
  .github/workflows/schedule-daily-1100.yml
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Revert `github.repository` post GHA test
  .github/workflows/schedule-daily-1100.yml
Due: none

add empty github handle for Tien Yuan
  _projects/heart.md
Due: prettier --write

Add github handle for Marie
  _projects/heart.md
Due: prettier --write

test
  .github/workflows/pr-verification.yml
Due: none

Revert "test"
  .github/workflows/pr-verification.yml
Due: none

Revert "Ajb176 verify pr creator 3906 test"
  .github/workflows/pr-verification.yml
Due: none

Revert "Ajb176 verify pr creator 3906 test"
  .github/workflows/pr-verification.yml
  github-actions/utils/check-team-membership.js
Due: prettier --write, eslint

updated role for Will Gillis on website project profile
  _projects/website.md
Due: prettier --write

Added github-handle to Adrian Inchauste's section
  _projects/heart.md
Due: prettier --write

updated role for Will Gillis on website project profile (#7063)
  _projects/website.md
Due: prettier --write

Add github handle for Marie (#7059)
  _projects/heart.md
Due: prettier --write
