Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Added Leader (#5923)
  _projects/expunge-assist.md
Due: prettier --write

updated contributing.md
  CONTRIBUTING.md
Due: prettier --write

Adjusting padding in drop down menu for filters
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

removed leadership profile Arpita Pandya
  _projects/lucky-parking.md
Due: prettier --write

consolidate reusable functions in github-actions to utils folder
  github-actions/pr-instructions/post-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/format-comment.js
  github-actions/utils/get-timeline.js
  github-actions/utils/post-comment.js
Due: prettier --write, eslint

Removes CFA from about page
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

removes 1password from tech work experience
  _projects/tech-work-experience.md
Due: prettier --write

redeclare local variable
  assets/js/2FA.js
Due: prettier --write, eslint

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none

fixed svg rendering issue for webkit based browsers
  pages/getting-started.html
Due: prettier --write

Delete .github/workflows/schedule-monthly-reopen.yml
  .github/workflows/schedule-monthly-reopen.yml
Due: none

removed leadership profile Arpita Pandya (#5943)
  _projects/lucky-parking.md
Due: prettier --write

Update check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

updated contributing.md section 2.7.f step 4 (#5941)
  CONTRIBUTING.md
Due: prettier --write

removes 1password from tech work experience (#5946)
  _projects/tech-work-experience.md
Due: prettier --write

Removes CFA from about page (#5945)
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

Declare loop variable in primaryOnDarkHandler (#5940)
  assets/js/design-system.js
Due: prettier --write, eslint

changes-after-review
  _sass/components/_about.scss
  assets/js/about.js
Due: prettier --write, stylelint --syntax=scss, eslint

resolve-codeql-alert4-5674
  _includes/resource-card.html
Due: prettier --write

Removed Diedrich Chavarria
  _projects/lucky-parking.md
Due: prettier --write

changed url to slack link under links
  _projects/civic-tech-jobs.md
Due: prettier --write

Update contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Update add-github-handle.md
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write

added ignore words array to cspell.json
  cspell.json
Due: none

updated contributing.md 3.1.b VI documentation
  CONTRIBUTING.md
Due: prettier --write
