Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

replaced img with svg icon. added css and tested in various view modes
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

corrected an accidental typo on head
  pages/getting-started.html
Due: prettier --write

Replaced slack imgs with svg icons. Made icons-page responsive
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

fixed merged conflict
  pages/getting-started.html
Due: prettier --write

Replaced slack imgs with svg icons. Made icons-page responsive
  pages/getting-started.html
Due: prettier --write

updates profile page by removing aletia trepte, case 5806 (#5890)
  _projects/lucky-parking.md
Due: prettier --write

Remove David Lam from Lucky Parking project team
  _projects/lucky-parking.md
Due: prettier --write

removed thomas demoner from _projects/epunge-assist
  _projects/expunge-assist.md
Due: prettier --write

Refactor communities of practice page - #5829
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Due: prettier --write, stylelint --syntax=scss

removed Carlos Olivas from Lucky Parking
  _projects/lucky-parking.md
Due: prettier --write

Create schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Delete .github/workflows/schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Added Sydney Walcoff to the expunge-assist.md File (#5835)
  _projects/expunge-assist.md
Due: prettier --write

refactored slack imgs to svg icons and adjusted CSS
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

removed Yujin Chang from Lucky Parking
  _projects/lucky-parking.md
Due: prettier --write

removes sam sengupta from lucky parking profile
  _projects/lucky-parking.md
Due: prettier --write

Add Peter Gwon to communitiies of practice, UI/UX - #5874
  _data/internal/communities/ui-ux.yml
Due: none

added instructions for installation and use of the cspell npm package to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

include meetingName on Project Meetings page
  assets/js/utility/api-events.js
Due: prettier --write, eslint

modified table of contents
  CONTRIBUTING.md
Due: prettier --write

modified table of contents in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

removed thomas demoner from _projects/epunge-assist (#5894)
  _projects/expunge-assist.md
Due: prettier --write

fixed typo and formatting
  CONTRIBUTING.md
Due: prettier --write

fixed typos
  CONTRIBUTING.md
Due: prettier --write

Found the superfluous empty class attribute in _guide-pages/2FA.html at line 50. Deleted the empty class attribute
  _guide-pages/2FA.html
Due: prettier --write

remove outer svg tag from slack image svg file liquid image element
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Due: prettier --write, stylelint --syntax=scss

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
