Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

added github handle for Sam H (#6851)
  _projects/civic-tech-structure.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Added github_handle: under Ryan Mayott (#6852)
  _projects/engage.md
Due: prettier --write

Add github-handle to Richa Srivastava (#6855)
  _projects/ems-triage-tracker.md
Due: prettier --write

Fixing footer overlapping the content div #6637 (#6806)
  _sass/components/_footer.scss
  _sass/layouts/_main.scss
Due: prettier --write, stylelint --syntax=scss

Removed extra spaces on line 142 of `add-label.js`
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added semicolon to end of line 154
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Removed extra line at line 189 of `add-label.js`
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Removed unused variable `outdatedCommentCount` in `isTimelineOutdated()`
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Removed accidentally created file `ga-hide-old-comments-1976.code-workspace`
  .github/workflows/ga-hide-old-comments-1976.code-workspace
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

added github handle for Nicole Doan
  _projects/ems-triage-tracker.md
Due: prettier --write

fixed id and class issues
  _includes/main-nav.html
  _sass/components/_header-nav.scss
Due: prettier --write, stylelint --syntax=scss

No spelling errors detected
  _data/internal/sdg/sdg11.yml
Due: none

addressed concerns on this issue
  _sass/elements/_dropdown_filters.scss
  _sass/elements/_search-bar.scss
  _sass/layouts/_main.scss
Due: prettier --write, stylelint --syntax=scss

new-utils
  github-actions/utils/get-issue-by-label.js
  github-actions/utils/reopen-issue.js
  github-actions/utils/update-issue-project-card.js
Due: prettier --write, eslint

Update _dropdown_filters.scss line 19
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Update _main.scss by removing height styling
  _sass/layouts/_main.scss
Due: prettier --write, stylelint --syntax=scss

added resuable workflow files
  github-actions/prework-issue-reusable-workflow/add-prework-issue-comment.js
  github-actions/prework-issue-reusable-workflow/get-activity-detail.js
  github-actions/prework-issue-reusable-workflow/get-prework-issue.js
  github-actions/prework-issue-reusable-workflow/update-prework-issue-status.js
Due: prettier --write, eslint

update triggers
  .github/workflows/issue-trigger.yml
  .github/workflows/prework-issue-comment-reusable-workflow.yaml
Due: none

issue comment trigger
  .github/workflows/issue-comment-trigger.yaml
Due: none

added pr trigger
  .github/workflows/pull-request-trigger.yml
Due: none

update workflow path
  .github/workflows/issue-comment-trigger.yaml
  .github/workflows/issue-trigger.yml
  .github/workflows/pull-request-trigger.yml
Due: none

Dr. Stephen M. Hubbard
  .project
Due: none

Configure Dependabot to ignore patch updates
  .github/dependabot.yml
Due: none

triggers
  .github/workflows/pull-request-review-comment-trigger.yaml
  .github/workflows/pull-request-review-trigger.yaml
Due: none
