Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

added github-handle to 7181
  _projects/home-unite-us.md
Due: prettier --write

Changed token and repo back to hackforla
  .github/workflows/schedule-daily-1100.yml
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Update the meeting times on the CoP page (#7169)
  _data/internal/communities/data-science.yml
  _data/internal/communities/engineering.yml
  _data/internal/communities/ops.yml
  _data/internal/communities/project-management.yml
  _data/internal/communities/ui-ux.yml
  assets/js/communities-of-practice.js
  pages/communities-of-practice.html
Due: prettier --write, eslint

Reset github-data.json after testing
  _data/external/github-data.json
Due: none

change Github to GitHub (#7230)
  pages/getting-started.html
Due: prettier --write

add github handle for bryce lednar
  _projects/home-unite-us.md
Due: prettier --write

added git-handle
  _projects/home-unite-us.md
Due: prettier --write

added github handle in home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

added 'github-handle' property below name for Flora Osmond
  _projects/home-unite-us.md
Due: prettier --write

added github-handle
  _projects/tech-work-experience.md
Due: prettier --write

added github handle for Rachel Bracker
  _projects/home-unite-us.md
Due: prettier --write

Section 2.4.b img change
  CONTRIBUTING.md
Due: prettier --write

section1.3-img-change
  CONTRIBUTING.md
Due: prettier --write

Projects and homepages 4593 (#6747)
  _projects/food-oasis.md
  _sass/elements/_dropdown_filters.scss
  _sass/elements/_search-bar.scss
  _sass/layouts/_main.scss
Due: prettier --write, stylelint --syntax=scss

Update CNAME
  CNAME
Due: none

Update README.md
  README.md
Due: prettier --write

rm line
  CNAME
Due: none

added github-handle (#7272)
  _projects/tech-work-experience.md
Due: prettier --write

Fix capitalization of slack in pre-work-template--dev.md
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

Changes made in Contributing.MD section 3.1.b-7134
  CONTRIBUTING.md
Due: prettier --write

return to single quotes
  _projects/home-unite-us.md
Due: prettier --write

Removed the backlash / in the img tag (<img.../>) to an img tag without an ending slash (<img...>). Section 2.7.d of CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write
