Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Edits to create-new-issue.js to allow for use of a temp file via fs.readFileSync
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Create inactive-members json for GHA
  github-actions/utils/_data/inactive-members.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

bug fix err replace all instances of arra with timelineArray replace function comments
  github-actions/utils/get-timeline.js
Due: prettier --write, eslint

Secured `wins.js` from XSS vulnerability by replacing `innerHTML` (#6462)
  assets/js/wins.js
Due: prettier --write, eslint

Create inactive-members json for GHA (#6469)
  github-actions/utils/_data/inactive-members.json
Due: none

Added Mary Gabrielian to leadersship board
  _projects/guides-team.md
Due: prettier --write

using fullname for parameter description for github and context in function comments
  github-actions/utils/get-timeline.js
Due: prettier --write, eslint

bug fix minor edits get timeline js (#6470)
  github-actions/utils/get-timeline.js
Due: prettier --write, eslint

Edits to create-new-issue.js to allow for use of a temp file via fs.readFileSync (#6468)
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

added github-handle under Kevin Phan line27 (#6465)
  _projects/civic-tech-index.md
Due: prettier --write

add-github-handle-to-katrina-bonoan
  _projects/brigade-organizers-playbook.md
Due: prettier --write

added github-handle for Katrina Bonoan
  _projects/brigade-organizers-playbook.md
Due: prettier --write

minor editing on how you can remain active section in inactive members md file
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
Due: prettier --write

added github-handle for Katrina Bonoan (#6477)
  _projects/brigade-organizers-playbook.md
Due: prettier --write

Now requiring https module
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Commenting out my previous rest request to get comments
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

minor editing on how you can remain active section in inactive members md file (#6486)
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
Due: prettier --write

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

Delete github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/github-data/contributors-data.js
Due: prettier --write, eslint

Create get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Create trim-inactive-members.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Create add-team-member.js
  github-actions/utils/add-team-member.js
Due: prettier --write, eslint
