Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

capitalize Slack on line 37 of pre-work-template--dev.md
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

Update Team Meeting Data on Events Page to show Meeting Frequency (#7088)
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

added 'github-handle' property below name for Flora Osmond (#7270)
  _projects/home-unite-us.md
Due: prettier --write

Removed the backlash / in the img tag (<img.../>) to an img tag without an ending slash (<img...>). Section 2.7.d of CONTRIBUTING.md (#7280)
  CONTRIBUTING.md
Due: prettier --write

Add github-handle variable to Jessie Liu (#7299)
  _projects/tech-work-experience.md
Due: prettier --write

Add github-handle for Sara Brady in tech-work-experience.md
  _projects/tech-work-experience.md
Due: prettier --write

Update complexity eligibility check for Projects V2
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

update _projects/home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

Update label directory
  github-actions/utils/_data/label-directory.json
Due: none

Fix capitalization of slack in pre-work-template--dev.md (#7276)
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

Changed iframe object to object video player (#6915)
  _includes/events-page/header-container-content.html
Due: prettier --write

Update tokens and IDs for testing
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

added-github-handle
  _projects/home-unite-us.md
Due: prettier --write

Add mock team membership for testing
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Fix fetchProjectItemInfo query
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update label-directory.json
  github-actions/utils/_data/label-directory.json
Due: none

Updating wins data
  _data/external/_wins-data.json
Due: none

Updating wins data
  _data/external/wins-data.json
Due: none

Update fetchProjectItemInfo for consistency
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Fix UpdateItemStatus
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Add delay before moving Prework issue
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Add automatic retries to "Schedule Daily" GHA (#7262)
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Update add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Modified Line 826
  CONTRIBUTING.md
Due: prettier --write

capitalize Slack on line 37 of pre-work-template--dev.md (#7311)
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

Change Github to GitHub in title (#7308)
  pages/communities-of-practice.html
Due: prettier --write

add github handle for Angela Darosh (#7302)
  _projects/tech-work-experience.md
Due: prettier --write

added github-handle property for Andrew Salvatore (#7293)
  _projects/tech-work-experience.md
Due: prettier --write

Made requested changes to the pull_request_template file
  .github/pull_request_template.md
Due: prettier --write
