Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Removes Pratibha Shivanand from the Lucky Parking project page.
  _projects/lucky-parking.md
Due: prettier --write

Add job that adds a newly created issue onto the Project Board
  .github/workflows/issue-trigger.yml
Due: none

Update repo-token on Add Issue to Project Board job to use HfLA token
  .github/workflows/issue-trigger.yml
Due: none

Please review but don't merge yet: Update PR Instruction GHA to add instruction for previewing CONTRIBUTING.md (#5438)
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/post-comment.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
Due: prettier --write, eslint

all changes to test new issues related to ER 5758
  _includes/resource-card.html
  _sass/components/_communities-of-practice.scss
  _sass/components/_footer.scss
  _sass/components/_project-page.scss
  _sass/elements/_icons.scss
  pages/communities-of-practice.html
  pages/getting-started.html
Due: prettier --write, stylelint --syntax=scss

Update contributor and language data
  _data/external/github-data.json
Due: none

Delete pages/join-us.html
  pages/join-us.html
Due: prettier --write

updating recent remote changes to repo
  _projects/expunge-assist.md
Due: prettier --write

added sydney walcolff to expunge-assist.md
  _projects/expunge-assist.md
Due: prettier --write

after reset, redoing changes in 2FA
  _guide-pages/2FA.html
Due: prettier --write

added project profile for lucky parking
  _projects/lucky-parking.md
Due: prettier --write

Removes Pratibha Shivanand from the Lucky Parking project page. (#5828)
  _projects/lucky-parking.md
Due: prettier --write

added Anjola Jaiyeola to project team leadership
  _projects/website.md
Due: prettier --write

removed white space
  _projects/website.md
Due: prettier --write

added project profile for lucky parking (#5837)
  _projects/lucky-parking.md
Due: prettier --write

added Anita Morales to Expunge Assist Project on the UI (#5821)
  _projects/expunge-assist.md
Due: prettier --write

Update Project Profile: Lucky Parking (Update Technologies) #5790
  _projects/lucky-parking.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update Project Profile - Anjola Jaiyeola (#5853)
  _projects/website.md
Due: prettier --write

Adding "_config.yml" to "ignorePaths"
  cspell.json
Due: none

Update expunge-assist.md
  _projects/expunge-assist.md
Due: prettier --write

Updated expunge assist project profile to include Justin Yeh (#5822)
  _projects/expunge-assist.md
Due: prettier --write

added Saju, Christopher and deleted Eric, Prasadh
  _projects/311-data.md
Due: prettier --write
