Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

updates
  github-actions/prework-issue-reusable-workflow/update-prework-issue-status.js
  github-actions/utils/get-issue-by-label.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

made updates to names and checking for false values
  .github/workflows/prework-issue-comment-reusable-workflow.yaml
  github-actions/prework-issue-reusable-workflow/update-prework-issue-status.js
  github-actions/utils/get-issue-by-label.js
Due: prettier --write, eslint

tokens
  .github/workflows/prework-issue-comment-reusable-workflow.yaml
Due: none

Added Github-handle for Simone Wojtaszek
  _projects/ems-triage-tracker.md
Due: prettier --write

Revert lint-scss.yml to github/super-linter@4.8.1
  .github/workflows/lint-scss.yml
Due: none

Added git handle for Dr. Stephen M. Hubbard
  _projects/ems-triage-tracker.md
Due: prettier --write

update alt text for page card icon image
  pages/sitemap.html
Due: prettier --write

added two more spaces to coorect indentation
  _projects/ems-triage-tracker.md
Due: prettier --write

Update inactive members in inactive-members.json file
  github-actions/utils/_data/inactive-members.json
Due: none

Changed reference to the admin Slack channel in the join us file
  pages/join-us.html
Due: prettier --write

Added git handle for Dr. Stephen M. Hubbard (#6886)
  _projects/ems-triage-tracker.md
Due: prettier --write

Update inactive members (#6888)
  github-actions/utils/_data/inactive-members.json
Due: none

added anchor to explore projects section
  _includes/home-page/home-program-areas.html
Due: prettier --write

changed li id to link-name variable
  _includes/main-nav.html
Due: prettier --write

add github handle
  _projects/food-oasis.md
Due: prettier --write

Fixed capitalization
  _sass/components/_communities-of-practice.scss
Due: prettier --write, stylelint --syntax=scss

Revert lint-scss.yml to github/super-linter@4.8.1 (#6883)
  .github/workflows/lint-scss.yml
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

fixed capitalization of slack
  _sass/components/_communities-of-practice.scss
Due: prettier --write, stylelint --syntax=scss

updated mapsite alt text for lightbulb #6799
  pages/sitemap.html
Due: prettier --write

Fixed slack capitalization (#6893)
  _sass/components/_communities-of-practice.scss
Due: prettier --write, stylelint --syntax=scss

edited ems-triage-tracker.md to include github-handle for Conor McKiernan
  _projects/ems-triage-tracker.md
Due: prettier --write

add github-handle to Selena Jiang to ems-triage-tracker.md
  _projects/ems-triage-tracker.md
Due: prettier --write

Changed reference to the admin Slack channel in the join us file (#6890)
  pages/join-us.html
Due: prettier --write

Added Github-handle for Simone Wojtaszek (#6874)
  _projects/ems-triage-tracker.md
Due: prettier --write

updated mapsite alt text for lightbulb #6799 (#6894)
  pages/sitemap.html
Due: prettier --write

add github-handle for Gigi Patel to food-oasis.md
  _projects/food-oasis.md
Due: prettier --write
