Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Logging Context
  .github/workflows/pr-instructions.yml
Due: none

Dynamically generating owner and repo
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Fix comment
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Logging for debugging
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Adding console logging for testing
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Fixing context assignment and reverting testing changes
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Fixing console.log statement
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Minor formatting
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Update link name from Github to GitHub (#7463)
  _projects/ems-triage-tracker.md
Due: prettier --write

add mailto to email link (#7462)
  _data/internal/privacy-policy.yml
Due: none

Fix email link in Children's privacy section to allow users to send emails directly (#7447)
  _data/internal/privacy-policy.yml
Due: none

add github graphql token
  .github/workflows/move-closed-issues.yaml
Due: none

rename projectItems to projectData, change variable definition
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

clean code
  .github/workflows/move-closed-issues.yaml
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

revert to hackforla defaults
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

Change the label that is added when dev attempts to open multiple issues (#7466)
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Directly accessing context variables
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Refactored image tag in section 1.3
  CONTRIBUTING.md
Due: prettier --write

update containers scss file
  _sass/components/_about.scss
  _sass/components/_join-us.scss
  _sass/elements/_containers.scss
  pages/about.html
  pages/join-us.html
Due: prettier --write, stylelint --syntax=scss

first commit, updated leadership
  _data/internal/communities/ops.yml
Due: none

fixed cardtext EliSelkin
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

use regex for test testing search instead
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

change made
  CNAME
  README.md
Due: prettier --write

fixed cardtext
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

Update CNAME
  CNAME
Due: none

Update README.md
  README.md
Due: prettier --write

add JSDoc
  github-actions/move-closed-issues/move-closed-issues.js
Due: prettier --write, eslint

remove duplicated variable
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Post PBB Migration 7079 - Refactor GHA for Moving Closed Issues (#7493)
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/move-closed-issues.js
  github-actions/move-closed-issues/sort-closed-issues.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
