Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

remove wins-data AF
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

CodeQL fixes
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

Add "Tech Work Experience" option and additional GitHub repos in Project Profile Card (#7508)
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

revise w/o prettier
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

recreate w/o prettier
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Updated 'update-label-directory.yml' and 'update-label-directory.js' (#7599)
  .github/workflows/update-label-directory.yml
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

Updating wins data
  _data/external/_wins-data.json
Due: none

Update wins-data.json via Google Apps Script (#6846)
  _data/external/_wins-data.json
Due: none

Updated existing profile for Sanja Nijhawan in Home Unite Us Leadership section.
  _projects/home-unite-us.md
Due: prettier --write

Fix spelling error from envirnoment to environment
  _program-areas/environment-card.yml
Due: none

Renamed the image file from envirnoment.png to environment.png
  assets/images/program-areas/environment.png
Due: none

update Docker info in contributing.md section 2.7.b
  CONTRIBUTING.md
Due: prettier --write

Updated existing profile for Sanja Nijhawan in Home Unite Us Leadership section. (#7628)
  _projects/home-unite-us.md
Due: prettier --write

update the hyperlinks in the table of contents to reflect the new titles
  CONTRIBUTING.md
Due: prettier --write

Added conditional statement to check whether the repository is the HFLA website before commencing workflow.
  .github/workflows/schedule-fri-0700.yml
Due: none

Add Allison to 311 Data Page
  _projects/311-data.md
Due: prettier --write

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Update inactive-members.md
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
Due: prettier --write

Update trim-inactive-members.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Due: prettier --write, eslint

Update check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

replaced ready for dev lead label with ready for merge team label in add-github-handle.md
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write
