Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

fixed path
  .github/workflows/codeql.yml
Due: none

Delete create issues job
  .github/workflows/codeql-create-issues-job.yml
Due: none

Remove push
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Update comments
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Removed `setTimeout` and moved GraphQL code to its own function.
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added separate async function(s) for handling the minimization of comments, including waiting between GraphQL requests
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

logging node id for debugging purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

logging node id withing `minimizeComments()` for debugging purposes
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Changed syntax of for-each loop in `minimizeComments` to better comply with conventional JS syntax
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Revised console output for minimizing comments
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Adjusted attribute syntax for comment minimization logging
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Simplified comment minimization output
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Removed pythonic syntax from console output, causing error
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Moved tracking issue to its own action item line to enable tracking
  github-actions/trigger-issue/create-codeql-issues/issue-body.md
Due: prettier --write

Remove workflow from create issues file name
  .github/workflows/codeql-create-issues.yml
Due: none

Update comment
  .github/workflows/codeql-scan-job.yml
Due: none

Remove Matt Pereira
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove MP GitHub
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove MP Slack
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove MP links
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove MP role
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove MP github-handle
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove MP name
  _projects/civic-tech-jobs.md
Due: prettier --write

Remove Sarah Sanger
  _projects/civic-tech-jobs.md
Due: prettier --write

Added github-handle option for Eva Kwock 6706 (#6768)
  _projects/design-systems.md
Due: prettier --write

Add Jimmy Juarez
  _projects/civic-tech-jobs.md
Due: prettier --write

Add google-apps-scripts/ to cspell ignorePaths (#6788)
  cspell.json
Due: none

Add back space
  _projects/civic-tech-jobs.md
Due: prettier --write

Add back spaces
  _projects/civic-tech-jobs.md
Due: prettier --write

Update project profile in `projects/civic-tech-jobs.md` (#6774)
  _projects/civic-tech-jobs.md
Due: prettier --write

Updates profiles in the Civic Tech Jobs project pages
  _projects/civic-tech-jobs.md
Due: prettier --write

Update get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Due: prettier --write, eslint

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Due: none

Update wr-schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
Due: none
