Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

Removes Sijia Pitts from lucky parking
  _projects/lucky-parking.md
Due: prettier --write

Refactor Slack image icon with svg icon in communities of practice page (#5896)
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Due: prettier --write, stylelint --syntax=scss

removed empty lines 311-data.md
  _projects/311-data.md
Due: prettier --write

Update 311-data.md
  _projects/311-data.md
Due: prettier --write

include meetingName on Project Meetings page (#5906)
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Update Project Profile: 311 Data (Update Technologies, Add Ahmed Awadalla & Edwin Jue to project team) (#5889)
  _projects/311-data.md
Due: prettier --write

Updates Tony Delgado's info in access-the-data.md to include an as of now empty github-handle variable. (#5910)
  _projects/access-the-data.md
Due: prettier --write

remove hkatz & added zaranylucas from engineering cop (#5917)
  _data/internal/communities/engineering.yml
Due: none

Change Clickable Area from Arrow to Filter Section Heading (#5908)
  assets/js/current-projects.js
  assets/js/toolkit.js
Due: prettier --write, eslint

Update 311-data.md (#5922)
  _projects/311-data.md
Due: prettier --write

deleted Carlos Olivas
  _projects/lucky-parking.md
Due: prettier --write

Add Mireya V. Aviles to leadership
  _projects/expunge-assist.md
Due: prettier --write

removed sam sengupta manually as suggested
  _projects/lucky-parking.md
Due: prettier --write

Removed Yujin Chang from Project Profile: Lucky Parking (#5901)
  _projects/lucky-parking.md
Due: prettier --write

Jodie Chen removed
  _projects/lucky-parking.md
Due: prettier --write

Merge branch 'gh-pages' into accomplishments-about-page-different-years-4188
  _includes/about-page/about-card-accomplishments.html
  assets/js/about.js
  pages/about.html
Due: prettier --write, eslint

edits
  assets/js/about.js
Due: prettier --write, eslint

removed 1Password from tools
  _projects/website.md
Due: prettier --write

Corrected Name misspelling
  _projects/311-data.md
Due: prettier --write

Removed Michael and added Ryan & Anna to 311 data team on UI (#5912)
  _projects/311-data.md
Due: prettier --write

syntax-clean
  _sass/components/_about.scss
Due: prettier --write, stylelint --syntax=scss

linter-clean-up
  _sass/components/_about.scss
Due: prettier --write, stylelint --syntax=scss

syntax-clean-up
  _sass/components/_about.scss
Due: prettier --write, stylelint --syntax=scss

updates lucky parking profile page
  _projects/lucky-parking.md
Due: prettier --write

Add Mireya V. Aviles to leadership (#5927)
  _projects/expunge-assist.md
Due: prettier --write

deleted Carlos Olivas (#5925)
  _projects/lucky-parking.md
Due: prettier --write

Edit and additions to Project Profile Card template (#5918)
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Due: none

remove comment from contributing.md (#5915)
  CONTRIBUTING.md
Due: prettier --write

Resolve merge conflict
  _projects/lucky-parking.md
Due: prettier --write

Resolve conflict merge
  _projects/lucky-parking.md
Due: prettier --write

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint
