Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

change default type
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Due: none

chore: Update project profile for Expunge Assist
  _projects/heart.md
Due: prettier --write

Updating section 2.7.d in CONTRIBUTING.md - 7042
  CONTRIBUTING.md
Due: prettier --write

img Tag Refactor - Contributing.md - 5146
  CONTRIBUTING.md
Due: prettier --write

added github handle element for Tien Yuan in heart.md
  _projects/heart.md
Due: prettier --write

Remove backslashes and refactor img tag
  CONTRIBUTING.md
Due: prettier --write

added github handle element for Tien Yuan in heart.md (#7069)
  _projects/heart.md
Due: prettier --write

Update Roslyn's role to Developer Co-Lead
  _projects/website.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

added github-handle
  _projects/heart.md
Due: prettier --write

Fixes #7046 Added github handle to _projects/heart.md for Jason LaManque.
  _projects/heart.md
Due: prettier --write

Edited Github Handle
  _projects/heart.md
Due: prettier --write

Update Roslyn's role to Developer Co-Lead (#7070)
  _projects/website.md
Due: prettier --write

Updated spell checker to ignore memebers names
  cspell.json
Due: none

img Tag Refactor in Contributing.md page (#7068)
  CONTRIBUTING.md
Due: prettier --write

Resolve merge conflicts
  _data/external/github-data.json
Due: none

removed food-oasis.md file from commit
  _projects/food-oasis.md
Due: prettier --write

modified max height on dropdown show all css rule to fix scroll inconsistencies
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Updated exclude patterns
  codeql-queries/exclude-patterns.ql
Due: none

Update CONTRIBUTING.md Section 2.7.d with correct stream branch
  CONTRIBUTING.md
Due: prettier --write

Added github-handle to Adrian Inchauste's section (#7074)
  _projects/heart.md
Due: prettier --write

edited Samantha Hyler to be Co-lead AND added Emma Thrash (#7040)
  _projects/expunge-assist.md
Due: prettier --write

updated-team-meeting-data-6920 (#7043)
  _data/external/vrms_data.json
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

Resolve merge conflicts (p2)
  _data/external/github-data.json
Due: none

6786 remove bop from untaggedrepoids in get project datajs (#7062)
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Update to ProjectV2
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update to ProjectV2
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update to ProjectV2
  .github/workflows/issue-trigger.yml
Due: none

Update CONTRIBUTING.md Section 2.7.d with correct stream branch (#7082)
  CONTRIBUTING.md
Due: prettier --write

Fix minor erros
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
