Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Fix minor erros
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Revert "Fix minor erros"
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Revert "Notify multiple issues 4505"
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/multiple-issue-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Test
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Revert "Test"
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update to ProjectV2
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Update Inactive Members JSON
  github-actions/utils/_data/inactive-members.json
Due: none

Revert "updated-team-meeting-data-6920 (#7043)"
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

Revert "updated-team-meeting-data-6920 (#7043)" (#7086)
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Due: prettier --write, eslint

test
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Revert "test"
  .github/workflows/issue-trigger.yml
Due: none

test
  .github/workflows/issue-trigger.yml
Due: none

Revert "Test"
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

update to ProjectV2
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Modified spell-check-audit.md file, changed label Feature: Administrative to feature: spelling (#7036)
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Due: prettier --write

PBB migration "Issue Trigger" (#7053)
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Add github handle for Marie (#7059)
  _projects/heart.md
Due: prettier --write

Add github-handle for Roland Abregorivas in heart.md #6940 (#7009)
  _projects/heart.md
Due: prettier --write

Added github-handle to Adrian Inchauste's section (#7074)
  _projects/heart.md
Due: prettier --write

PBB migration "Move Closed Issues" (#7056)
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/sort-closed-issues.js
Due: prettier --write, eslint
