Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Adjusted spacing in try-catch and if-else blocks
  github-actions/trigger-schedule/github-data/get-project-data.js
Due: prettier --write, eslint

Add "github-handle" variable for Anousha Shadrach in tdm-calculator.md (#7234)
  _projects/tdm-calculator.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

added github-handle to Emily Eldar (#7227)
  _projects/home-unite-us.md
Due: prettier --write

added github handle to Eric Vennemeyer
  _projects/tech-work-experience.md
Due: prettier --write

added github-handle to 7181 (#7261)
  _projects/home-unite-us.md
Due: prettier --write

added github-handle property for Andrew Salvatore
  _projects/tech-work-experience.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Edit CONTRIBUTING.md at 3.1.b.iv (#7255)
  CONTRIBUTING.md
Due: prettier --write

Created github-handle variable for Stephen Barkley-Yeung (#7257)
  _projects/home-unite-us.md
Due: prettier --write

Added github-handle for Brian #7249 (#7258)
  _projects/tech-work-experience.md
Due: prettier --write

add github handle for bryce lednar (#7263)
  _projects/home-unite-us.md
Due: prettier --write

added github handle in home-unite-us.md (#7269)
  _projects/home-unite-us.md
Due: prettier --write

added github handle for Rachel Bracker (#7271)
  _projects/home-unite-us.md
Due: prettier --write

added github handle to Eric Vennemeyer (#7285)
  _projects/tech-work-experience.md
Due: prettier --write

removed unused variable in getDayString
  assets/js/right-col-content.js
Due: prettier --write, eslint

added github-handle varible under name:Natalie Aguilar
  _projects/tech-work-experience.md
Due: prettier --write

Add github-handle for Jessie Liu in _projects/tech-work-experience.md
  _projects/tech-work-experience.md
Due: prettier --write

Add github-handle variable to Jessie Liu
  _projects/tech-work-experience.md
Due: prettier --write

Add comment to PR if there's no linked issue (#7228)
  .github/workflows/pull-request-trigger.yml
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

7078 post pbb migration refactor schedule friday workflow (#7260)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

add github handle for Angela Darosh
  _projects/tech-work-experience.md
Due: prettier --write

Added github-handle variable for Eli Marietta
  _projects/design-systems.md
Due: prettier --write

Added github-handle variable for Robert Schacht,Michael Morgan,Liz Zheng,Asad Haider,Gala Stojnic,Zeynep Aslan
  _projects/design-systems.md
Due: prettier --write

added github handle
  _projects/tech-work-experience.md
Due: prettier --write

added github-handle
  _projects/tdm-calculator.md
Due: prettier --write

Change Github to GitHub in title
  pages/communities-of-practice.html
Due: prettier --write

Add github-handle for Tyler Thome in home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

changed name: Lize Zheng to include github-handle variable
  _projects/design-systems.md
Due: prettier --write
