Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

added a meeting description
  assets/js/project.js
Due: prettier --write, eslint

Replace all instances of `Peer Led` to `Community Led` (#6965)
  _data/internal/communities/engineering.yml
  _data/internal/communities/ui-ux.yml
Due: none

Removed an extract from the file .github/ISSUE_TEMPLATE/pre-work-template--dev.md (#6975)
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Due: prettier --write

Add github handle for Charlotte Soestini
  _projects/heart.md
Due: prettier --write

Added github-handle to Lex Roman
  _projects/heart.md
Due: prettier --write

Add github-handle for Adrian Inchauste in heart.md #6934
  _projects/heart.md
Due: prettier --write

github-handle variable added for Gian Reyes Dionisio #6937
  _projects/heart.md
Due: prettier --write

added github-handle under Shawn's name
  _projects/ems-triage-tracker.md
Due: prettier --write

updated svg refernce and styling + removed redundant svg
  _data/internal/toolkitresources.yml
  _includes/svg/icon-github-small.svg
  _sass/components/_toolkit.scss
Due: prettier --write, stylelint --syntax=scss

Added github-handle to Lex Roman (#6983)
  _projects/heart.md
Due: prettier --write

improved accessible naming for resource icons in project pages (#6972)
  _includes/resource-card.html
Due: prettier --write

fixed github handle
  _projects/heart.md
Due: prettier --write

Set GitHub handle for Adrian Inchauste to blank as per ticket #6934
  _projects/heart.md
Due: prettier --write

link change in CONTRIBUTING 1.5
  CONTRIBUTING.md
Due: prettier --write

Added 'github-handle' to Victoria Wu's section
  _projects/food-oasis.md
Due: prettier --write

capitalized git bash to Git Bash
  CONTRIBUTING.md
Due: prettier --write

Updated CONTRIBUTING.md 2.7.f (#6974)
  CONTRIBUTING.md
Due: prettier --write

updated svg refernce and styling + removed redundant svg (#6985)
  _data/internal/toolkitresources.yml
  _includes/svg/icon-github-small.svg
  _sass/components/_toolkit.scss
Due: prettier --write, stylelint --syntax=scss

Standardize Slack channels using ID in CONTRIBUTING.md - 6858
  CONTRIBUTING.md
Due: prettier --write

pinned search bar on mobile
  _sass/elements/_dropdown_filters.scss
  _sass/elements/_search-bar.scss
Due: prettier --write, stylelint --syntax=scss

updated URL
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write

Standardize Slack channels using ID in CONTRIBUTING.md - 6858 (#6992)
  CONTRIBUTING.md
Due: prettier --write

link change in CONTRIBUTING 1.5 (#6989)
  CONTRIBUTING.md
Due: prettier --write

Restored original formatting that was changed by 'Prettier' extension
  _projects/food-oasis.md
Due: prettier --write

Added files per issue #6548 to update codeql
  .github/workflows/codeql-scan-job.yml
  codeql-queries/exclude-patterns.ql
Due: none

Updated path for exclude-patterns.ql
  .github/workflows/codeql-scan-job.yml
Due: none

Added GitHub handle for Shawn Duenas (#6916)
  _projects/ems-triage-tracker.md
Due: prettier --write

Add github handle for Charlotte Soestini (#6980)
  _projects/heart.md
Due: prettier --write

removed Gayle Martin from leadership
  _projects/website.md
Due: prettier --write

Update Project page's GitHub icon to icon-github.svg (#6973)
  _includes/resource-card.html
  _includes/svg/icon-github-color.svg
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

checked speel on mainyml
  _data/navigation/social.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
