Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Fix paragraphs alignment in the About Us and Join Us pages (#7467)
  _sass/elements/_containers.scss
Due: prettier --write, stylelint --syntax=scss

Capitalize Slack as proper noun (#7514)
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Due: prettier --write

Replaced 'Github' with 'GitHub' in wins.js (#7523)
  assets/js/wins.js
Due: prettier --write, eslint

Update _project-page.scss
  _sass/components/_project-page.scss
Due: prettier --write, stylelint --syntax=scss

updated technologies list
  _projects/civic-tech-jobs.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

Added github handle for Brett Beekley
  _projects/hellogov.md
Due: prettier --write

Updated github handle for Brett Beekley
  _projects/hellogov.md
Due: prettier --write

Updated PR template code to add instructions regarding CodeQL scanning annotations
  .github/pull_request_template.md
Due: prettier --write

remove excess console.logs, match module names
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

full substitution of labelId values
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Added GitHub-handle for Brett Beekley in hellogov.md (#7529)
  _projects/hellogov.md
Due: prettier --write

updated technologies list (#7526)
  _projects/civic-tech-jobs.md
Due: prettier --write

updated leadership list
  _projects/civic-tech-jobs.md
Due: prettier --write

removed slash at the closure image tag on section 2.4.b as requested in the issue #7097 (#7522)
  CONTRIBUTING.md
Due: prettier --write

Update Inactive Members JSON
  github-actions/utils/_data/inactive-members.json
Due: none

Add Danielle Hanson Aras profile under website project
  _projects/website.md
Due: prettier --write

added github handle under Natalie aguilar
  _projects/tech-work-experience.md
Due: prettier --write

added github handle under Natalie aguilar (#7557)
  _projects/tech-work-experience.md
Due: prettier --write

replace github with GitHub
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
