Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

Formatting
  .github/workflows/pr-verification.yml
Due: none

Change Github to GitHub
  _data/internal/communities/ui-ux.yml
Due: none

Replace Github with GitHub in engineering.yml (#7131)
  _data/internal/communities/engineering.yml
Due: none

Replace Github with GitHub in project-managment.yml (#7136)
  _data/internal/communities/project-management.yml
Due: none

change Github to GitHub for proper capitalization (#7141)
  redirections/github.md
Due: prettier --write

Remove Drake Nguyen from Website project (#7153)
  _projects/website.md
Due: prettier --write

Update check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

Replace GitHub with GitHub in ui-ux.yml (#7150)
  _data/internal/communities/ui-ux.yml
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

Refactor "Issue Trigger" for issue created from "Inactive Members" (#7132)
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/utils/_data/status-field-ids.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Update meeting times on CoP page
  _data/internal/communities/data-science.yml
  _data/internal/communities/engineering.yml
  _data/internal/communities/ops.yml
  _data/internal/communities/project-management.yml
  _data/internal/communities/ui-ux.yml
  assets/js/communities-of-practice.js
  pages/communities-of-practice.html
Due: prettier --write, eslint

added overscroll-behavior to prevent project list scroll when pointer is on filter toolbar
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Update issue templates
  .github/ISSUE_TEMPLATE/post-an-open-role.md
  .github/ISSUE_TEMPLATE/skills-issue.md
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Update skills-issue--developer.md
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Fixed typos and added a link
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Update Special Notes section
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Fixed typos and added a link up through section 1 (#7199)
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write
