Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update contributor and language data
  _data/external/github-data.json
Due: none

Fixed capitalization of slack to Slack
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Due: prettier --write

Add github-handle to Zeynep Aslan in _projects/design-systems.md (#7376)
  _projects/design-systems.md
Due: prettier --write

add github handle (#7371)
  _projects/design-systems.md
Due: prettier --write

Add github-handle for Erik Guntner in home-unite-us.md (#7370)
  _projects/home-unite-us.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Refactor to use mutateIssueStatus, queryIssueInfo, and statusFieldIds utils
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Revert formatComment util
  github-actions/utils/format-comment.js
Due: prettier --write, eslint

Revert commentObject
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Remove formatComment util import
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

added github handleunder Natliae Aguilars name
  _projects/tech-work-experience.md
Due: prettier --write

Reverted url changes made for testing purposes
  google-apps-scripts/gh-requests/Code.js
Due: prettier --write, eslint

Removed large, commented-out section of unused code I wrote
  google-apps-scripts/wins-form-responses/Code.js
Due: prettier --write, eslint

Removed large, commented-out section of code I wrote
  google-apps-scripts/wins-form-responses/appsscript.json
Due: none

Revert "Removed large, commented-out section of code I wrote" duplicate that accidentally committed changes to appsscript.json
  google-apps-scripts/wins-form-responses/appsscript.json
Due: none

added github-handle for liz zheng
  _projects/design-systems.md
Due: prettier --write

Add formatComment function
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update issueComplexityPermitted
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update postComment arguments order
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

7183: Add github-handle for Raji Pradheap in home-unite-us.md
  _projects/home-unite-us.md
Due: prettier --write

Changes to help solve CodeQL altert logging errors (#7375)
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Fixed capitalization of slack to Slack (#7385)
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Due: prettier --write

Add github-handle for Yingjie Ou #7241 (#7368)
  _projects/tech-work-experience.md
Due: prettier --write

added github-handle for liz zheng (#7406)
  _projects/design-systems.md
Due: prettier --write

7183: Add github-handle for Raji Pradheap in home-unite-us.md (#7408)
  _projects/home-unite-us.md
Due: prettier --write

Update hide-issue-comment.js
  github-actions/utils/hide-issue-comment.js
Due: prettier --write, eslint
