Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update add-update-label-weekly-config.yml
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: none

Update add-update-label-weekly.yml
  .github/workflows/add-update-label-weekly.yml
Due: none

Update comments and label names in workflow config
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: none

Update label names and project board statuses
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: none

Update GitHub Actions workflow for weekly label updates
  .github/workflows/add-update-label-weekly.yml
Due: none

Update post-to-skills-issue.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Include PM Team in membership check
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

transition f. schedule-fri-0700 to add-update-label-weekly ATO
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/update-instructions-template.md
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: prettier --write, eslint

change dry-run inputs
  .github/workflows/add-update-label-weekly.yml
Due: none

add days back to configs
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: none

Made issue changes to contributing file
  CONTRIBUTING.md
Due: prettier --write

Added space in 2.7.e title
  CONTRIBUTING.md
Due: prettier --write

Added Kerstin Carson to website project pg
  _projects/website.md
Due: prettier --write

Added Farnaz to list of leadership
  _projects/expunge-assist.md
Due: prettier --write

modified current-projects.js to remove OR logic from filter
  assets/js/current-projects.js
Due: prettier --write, eslint

fixed order to have Farnaz after another manager
  _projects/expunge-assist.md
Due: prettier --write

Removed Mugdh Chauhan from website team
  _projects/website.md
Due: prettier --write

Changed img tag on CONTRIBUTING.md pg
  CONTRIBUTING.md
Due: prettier --write

fix: remove deprecated version field from docker-compose.yml
  docker-compose.yml
Due: none

Removed `github.repository` test value and placed back default value `hackforla/website`
  .github/workflows/activity-trigger.yml
Due: none

Fix skills issue number assignment and team membership check to remove test values
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Remove Julia Gab from UI/UX leadership list
  _data/internal/communities/ui-ux.yml
Due: none

Add MKDocs to Civic Tech Jobs technologies
  _projects/civic-tech-jobs.md
Due: prettier --write

Add AWS to Civic Tech Jobs technologies
  _projects/civic-tech-jobs.md
Due: prettier --write

fix: rename Google Data Studio to Looker Studio in tech-work-experience.md
  _projects/tech-work-experience.md
Due: prettier --write

add explicit default permissions
  .github/workflows/add-update-label-weekly.yml
Due: none

adding current bot to list
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: none

fix: replace Twitter bird logo with X logo in footer
  _data/navigation/social.yml
  _includes/svg/icon-twitter.svg
  _includes/svg/icon-x.svg
Due: none

add default permissions, replace hard-coded url with secret
  .github/workflows/update-label-directory.yml
Due: none

Clarify comments about Google Apps Script URL
  .github/workflows/update-label-directory.yml
Due: none

Add permissions to flag issues unlabeled after deletion
  .github/workflows/flag-issues-unlabeled-after-deletion.yml
Due: none

Update CONTRIBUTING.md Section 1.1 onboarding instructions
  CONTRIBUTING.md
Due: prettier --write

Add complexity0, er, and epic to labels to exclude for check
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/check-issue-labels-and-linked-prs.js
Due: prettier --write, eslint

added civic tech legal info and hr to footer
  _includes/footer.html
  _sass/components/_footer.scss
Due: prettier --write, stylelint --syntax=scss

fix typo: includes()
  github-actions/check-closed-issue-for-linked-pr/check-for-linked-issue/check-issue-labels-and-linked-prs.js
Due: prettier --write, eslint

fix: Improve accessibility for X social link by adding aria_label field to social.yml and updating footer.html to use item.aria_label with fallback to item.name
  _data/navigation/social.yml
  _includes/footer.html
Due: prettier --write

Fix #8539: Remove incorrect comma in Project Meetings page
  pages/project-meetings.html
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
