Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Create Issue Template for adding github-handle to leadership member data in project file. #5541 (#5883)
  .github/ISSUE_TEMPLATE/add-github-handle.md
Due: prettier --write

Issues #5881: Add github-handle field
  _projects/access-the-data.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

changed url to slack link under links (#5952)
  _projects/civic-tech-jobs.md
Due: prettier --write

Removed Diedrich Chavarria (#5951)
  _projects/lucky-parking.md
Due: prettier --write

Validate that the github action fails incorrectly
  .github/workflows/vrms-data.yml
Due: none

Sample-accomplishmetns-clean-up
  _data/internal/accomplishments.yml
Due: none

update cspell with Undebate
  cspell.json
Due: none

updates external links by adding rel
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

Fix bug and consolidate "Schedule Thursday" into "Schedule Monthly" 4788 (#5467)
  .github/workflows/issue-trigger.yml
  .github/workflows/schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/comment-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-list.js
Due: prettier --write, eslint

Delete .github/workflows/schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly-PREV.yml
Due: none

Create inactive-members.md
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
Due: prettier --write

Update inactive-members.md
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
Due: prettier --write

Update create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Due: prettier --write, eslint

Create issue-template-parser.js
  github-actions/utils/issue-template-parser.js
Due: prettier --write, eslint

Update issue-template-parser.js
  github-actions/utils/issue-template-parser.js
Due: prettier --write, eslint

Delete .github/workflows/schedule-monthly-PREV.yml (#5967)
  .github/workflows/schedule-monthly-PREV.yml
Due: none

replaced text in section 2.7.f i
  CONTRIBUTING.md
Due: prettier --write

Accomplishments edit by year 4188 (#5932)
  _data/internal/accomplishments.yml
  _includes/about-page/about-card-accomplishments.html
  _sass/components/_about.scss
  assets/js/about.js
  pages/about.html
Due: prettier --write, stylelint --syntax=scss, eslint

add global variables to utils functions arguments
  github-actions/pr-instructions/post-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/format-comment.js
  github-actions/utils/get-timeline.js
  github-actions/utils/post-issue-comment.js
Due: prettier --write, eslint

updated padding further
  _sass/elements/_dropdown_filters.scss
Due: prettier --write, stylelint --syntax=scss

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
