Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

added github handle (#7342)
  _projects/design-systems.md
Due: prettier --write

add github-handle for John Darragh (#7348)
  _projects/tdm-calculator.md
Due: prettier --write

Update update-label-directory.js
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

Add github handle for Joshua Fishman in tech-work-experience
  _projects/tech-work-experience.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

pull testing image
  docker-compose.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Due: prettier --write

Removed api-actionnetwork.js script #7092
  _layouts/default.html
Due: prettier --write

removed liquid statment include calendar.html (#7340)
  pages/index.html
Due: prettier --write

updated project profile for Will Gillis (#7343)
  _projects/website.md
Due: prettier --write

Add tyler thome GitHub handle 7175 (#7346)
  _projects/home-unite-us.md
Due: prettier --write

Add github handle for Joshua Fishman in tech-work-experience (#7350)
  _projects/tech-work-experience.md
Due: prettier --write

Removed calendar component
  _includes/calendar.html
Due: prettier --write

removed space from the beginning of img tag line
  CONTRIBUTING.md
Due: prettier --write

Update add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

Fix bug in "Schedule Friday" workflow (#7323)
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

add github handle variable for Hyun Joo Sandy Oh
  _projects/tech-work-experience.md
Due: prettier --write

added github-handle property for Robert Schacht
  _projects/design-systems.md
Due: prettier --write

consolidate functions and refactor
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/utils/hide-issue-comment.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Removed calendar component (#7361)
  _includes/calendar.html
Due: prettier --write

Add Samuel kowitch GitHub handle #7189 (#7345)
  _projects/home-unite-us.md
Due: prettier --write

added github-handle property for Robert Schacht (#7365)
  _projects/design-systems.md
Due: prettier --write

add github handle variable for Hyun Joo Sandy Oh (#7364)
  _projects/tech-work-experience.md
Due: prettier --write

refactor, reuse, and consolidate
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/hide-issue-comment.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

fix issueNum in query-issue-info.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Add github-handle for Yingjie Ou #7241
  _projects/tech-work-experience.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
