Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

Update pull-request-trigger.yml
  .github/workflows/pull-request-trigger.yml
Due: none

Create check-linked-issue.js
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

Update check-linked-issue.js
  github-actions/trigger-pr/check-linked-issue.js
Due: prettier --write, eslint

updated instructions as specified in the issue
  CONTRIBUTING.md
Due: prettier --write

added github-handle to Emily Eldar
  _projects/home-unite-us.md
Due: prettier --write

changes made
  README.md
Due: prettier --write

change Github to GitHub
  pages/getting-started.html
Due: prettier --write

changes made
  _projects/access-the-data.md
Due: prettier --write

edit to contributing.md
  CONTRIBUTING.md
Due: prettier --write

Updated Sec 3.1.b.iv Note text
  CONTRIBUTING.md
Due: prettier --write

Add "github-handle" variable for Anousha Shadrach in tdm-calculator.md
  _projects/tdm-calculator.md
Due: prettier --write

added github handle
  _projects/tdm-calculator.md
Due: prettier --write

change made
  CNAME
  README.md
Due: prettier --write

update sec 2.3 to reflect new project board
  CONTRIBUTING.md
Due: prettier --write

fixed toc
  CONTRIBUTING.md
Due: prettier --write

further fixes
  CONTRIBUTING.md
Due: prettier --write

even more fixes
  CONTRIBUTING.md
Due: prettier --write

yet another fix to the toc
  CONTRIBUTING.md
Due: prettier --write

changes
  README.md
Due: prettier --write

delete extra period
  CONTRIBUTING.md
Due: prettier --write

Updated CONTRIBUTING Sec 2.3 to reflect new Project Board links (#7238)
  CONTRIBUTING.md
Due: prettier --write

Update Img tag
  CONTRIBUTING.md
Due: prettier --write

Update schedule-daily-1100.yml to run in test repo
  .github/workflows/schedule-daily-1100.yml
Due: none

Fixed typo secret name
  .github/workflows/schedule-daily-1100.yml
Due: none
