Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

implement steps to move closed issues in PBB
  .github/workflows/move-closed-issues.yaml
Due: none

added github-handle to Kristelle Gumaru (#7436)
  _projects/home-unite-us.md
Due: prettier --write

Added GitHub handle for Moji Jimoh (#7445)
  _projects/youthjusticenav.md
Due: prettier --write

Update Expunge Assist with new description, add tools, wiki and overview link (#7446)
  _projects/expunge-assist.md
  assets/pdfs/Expunge-Assist-One-Sheet.pdf
Due: prettier --write

Fix email link in Right to be forgotten section of privacy-policy.yml
  _data/internal/privacy-policy.yml
Due: none

add mailto to email link
  _data/internal/privacy-policy.yml
Due: none

Update link name from Github to GitHub
  _projects/ems-triage-tracker.md
Due: prettier --write

add semicolons
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/sort-closed-issues.js
Due: prettier --write, eslint

prep for testing
  github-actions/utils/mutate-issue-status.js
Due: prettier --write, eslint

add vrms events filter "test"
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

error-handling checks
  github-actions/utils/query-issue-info.js
Due: prettier --write, eslint

Update label directory
  github-actions/utils/_data/label-directory.json
Due: none

Check Developer's Complexity Allowance for Issue Assignments (#6853)
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

resolving merge conflicts
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Fix email link in Right to be forgotten section of privacy-policy.yml (#7461)
  _data/internal/privacy-policy.yml
Due: none

Added github-handle for Michael Morgan. (#7428)
  _projects/design-systems.md
Due: prettier --write

remove duplicated code
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

add label key references
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: prettier --write, eslint

updating branch
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
  .github/workflows/schedule-fri-0700.yml
  .github/workflows/update-label-directory.yml
  _data/external/github-data.json
  _data/external/vrms_data.json
  _data/internal/privacy-policy.yml
  _projects/design-systems.md
  _projects/expunge-assist.md
  _projects/home-unite-us.md
  _projects/tech-work-experience.md
  _projects/youthjusticenav.md
  assets/pdfs/Expunge-Assist-One-Sheet.pdf
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/_data/label-directory.json
  github-actions/utils/hide-issue-comment.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/retrieve-label-directory.js
  github-actions/utils/update-label-directory.js
Due: prettier --write, eslint

changed the label that is added when a developer tries to open multiple issues
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

refactor step 2
  .github/workflows/move-closed-issues.yaml
Due: none

refactor steps 2-4 into step 2 and incorporate into move-closed-issues.js
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/move-closed-issues.js
Due: prettier --write, eslint

Alignm paragraphs in About and Join Us pages.
  _sass/components/_about.scss
  _sass/components/_join-us.scss
  pages/about.html
  pages/join-us.html
Due: prettier --write, stylelint --syntax=scss

Replace Github with GitHub _data/internal/communities/ops.yml
  _data/internal/communities/ops.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/add-github-handle.md
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---add.md
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---remove.md
Due: prettier --write

removed comment
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
