Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Completed CoP leadership info update: 4948. (#5054)
  _data/internal/communities/engineering.yml
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

removed Johnny Wu
  _projects/website.md
Due: prettier --write

Need to make branch for this
  _ANotes/Roles.md
  _projects/metro-ontime.md
Due: prettier --write

Updated tools data for green earth
  _projects/green-earth-os.md
Due: prettier --write

refactor tools data
  _projects/hellogov.md
Due: prettier --write

Added Johnny Wu along with the updates
  _projects/website.md
Due: prettier --write

Refactor Tools data for open-community-survey.md (#5096)
  _projects/open-community-survey.md
  assets/js/current-projects-check.js
Due: prettier --write, eslint

refactored img tag - removed slash from join us card/volunteer
  pages/join-us.html
Due: prettier --write

updated api-events.js so that if event does not have hflaWebsiteUrl, redirect to the event githubUrl
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Tools in _projects .md files refactored
  _projects/access-the-data.md
  _projects/brigade-organizers-playbook.md
  _projects/civic-tech-index.md
  _projects/civic-tech-structure.md
  _projects/design-systems.md
  _projects/ems-triage-tracker.md
  _projects/engage.md
  _projects/food-oasis.md
  _projects/green-earth-os.md
  _projects/hellogov.md
  _projects/home-unite-us.md
  _projects/lucky-parking.md
  _projects/metro-ontime.md
  _projects/open-community-survey.md
  _projects/public-tree-map.md
  _projects/tech-work-experience.md
  _projects/website.md
  _projects/youthjusticenav.md
Due: prettier --write

Refactor img tag (#5049)
  pages/getting-started.html
Due: prettier --write

update project information for Access the Data (#5056)
  _projects/access-the-data.md
Due: prettier --write

refactored the tools data in the .md file from a string to a list
  _projects/youthjusticenav.md
Due: prettier --write

#4810-Fixed-auto-formatting-of-quotation-marks-from-prettier-extension
  .vscode/settings.json
  _projects/metro-ontime.md
Due: prettier --write

Update website.md with changes for add Adrian Ang 5036
  _projects/website.md
Due: prettier --write

refactor-tools-data-emstriage
  _projects/ems-triage-tracker.md
Due: prettier --write

Updated meeting day on cop-engr #5003.
  _data/internal/communities/engineering.yml
Due: none

update tools from string to list (#5061)
  _projects/lucky-parking.md
Due: prettier --write

Refactor `tools` data from string to list (#5063)
  _projects/website.md
Due: prettier --write

refactored tools data (#5093)
  _projects/access-the-data.md
Due: prettier --write

Change tools data from string to list (#5097)
  _projects/design-systems.md
Due: prettier --write

style: added spacing between donation circles and in-kind component
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

refrac: removed in-kind component from being in its own div
  _includes/join-donate-card.html
Due: prettier --write

style: centered in-kind title and added line-breaks to css classes
  _includes/join-donate-card.html
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

style: added spacing between donation circles and in-kind on mobile
  _sass/components/_join-us.scss
Due: prettier --write, stylelint --syntax=scss

Updated the banner img tag, header-hero-image, by removing the slash , / , at the end of the tag
  pages/join-us.html
Due: prettier --write

Refactor tools data
  _projects/civic-tech-index.md
Due: prettier --write

rkwang added to end of leadership variable (#5058)
  _projects/website.md
Due: prettier --write

refactored img tag - removed slash from join us card/volunteer (#5105)
  pages/join-us.html
Due: prettier --write
