Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, stylelint --syntax=scss, eslint --fix

.lintstagedrc.json:

{
    "*.css": "stylelint",
    "*.scss": "stylelint --syntax=scss",
    "*.js": "eslint --fix"
  }

Update to use slim image linter
  .eslintrc.json
  .github/workflows/lint-scss.yml
  .github/workflows/linter-js.yml
Due: none

Edit file
  .eslintrc.json
Due: none

Remove bad data
  .eslintrc.json
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: eslint --fix

Add changes to file to fix eslint error
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: eslint --fix

Revert "added labels to blank issue form with dependency yml file"
  .github/ISSUE_TEMPLATE/blank-issue-form-with-dependency.yml
Due: none

Install eslint-config-prettier and prettier
  package-lock.json
  package.json
Due: none

Add some settings for prettier
  .prettierrc.json
  .vscode/settings.json
Due: none

Adjust settings for eslint and lintstage
  .eslintrc.json
  .lintstagedrc.json
Due: none

Add prettierignore file
  .prettierignore
Due: none

Set prettier back to default styling
  .prettierrc.json
Due: none

Bad code example
  bad-code.js
Due: eslint --fix

Add bad code
  preCommitTest.js
Due: eslint --fix

Bad css
  preCommitTest.css
Due: stylelint

Add some bad code
  anotherbadcommit.js
Due: eslint --fix

Integrate Donation GIF component into Join Us donation include, refactor associated SCSS on page and component (#4926)
  _includes/join-donate-card.html
  _sass/components/_donate-components.scss
  _sass/components/_join-us.scss
Due: stylelint --syntax=scss

Update sch fri 4946 (#4947)
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Due: eslint --fix

Update contributor and language data
  _data/external/github-data.json
Due: none

added labels code below description
  .github/ISSUE_TEMPLATE/blank-issue-form-with-no-dependency.yml
Due: none

Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Due: none

Updates wr pr instructions 4934 (#4937)
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/post-comment.js
Due: eslint --fix

Updates issue trigger 4933 (#4936)
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: eslint --fix

pr-template example edit (#4925)
  CONTRIBUTING.md
Due: none

Remove blank roles from Wins filter options (#4701)
  assets/js/wins.js
Due: eslint --fix

Update meeting data
  _data/external/vrms_data.json
Due: none

Update Labels: Issue Template: wiki--research-plan-review (#4928)
  .github/ISSUE_TEMPLATE/wiki--research-plan-review----replace-with-name-of-page-.md
Due: none

removed Brian Mui from Site Project Team
  _projects/website.md
Due: none

Update getting-started.html
  pages/getting-started.html
Due: none

Img tag refactor getting started page 4418 (#4731)
  pages/getting-started.html
Due: none

Update eslintrc.json to use eslint-config-prettier
  .eslintrc.json
Due: none

Update json setting to remove EOL setting
  .vscode/settings.json
Due: none

Add .gitattributes file and text=auto to normalize EOL
  .gitattributes
Due: none
