Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

added github handle for Bonnie Wolfe (#6841)
  _projects/ems-triage-tracker.md
Due: prettier --write

Update contributor and language data
  _data/external/github-data.json
Due: none

added github handle for Sam H
  _projects/civic-tech-structure.md
Due: prettier --write

Changes to engage.md file, added github_handle: under Ryan Mayott
  _projects/engage.md
Due: prettier --write

Add personal access token
  .github/workflows/issue-trigger.yml
Due: none

Create developer-complexity-reminder.md file
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
Due: prettier --write

Add script file to check complexity eligibility
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update preliminary-update-comment.js - Refactor makeComment function - Add check complexity eligibility condition
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update to work with array of replacements
  github-actions/utils/format-comment.js
Due: prettier --write, eslint

Revert makeComment function
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update commentObject propertie
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update developer-complexity-reminder
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
Due: prettier --write

Update columnName exception
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update commentObject properties
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Due: prettier --write, eslint

Update secret token for testing
  .github/workflows/move-closed-issues.yaml
Due: none

Update checkComplexityEligibility function
  .github/workflows/move-closed-issues.yaml
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Add exception for ER and epic issues
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Update exception logic
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Due: prettier --write, eslint

Clean up code and replace secret tokens
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
Due: prettier --write, eslint

Remove extra space
  .github/workflows/issue-trigger.yml
Due: none

Changed name of env secret `HACKFORLA_REPO_TOKEN` to `HACKFORLA_ADMIN_TOKEN`
  .github/workflows/schedule-fri-0700.yml
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

dropdown menus styling finished
  _includes/main-nav.html
  _sass/components/_header-nav.scss
Due: prettier --write, stylelint --syntax=scss

dropdown links dynamically rendering
  _data/navigation/main.yml
  _includes/main-nav.html
  _sass/components/_header-nav.scss
Due: prettier --write, stylelint --syntax=scss

add github-handle to Richa Srivastava
  _projects/ems-triage-tracker.md
Due: prettier --write

worked on adding githandle for Dr. Stephen M. Hubbard
  _projects/ems-triage-tracker.md
Due: prettier --write

created desktop-medium breakpoint and updated media query in _old_dropdown_filters
  _sass/elements/_old_dropdown_filters.scss
  _sass/variables/_layout.scss
Due: prettier --write, stylelint --syntax=scss

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
