Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update contributor and language data
  _data/external/github-data.json
Due: none

Update meeting data
  _data/external/vrms_data.json
Due: none

added Ida Valenzuela as leadership for Civic Tech Jobs (#7579)
  _projects/civic-tech-jobs.md
Due: prettier --write

Removed Farah Khan from Home Unite Us Project
  _projects/home-unite-us.md
Due: prettier --write

replaced Github with GitHub
  _projects/tech-work-experience.md
Due: prettier --write

added Kevin Yu's profile to Civic Tech Job section of Projects page
  _projects/civic-tech-jobs.md
Due: prettier --write

Update retrieve-label-directory.js
  github-actions/utils/retrieve-label-directory.js
Due: prettier --write, eslint

Update Project Profile: VRMS Add Jack Haeger
  _projects/vrms.md
Due: prettier --write

Removed Farah Khan from Home Unite Us Project (#7588)
  _projects/home-unite-us.md
Due: prettier --write

This changes are done to test the codeql scan when the PR is submitted. We want to understand if the error is detected right away or not.
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

Update Project Profile: VRMS Add Jack Haeger (#7592)
  _projects/vrms.md
Due: prettier --write

branch conflict
  _projects/civic-tech-jobs.md
Due: prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
