Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Delete .github/workflow-configs/add-update-instructions-template.md
  .github/workflow-configs/add-update-instructions-template.md
Due: prettier --write

Update skills-directory.json to reflect latest skills directory updates from 10-19
  github-actions/utils/_data/skills-directory.json
Due: none

Update post-to-skills-issue.js lines 54-58 to reflect third requested change in t-will-gillis' review
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Install Add Update Label Weekly and project-specific files
  .github/workflow-configs/label-directory.yml
  .github/workflow-configs/template/add-update-instructions-template.md
  .github/workflows/add-update-label-weekly.yml
Due: prettier --write

Add `hfla-workflow-rollout[bot]` to accepted PR authors
  github-actions/trigger-pr-target/verify-pr.js
Due: prettier --write, eslint

Install Add Update Label Weekly and project-specific files
  .github/workflow-configs/add-update-label-weekly-config.yml
  .github/workflow-configs/label-directory.yml
  .github/workflow-configs/template/add-update-instructions-template.md
  .github/workflows/add-update-label-weekly.yml
Due: prettier --write

issue resolved
  _projects/civic-tech-jobs.md
Due: prettier --write

Delete .github/workflow-configs/add-update-label-weekly-config.yml
  .github/workflow-configs/add-update-label-weekly-config.yml
Due: none

Delete .github/workflow-configs/label-directory.yml
  .github/workflow-configs/label-directory.yml
Due: none

Delete .github/workflow-configs/template/add-update-instructions-template.md
  .github/workflow-configs/template/add-update-instructions-template.md
Due: prettier --write

Delete .github/workflows/add-update-label-weekly.yml
  .github/workflows/add-update-label-weekly.yml
Due: none

first issue:Add github-handle for Glen Paul Florendo (#7800)
  _projects/lucky-parking.md
Due: prettier --write

Allow geolocation for Food Oasis widget
  _layouts/project.html
  _projects/food-oasis.md
Due: prettier --write

added github-handle var for A. Haider in design-systems.md
  _projects/design-systems.md
Due: prettier --write

add Ryan Keller project profile
  _projects/website.md
Due: prettier --write

added github handle under leroy
  _projects/youthjusticenav.md
Due: prettier --write

added github handle under Anousha
  _projects/youthjusticenav.md
Due: prettier --write

Added Github Handle for Bonnie Wolf
  _projects/youthjusticenav.md
Due: prettier --write

Changed instances of 'Github' and 'github' within the toolkitresources.yml file to 'GitHub'.
  _data/internal/toolkitresources.yml
Due: none

added github handle for Rabia Shaikh
  _projects/youthjusticenav.md
Due: prettier --write

Update skills-directory.js updated lookupSkillsDirectory and updateSkillsDirectory to return the correct information
  github-actions/utils/skills-directory.js
Due: prettier --write, eslint

added github-handle variable to Seymour in Lucky Parking Project Team
  _projects/lucky-parking.md
Due: prettier --write

removed unused slack icon
  assets/images/communities-of-practice/slack-self-invite.svg
Due: none

update devops name 8388
  _data/internal/communities/ops.yml
  assets/js/communities-of-practice.js
Due: prettier --write, eslint

Updated Links Variable for Github
  _data/internal/communities/ops.yml
Due: none

changed program-areas to true
  _config.yml
Due: none

added program-areas to default
  _config.yml
Due: none

renamed citizen-engagement.html and moved to _layouts
  _layouts/program-area-pages.html
Due: prettier --write

made card appear based on page program area
  _includes/program-area-pages-cards.html
  _layouts/program-area-pages.html
Due: prettier --write

Update skills-directory.js
  github-actions/utils/skills-directory.js
Due: prettier --write, eslint

Update post-to-skills-issue.js
  github-actions/activity-trigger/post-to-skills-issue.js
Due: prettier --write, eslint

Update repository name and action version in workflow
  .github/workflows/add-update-label-weekly.yml
Due: none

Update Slack channel in workflow config
  github-actions/workflow-configs/add-update-label-weekly-config.yml
Due: none

made title reflect the page
  _layouts/program-area-pages.html
Due: prettier --write

renamed _citizen_engagement.scss file and updated import in main.scss
  _sass/components/_program-area-pages.scss
  _sass/main.scss
Due: prettier --write, stylelint --syntax=scss

Update add-update-label-weekly.yml
  .github/workflows/add-update-label-weekly.yml
Due: none

Delete target/github-actions/workflow-configs/_data/label-directory.json
  target/github-actions/workflow-configs/_data/label-directory.json
Due: none

Create label-directory.json
  github-actions/workflow-configs/_data/label-directory.json
Due: none

reverting to normal
  _data/internal/communities/ops.yml
  assets/js/communities-of-practice.js
Due: prettier --write, eslint

Update activity-trigger.yml line 25 for testing changes made to PR #8370
  .github/workflows/activity-trigger.yml
Due: none

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
