Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

adds blank github handle to Muhi-Dean
  _projects/100-automations.md
Due: prettier --write

Update cspelljson with false positive term vrms (#6013)
  cspell.json
Due: none

Update check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Due: prettier --write, eslint

Update post-labels-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Due: prettier --write, eslint

Update add-labels-template.md
  github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md
Due: prettier --write

removed Code for America alt text on about us page
  _includes/about-page/about-card-sponsors.html
Due: prettier --write

Refactor HTML and JavaScript so Projects and Projects-Check page share same files (#5978)
  _projects/tdm-calculator.md
  _projects/youthjusticenav.md
  assets/js/current-projects.js
  pages/projects-check.html
Due: prettier --write, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write: (((any of: *.css) or (any of: *.scss)) or (any of: *.js)) or (any of: *.{md,html})
  stylelint --syntax=scss: any of: *.scss
  eslint: any of: *.js
