Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

created vrms-event.js and moved sortByDate and timeFomat funcs to that file and call appendMeetingTimes from vrms-events now
  assets/js/project.js
  assets/js/utility/api-events.js
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

right-col-content.js also gets event data from vrms-event.jsand is formatted and inserted in right-col-content.js
  assets/js/right-col-content.js
  assets/js/utility/api-events.js
  assets/js/utility/vrms-events.js
Due: prettier --write, eslint

Added redirections to ignorepath in cspell (#6767)
  cspell.json
Due: none

Fix profiles order in projects/civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Due: prettier --write

updated jobs
  .github/workflows/issue-trigger.yml
Due: none

updates to feature branch folder
  github-actions/trigger-issue/feature-branch-comment/add-feature-branch-comment.js
  github-actions/trigger-issue/feature-branch-comment/feature-branch-comment.md
  github-actions/trigger-issue/feature-branch-comment/hide-feature-branch-comment.js
Due: prettier --write, eslint

added github handle for Faezeh Faezipour (#6776)
  _projects/design-systems.md
Due: prettier --write

Fix pull request instruction bug
  github-actions/pr-instructions/create-instruction.js
Due: prettier --write, eslint

Add google-apps-scripts/ to cspell ignorePaths
  cspell.json
Due: none

Updated element tag from <h2> to <p> for lines 5 to 9 (#6782)
  _includes/events-page/header-container-content.html
Due: prettier --write

Add push to create issues job
  .github/workflows/codeql-create-issues-job.yml
Due: none

remove unused weekday variable declaration from api-events.js (#6686)
  assets/js/utility/api-events.js
Due: prettier --write, eslint

Test if CodeQL alert flips from open to closed
  _includes/wins-page/wins-filter-template.html
Due: prettier --write

Revert test changes
  _includes/wins-page/wins-filter-template.html
Due: prettier --write

Add if condition to codeql-create-issues-job
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Remove if condition
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Delete create issues workflow and move codeql scan job to create issues job
  .github/workflows/codeql-create-issues-job.yml
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Added github-handle for Khanh Cao in design-systems.md
  _projects/design-systems.md
Due: prettier --write

Revert previous commit
  .github/workflows/codeql-create-issues-job.yml
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

Update pr-instructions.yml
  .github/workflows/pr-instructions.yml
Due: none

Update pull-request-trigger.yml
  .github/workflows/pull-request-trigger.yml
Due: none

Added github-handle for Thad Kerosky in civic-tech-structure.md
  _projects/civic-tech-structure.md
Due: prettier --write

Added github-handle for D.Nyasetia
  _projects/design-systems.md
Due: prettier --write

Add line breaks to markdown template files
  github-actions/pr-instructions/pr-instructions-contrib-template.md
  github-actions/pr-instructions/pr-instructions-header.md
  github-actions/pr-instructions/pr-instructions-template.md
Due: prettier --write

Update pr-instructions-template.md
  github-actions/pr-instructions/pr-instructions-template.md
Due: prettier --write

Update pr-instructions-contrib-template.md
  github-actions/pr-instructions/pr-instructions-contrib-template.md
Due: prettier --write

Customize PR instructions based on files modified (#6790)
  .github/workflows/pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
  github-actions/pr-instructions/pr-instructions-header.md
  github-actions/pr-instructions/pr-instructions-template.md
Due: prettier --write, eslint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update set-pr-labels.js
  github-actions/trigger-pr/set-pr-labels.js
Due: prettier --write, eslint

Resolved merge conflict
  _projects/design-systems.md
Due: prettier --write

Add inputs under workflow dispatch and secret to create issues job
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

testing to update codeql.yml
  .github/exclude-patterns.ql
  .github/workflows/codeql.yml
Due: none

Remove push
  .github/workflows/codeql-create-issues-job.yml
Due: none

Add secrets: inherit
  .github/workflows/codeql-create-issues-workflow.yml
Due: none

fixed path
  .github/workflows/codeql.yml
Due: none

Consolidate create issues workflows
  .github/workflows/codeql-create-issues-workflow.yml
Due: none
