Repository hackforla/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, stylelint --syntax=scss, eslint

.lintstagedrc.json:

{
   "*.css": ["stylelint", "prettier --write"],
   "*.scss": ["stylelint --syntax=scss", "prettier --write"],
   "*.js": ["eslint", "prettier --write"],
   "*.{md,html}": "prettier --write"
 }

Completed CoP info update: 4948.
  _data/internal/communities/engineering.yml
Due: none

Update wins.js file remove liquid
  assets/js/wins.js
Due: prettier --write, eslint

Update lint-js.yml file to test change
  .github/workflows/lint-js.yml
Due: none

Create wins.liquid file
  assets/js/wins.liquid
Due: none

Update rules on eslintrc.json file
  .eslintrc.json
Due: none

Separate liquid and js for hamburger-nav
  assets/js/hamburger-nav.js
  assets/js/hamburger-nav.liquid
Due: prettier --write, eslint

donation component fix
  _includes/about-page/about-card-donations.html
  _sass/components/_donate-components.scss
Due: prettier --write, stylelint --syntax=scss

update project information for Access the Data
  _projects/access-the-data.md
Due: prettier --write

Update meeting data
  _data/external/vrms_data.json
Due: none

Update contributor and language data
  _data/external/github-data.json
Due: none

rkwang added to end of leadership variable
  _projects/website.md
Due: prettier --write

add moreProjectIds var
  _layouts/project.html
  assets/js/project.js
Due: prettier --write, eslint

able to display languages from 2+ repos
  assets/js/project.js
Due: prettier --write, eslint

add comment where data comes from
  assets/js/project.js
Due: prettier --write, eslint

only working for one additional repo, not 3+
  assets/js/current-projects.js
Due: prettier --write, eslint

update tools from string to list
  _projects/lucky-parking.md
Due: prettier --write

Refactored the tools data from a string to a list
  _projects/website.md
Due: prettier --write

Refactored tools data from string to list
  _projects/website.md
Due: prettier --write

changed tools data from string to list
  _projects/website.md
Due: prettier --write

changed tools data to list and removed tools header
  _projects/website.md
Due: prettier --write

refactored tools data from string to list, and added a hello to the description to test docket updating
  _projects/website.md
Due: prettier --write

Refactored tools data from a string to a list
  _projects/website.md
Due: prettier --write

project page showing languages from 2 repos
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/project.js
Due: prettier --write, eslint

working changes to current-projects
  assets/js/current-projects.js
Due: prettier --write, eslint

refactored tools data
  _projects/access-the-data.md
Due: prettier --write

remove some console.logs
  assets/js/current-projects.js
  assets/js/project.js
Due: prettier --write, eslint

added Johnny Wu to the website team
  _projects/website.md
Due: prettier --write

update of open-community-survey.md tools data from a string to a list so it displays correctly on all projects pages for the community survey card
  _projects/open-community-survey.md
Due: prettier --write

Change tools data from string to list
  _projects/design-systems.md
Due: prettier --write

update current-project-check.js where it references data from open-community-survey.md, remove quotes around project.tools json so tools displays as list and not as string representation of list
  assets/js/current-projects-check.js
Due: prettier --write, eslint

Update project profile: Add Ronald Paek to Website Team (#5052)
  _projects/website.md
Due: prettier --write

removed ending slash for IMG tag-issue #5027 (#5043)
  _includes/about-page/about-card-accomplishments.html
Due: prettier --write
